---
import { Image } from 'astro:assets';

const {
    src,
    alt,
    widths = [],
    sizes,
    breakout = true,
    wrapper = '',
    credit = '',
    ...attrs
} = Astro.props;

const resolvedWidths = widths.length ? widths : [400, 768, src.width];
const resolvedSizes = sizes || `100vw`;

const imageProps = {
    src,
    alt,
    ...attrs,
    quality: 'high',
    sizes: resolvedSizes,
    widths: resolvedWidths,
};
---

{
    wrapper || breakout == true || credit.length ? (
        <div class:list={[wrapper || '', breakout && 'breakout']}>
            <Image {...imageProps} />
            {credit && ``}
        </div>
    ) : (
        <Image {...imageProps} />
    )
}
