---
import { Image } from 'astro:assets';
import Credit from '~/components/images/Credit.astro';

interface Props {
    src: ImageMetadata;
    alt: string;
    densities?: number[];
    breakout?: boolean;
    format?: 'avif' | 'webp' | 'jpeg' | 'png';
    wrapper?: string;
    credit?: string;
    width?: number;
}

const {
    src,
    alt,
    densities = [1.5, 2],
    breakout = true,
    format = 'webp',
    wrapper = '',
    credit = '',
    width = 768,
    ...attrs
} = Astro.props;

const imageProps = {
    src,
    alt,
    quality: 'high',
    width,
    densities,
    ...attrs,
};
---

{
    wrapper || breakout == true || credit.length ? (
        <div
            class:list={[
                'group relative',
                wrapper || '',
                breakout && 'col-[full]',
            ]}
        >
            <Image {...imageProps} />
            {credit && <Credit credit={credit} />}
        </div>
    ) : (
        <Image {...imageProps} />
    )
}
