---
import { Image } from 'astro:assets';

const {
    src,
    alt,
    densities = [1.5, 2],
    breakout = true,
    format = 'webp',
    wrapper = '',
    credit = '',
    width = '768',
    ...attrs
} = Astro.props;

const imageProps = {
    src,
    alt,
    ...attrs,
    quality: 'high',
    densities,
    width,
};
---

{
    wrapper || breakout == true || credit.length ? (
        <div class:list={[wrapper || '', breakout && 'breakout']}>
            <Image {...imageProps} />
            {credit && ``}
        </div>
    ) : (
        <Image {...imageProps} />
    )
}
