---
import { Image } from 'astro:assets';
import Credit from '~/components/images/Credit.astro';

const {
    src,
    alt,
    densities = [1.5, 2],
    breakout = true,
    format = 'webp',
    wrapper = '',
    credit = '',
    width = '768',
    ...attrs
} = Astro.props;

const imageProps = {
    src,
    alt,
    ...attrs,
    quality: 'high',
    densities,
    width,
};
---

{
    wrapper || breakout == true || credit.length ? (
        <div
            class:list={[
                'group relative',
                wrapper || '',
                breakout && 'breakout',
            ]}
        >
            <Image {...imageProps} />
            {credit && <Credit {credit} />}
        </div>
    ) : (
        <Image {...imageProps} />
    )
}
