---
import { Picture } from 'astro:assets';
import Credit from '~/components/images/Credit.astro';
interface Props {
    src: ImageMetadata;
    alt: string;
    class: string;
    widths?: number[];
    width?: number;
    sizes?: string;
    breakout?: boolean;
    formats?: Array<'avif' | 'webp' | 'jpeg' | 'png'>;
    wrapper?: string;
    credit?: string;
}
const {
    src,
    alt,
    class: className,
    widths = [],
    sizes,
    formats = ['avif', 'webp'],
    breakout = true,
    wrapper = '',
    credit = '',
    ...attrs
} = Astro.props;

const resolvedWidths = widths.length ? widths : [400, 768, 1920, src.width];
const resolvedSizes = sizes || `100vw`;

const imageProps = {
    ...(className ? { class: className } : {}),
    src,
    alt,
    ...attrs,
    quality: 'high',
    sizes: resolvedSizes,
    widths: resolvedWidths,
    formats,
};
---

{
    wrapper || breakout == true || credit.length ? (
        <div
            class:list={[
                'group relative',
                wrapper || 'my-fluid-l [&+*]:mt-fluid-l',
                breakout && 'col-[full]',
            ]}
        >
            <Picture {...imageProps} />
            {credit && <Credit {credit} />}
        </div>
    ) : (
        <Picture {...imageProps} />
    )
}
