---
import { Picture } from 'astro:assets';
import utilities from '~/data/utilities.json';
import Credit from '~/components/Images/Credit.astro';

const {
    src,
    widths = [],
    sizes,
    formats = ['avif', 'webp'],
    breakout = true,
    wrapper = '',
    credit = '',
    ...attrs
} = Astro.props;

const resolvedWidths = widths.length ? widths : [400, 768, 1920, src.width];
const resolvedSizes = sizes || `100vw`;

const imageProps = {
    src,
    ...attrs,
    quality: 'high',
    sizes: resolvedSizes,
    widths: resolvedWidths,
    formats,
};
---

{
    wrapper || breakout == true || credit.length ? (
        <div
            class:list={[
                'group relative',
                wrapper || '',
                breakout ? utilities.breakout : '',
            ]}
        >
            <Picture {...imageProps} />
            {credit && <Credit {credit} />}
        </div>
    ) : (
        <Picture {...imageProps} />
    )
}
