---
import { Icon } from 'astro-icon/components';
interface Props {
    credit: string;
}
const { credit } = Astro.props;
---

<div
    class="absolute bottom-fl-space-2xs left-fl-space-s z-50 grid cursor-help grid-cols-credit items-center overflow-hidden rounded-l-full text-left text-content-light opacity-0 transition-opacity duration-300 group-hover:opacity-100"
    x-data="credit"
>
    <button
        class="bg-primary z-10 flex items-center justify-center rounded-full p-fl-space-3xs"
        @click="toggle()"
        aria-label="show image credit"
        x-bind:aria-expanded="open ? 'true' : 'false'"
    >
        <Icon name="lucide:camera" class="h-fl-space-s w-fl-space-s" />
        <span class="sr-only">Show image credit</span>
    </button>
    <div
        class="z-0 -ml-fl-space-2xs hidden origin-left rounded rounded-l-none bg-black/75 py-fl-space-3xs pl-fl-space-xs pr-fl-space-3xs text-fl-step--2/none"
        x-cloak
        x-ref="credit"
    >
        Credit: <Fragment set:html={credit} />
    </div>
</div>

<script>
    import Alpine from 'alpinejs';

    import { timeline, type TimelineDefinition } from 'motion';

    const toggleCreditVisibility = (visible, target) => {
        if (target) {
            const show: TimelineDefinition = [
                [
                    target,
                    {
                        opacity: [1],
                    },
                ],
                [
                    target,
                    {
                        transform: ['translateX(-100%)', 'translateX(0%)'],
                    },
                    { duration: 0.75 },
                ],
            ];
            const hide: TimelineDefinition = [
                [
                    target,
                    {
                        opacity: [1, 0],
                    },
                ],
            ];

            if (visible) {
                target.classList.toggle('hidden', !visible);
                timeline(show, {}).finished.then(() => {});
            } else {
                timeline(hide, {}).finished.then(() => {
                    target.classList.toggle('hidden', !visible);
                });
            }
        }
    };

    document.addEventListener('alpine:init', () => {
        Alpine.data('credit', () => ({
            open: false,
            toggle() {
                this.open = !this.open;
            },
            init() {
                this.$watch('open', (value) => {
                    toggleCreditVisibility(value, this.$refs.credit);
                });
            },
        }));
    });
</script>
