---
import { Icon } from 'astro-icon/components';
interface Props {
    credit: string;
}
const { credit } = Astro.props;
---

<div
    class="bottom-fluid-2xs left-fluid-s text-content-light absolute z-50 grid cursor-help grid-cols-(--gtc-credit) items-center overflow-hidden rounded-l-full text-left opacity-0 transition-opacity duration-300 group-hover:opacity-100"
    x-data="credit"
>
    <button
        class="bg-primary p-fluid-3xs z-10 flex items-center justify-center rounded-full"
        @click="toggle()"
        aria-label="show image credit"
        x-bind:aria-expanded="open ? 'true' : 'false'"
    >
        <Icon name="lucide:camera" class="h-fluid-s w-fluid-s" />
        <span class="sr-only">Show image credit</span>
    </button>
    <div
        class="-ml-fluid-2xs py-fluid-3xs pl-fluid-xs pr-fluid-3xs text-step--2/none z-0 hidden origin-left rounded-xs rounded-l-none bg-black/75"
        x-cloak
        x-ref="credit"
    >
        Credit: <Fragment set:html={credit} />
    </div>
</div>

<script>
    import { timeline, type TimelineDefinition } from 'motion';

    const toggleCreditVisibility = (visible, target) => {
        if (target) {
            const show: TimelineDefinition = [
                [
                    target,
                    {
                        opacity: [1],
                    },
                ],
                [
                    target,
                    {
                        transform: ['translateX(-100%)', 'translateX(0%)'],
                    },
                    { duration: 0.75 },
                ],
            ];
            const hide: TimelineDefinition = [
                [
                    target,
                    {
                        opacity: [1, 0],
                    },
                ],
            ];

            if (visible) {
                target.classList.toggle('hidden', !visible);
                timeline(show, {}).finished.then(() => {});
            } else {
                timeline(hide, {}).finished.then(() => {
                    target.classList.toggle('hidden', !visible);
                });
            }
        }
    };

    document.addEventListener('alpine:init', () => {
        Alpine.data('credit', () => ({
            open: false,
            toggle() {
                this.open = !this.open;
            },
            init() {
                this.$watch('open', (value) => {
                    toggleCreditVisibility(value, this.$refs.credit);
                });
            },
        }));
    });
</script>
