---
import { Icon } from 'astro-icon/components';

interface Props {
    credit: string;
    class?: string;
    dir?: 'ltr' | 'rtl';
}
const { credit, dir = 'ltr', class: ClassName } = Astro.props;
---

<div
    class:list={[
        'z-50 grid cursor-help grid-cols-(--gtc-credit) items-center overflow-hidden rounded-s-full text-content-dark opacity-0 transition-opacity duration-300 group-hover:opacity-100',
        ClassName && ClassName,
    ]}
    {dir}
    x-data="credit"
>
    <button
        class="z-10 flex items-center justify-center rounded-full bg-action p-fluid-3xs text-content-light"
        @click="toggle()"
        aria-label="show image credit"
        x-bind:aria-expanded="open ? 'true' : 'false'"
    >
        <Icon name="lucide:camera" class="h-fluid-s w-fluid-s" />
        <span class="sr-only">Show image credit</span>
    </button>
    <div
        class:list={[
            dir === 'ltr' ? 'origin-left' : 'origin-right',
            'z-0 -ms-fluid-2xs hidden origin-left rounded-xs rounded-s-none bg-white py-fluid-3xs ps-fluid-xs pe-fluid-3xs text-step--2/none',
        ]}
        x-cloak
        x-ref="credit"
    >
        Credit: <Fragment set:html={credit} />
    </div>
</div>

<script>
    import { animate, type AnimationSequence } from 'motion';

    const toggleCreditVisibility = (visible, target, dir) => {
        if (target) {
            const sequenceOpen: AnimationSequence = [
                [
                    target,
                    {
                        transform:
                            dir === 'ltr'
                                ? ['translateX(-100%)', 'translateX(0%) ']
                                : ['translateX(100%)', 'translateX(0%) '],
                    },
                    { duration: 0.25 },
                ],
            ];

            const sequenceShut: AnimationSequence = [
                [
                    target,
                    {
                        transform:
                            dir === 'ltr'
                                ? ['translateX(0%)', 'translateX(-100%) ']
                                : ['translateX(0%)', 'translateX(100%) '],
                    },
                    { duration: 0.25 },
                ],
            ];

            if (visible) {
                target.classList.toggle('hidden', !visible);

                animate(sequenceOpen);
            } else {
                animate(sequenceShut).then(() => {
                    target.classList.toggle('hidden', !visible);
                });
            }
        }
    };

    document.addEventListener('alpine:init', () => {
        Alpine.data('credit', () => ({
            open: false,
            direction: 'ltr',
            toggle() {
                this.open = !this.open;
            },
            init() {
                this.direction = this.$el.getAttribute('dir') || 'ltr';
                this.$watch('open', (value) => {
                    toggleCreditVisibility(
                        value,
                        this.$refs.credit,
                        this.direction
                    );
                });
            },
        }));
    });
</script>
