---
import { Icon } from 'astro-icon/components';

interface Props {
    bg?: string;
    breakout?: boolean;
    caption?: string;
    class?: string;
    credit?: string;
    grid?: string;
}

const {
    bg = 'bg-surface-raised',
    breakout = false,
    caption,
    class: className,
    credit,
    grid = 'grid grid-cols-1 items-center gap-fluid-m',
    ...attrs
} = Astro.props;
---

<figure
    class:list={[
        'not-prose not-rte relative',
        className ? className : 'my-fluid-xl',
    ]}
    {...attrs}
>
    <div
        class:list={[
            bg,
            breakout ? 'breakout' : '-mx-fluid-s-m rounded-tight p-fluid-s-m',
            grid,
        ]}
    >
        <slot />
    </div>
    {
        caption && (
            <figcaption class="mt-fluid-xs text-content-quiet gap-fluid-xs text-step--1 flex w-full flex-col justify-between leading-snug md:flex-row">
                <p>{caption}</p>
                {credit && (
                    <span class="gap-fluid-3xs text-step--2/tight text-content-quiet grid grid-cols-(--gtc-icon)">
                        <Icon
                            name="lucide:camera"
                            class="h-fluid-xs w-fluid-xs"
                        />
                        <Fragment set:html={credit} />
                    </span>
                )}
            </figcaption>
        )
    }
</figure>
