---
import { Icon } from 'astro-icon/components';

interface Props {
    bg?: string;
    breakout?: boolean;
    caption?: string;
    class?: string;
    credit?: string;
    grid?: string;
}

const {
    bg = 'bg-surface-raised',
    breakout = false,
    caption,
    class: className,
    credit,
    grid = 'grid grid-cols-1 items-center gap-fl-space-m',
    ...attrs
} = Astro.props;
---

<figure
    class:list={[
        'not-prose relative',
        className ? className : 'my-fl-space-xl',
    ]}
    {...attrs}
>
    <div
        class:list={[
            bg,
            breakout
                ? 'breakout'
                : '-mx-fl-space-s-m rounded-tight p-fl-space-s-m',
            grid,
        ]}
    >
        <slot />
    </div>
    {
        caption && (
            <figcaption class="mt-fl-space-xs flex w-full flex-col justify-between gap-fl-space-xs text-fl-step--1 leading-snug md:flex-row">
                <p>{caption}</p>
                {credit && (
                    <span class="grid grid-cols-icon gap-fl-space-3xs text-fl-step--2/fl-space-xs text-content-quiet">
                        <Icon
                            name="lucide:camera"
                            class="h-fl-space-xs w-fl-space-xs"
                        />
                        <Fragment set:html={credit} />
                    </span>
                )}
            </figcaption>
        )
    }
</figure>
