---
import { Picture } from 'astro:assets';
import Credit from '~/components/images/Credit.astro';
interface Props {
    src: ImageMetadata;
    alt: string;
    class: string;
    widths?: number[];
    width?: number;
    sizes?: string;
    breakout?: boolean;
    formats?: Array<'avif' | 'webp' | 'jpeg' | 'png'>;
    wrapper?: string;
}

const {
    src,
    alt,
    class: className,
    widths = [],
    sizes,
    formats = ['avif', 'webp'],
    wrapper = '',
    ...attrs
} = Astro.props;

const resolvedWidths = widths.length ? widths : [360, 960, 1400, src.width];
const resolvedSizes = sizes || '100vw';

const imageProps = {
    ...(className ? { class: className } : {}),
    src,
    alt,
    ...attrs,
    quality: 'high',
    sizes: resolvedSizes,
    widths: resolvedWidths,
    formats,
};
---

{
    wrapper ? (
        <div class:list={[wrapper || '', ]}>
            <Picture {...imageProps} />
            <slot/>
        </div>
    ) : (
        <Picture {...imageProps} />
        <slot/>
    )
}
