---
import { Picture } from 'astro:assets';
import Credit from '~/components/Images/Credit.astro';

const {
    src,
    widths = [],
    sizes,
    formats = ['avif', 'webp'],
    wrapper = '',
    credit = '',
    ...attrs
} = Astro.props;

const resolvedWidths = widths.length ? widths : [360, 960, 1400, src.width];
const resolvedSizes = sizes || `100vw`;

const imageProps = {
    src,
    ...attrs,
    quality: 'high',
    sizes: resolvedSizes,
    widths: resolvedWidths,
    formats,
};
---

{
    wrapper || credit.length ? (
        <div class:list={[wrapper || '', credit && 'group']}>
            <Picture {...imageProps} />
            {credit && <Credit {credit} />}
        </div>
    ) : (
        <Picture {...imageProps} />
    )
}
