---
import { Image } from 'astro:assets';
import utilities from '~/data/utilities.json';

const {
    src,
    widths = [],
    sizes,
    breakout = true,
    wrapper = '',
    credit = '',
    ...attrs
} = Astro.props;

const resolvedWidths = widths.length ? widths : [240, 540, 720, src.width];
const resolvedSizes =
    sizes ||
    `(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${src.width}px`;

const imageProps = {
    src,
    ...attrs,
    quality: 'high',
    sizes: resolvedSizes,
    widths: resolvedWidths,
};
---

{
    (
        <a
            href={src.src}
            data-lightbox
            data-pswp-width={src.width}
            data-pswp-height={src.height}
            class="relative block h-full w-full overflow-hidden rounded shadow-sm hover:cursor-pointer"
        >
            <Image {...imageProps} />
        </a>
    )
}
