---
import { Image } from 'astro:assets';
import { type SwiperClient } from '~/data/clients';
import 'swiper/css';
import 'swiper/css/navigation';
import 'swiper/css/pagination';

interface Props {
    clients: SwiperClient[];
}

const { clients } = Astro.props;
---

<div
    class="swiper swiper--clients border-line-quiet bg-surface-raised rounded border-x-2"
>
    <div class="swiper-wrapper py-fluid-s not-prose flex items-center">
        {
            clients.map((client, i) => (
                <div class="slide swiper-slide px-fluid-m flex items-center justify-center">
                    <Image
                        src={client.src}
                        alt={client.alt}
                        width={300}
                        loading="eager"
                        class="max-h-fluid-l max-w-fluid-3xl w-auto opacity-60 grayscale transition-all hover:opacity-100 hover:filter-none"
                    />
                </div>
            ))
        }
    </div>
</div>

<script>
    import Swiper from 'swiper';
    import { Autoplay, Scrollbar } from 'swiper/modules';

    {
        const swiperClients = new Swiper('.swiper--clients', {
            // Install modules
            modules: [Autoplay, Scrollbar],
            speed: 1500,
            loop: true,
            loopAddBlankSlides: false,
            autoplay: {
                pauseOnMouseEnter: true,
                disableOnInteraction: false,
                delay: 6000,
            },
            breakpoints: {
                300: {
                    slidesPerView: 3,
                    slidesPerGroup: 3,
                },
                768: {
                    slidesPerView: 4,
                    slidesPerGroup: 4,
                },
                1024: {
                    slidesPerView: 6,
                    slidesPerGroup: 6,
                },
            },
        });
    }
</script>
