---
import Slide from '~/components/Swiper/HomeSlide.astro';
import Next from '~/components/Swiper/Next.astro';
import Prev from '~/components/Swiper/Prev.astro';
import { type SwiperImage } from '~/data/home';
import 'swiper/css';
import 'swiper/css/pagination';

export interface Props {
    slides: SwiperImage[];
    class?: string | ImageMetadata;
}

const { slides } = Astro.props;
---

<div
    class="swiper swiper--home group h-full w-full transition-opacity duration-300 cloak:opacity-0"
    data-cloak
>
    <div
        class="absolute inset-0 h-full w-full bg-[#06928b] bg-radial-[at_50%_75%] from-[#14ccc3] via-[#15586d] to-[#02303b] to-90% mask-(--mask-blob_1_185) mask-cover mask-bottom-left mask-no-repeat before:absolute before:inset-0 before:grains-dark-default dark:before:grains-dark-loud"
    >
    </div>
    <div class="swiper-wrapper relative flex">
        {slides.map((slide) => <Slide slide={slide} />)}
    </div>
    <Prev
        swiper="swiper--home"
        class="left-0 hidden text-content-light md:block"
    />
    <Next
        swiper="swiper--home"
        class="right-0 hidden text-content-light md:block"
    />
    <div
        class="swiper--home__pagination absolute bottom-0! z-10 pr-fluid-m text-right"
    >
    </div>
</div>

<script>
    import Swiper from 'swiper';
    import {
        Navigation,
        Pagination,
        Autoplay,
        Scrollbar,
        EffectCreative,
    } from 'swiper/modules';
    import { animate, type AnimationSequence } from 'motion';

    const swiperClass = '.swiper--home';
    const swiperDom = document.querySelector(swiperClass);

    if (swiperDom !== null) {
        let swiperHome = new Swiper(swiperClass, {
            // Install modules
            modules: [
                Navigation,
                Pagination,
                Autoplay,
                Scrollbar,
                EffectCreative,
            ],
            slidesPerView: 'auto',
            spaceBetween: 0,
            // loop: true,
            // centeredSlides: true,
            effect: 'creative',
            creativeEffect: {
                limitProgress: 2,
                perspective: false,
                prev: {
                    scale: 0.15,
                    opacity: 0,
                    translate: ['-10%', 0, -300],
                },
                next: {
                    opacity: 1,
                    scale: 0.85,
                    translate: ['100%', 0, -500],
                },
            },
            speed: 250,
            autoplay: {
                pauseOnMouseEnter: true,
                disableOnInteraction: false,
                delay: 7500,
            },
            navigation: {
                nextEl: `${swiperClass}__next`,
                prevEl: `${swiperClass}__prev`,
            },
            pagination: {
                el: `${swiperClass}__pagination`,
                clickable: true,
                bulletClass:
                    'cursor-pointer mx-fluid-3xs transition-all duration-300 inline-block w-fluid-2xs h-fluid-2xs border border-surface-raised bg-surface-raised rounded-full',
                bulletActiveClass:
                    'w-fluid-s! shadow-raised inset-shadow-xs inset-shadow-secondary-shade/25 border-transparent !bg-secondary',
            },
            // watchOverflow: true, // disable if only single slide
            on: {
                afterInit: () => {
                    swiperDom.removeAttribute('x-cloak');
                },
                autoplayStop: () => {
                    swiperHome.autoplay.start();
                },
                autoplayResume: () => {},
            },
        });

        let animationInProgress = false;

        const mountSlide = (swiperInstance) => {
            animationInProgress = true;
            const allSlides = swiperDom.querySelectorAll('.swiper-slide');
            const currentSlide =
                swiperInstance.slides[swiperInstance.activeIndex];
            const caption = currentSlide.querySelector('[data-caption]');

            const sequenceIn: AnimationSequence = [
                [
                    caption,
                    { opacity: [0.85, 1], scale: [0, 1.25, 1] },

                    { delay: 1, duration: 0.25, ease: 'easeInOut' },
                ],
            ];

            animate(sequenceIn).then(() => {
                animationInProgress = false;
            });
        };

        if (swiperHome && !swiperHome.destroyed) {
            mountSlide(swiperHome);
        }

        swiperHome.on('slideChangeTransitionStart', () => {
            animationInProgress = true;
            mountSlide(swiperHome);
        });
    }
</script>
