---
import { Image } from 'astro:assets';
import { type SwiperImage } from '~/data/home';

export interface Props {
    slide: SwiperImage;
}

const { slide } = Astro.props;
const { caption }: { caption?: SwiperImage['caption'] } = slide || {};

const resolvedWidths = slide.widths
    ? slide.widths
    : [480, 640, 960, slide.src.width];
const resolvedSizes =
    slide.sizes || '(min-width: 64em) calc(100vw - 40ch), 100vw';

const slideClass =
    slide.class ||
    'h-full max-h-full w-full max-w-full object-contain object-center';

const imageProps = {
    src: slide.src,
    alt: slide.alt,
    class: slideClass,
    sizes: resolvedSizes,
    widths: resolvedWidths,
    quality: 'high',
};

const SvgBg = slide?.svgBg;
---

{
    (
        <a
            href={slide.url}
            class="swiper-slide relative flex h-full !w-auto shrink-0"
        >
            {SvgBg && (
                <SvgBg
                    name="halftone"
                    title="halftone gradient"
                    class="pointer-events-none absolute inset-0 h-full w-full text-sky-300/5"
                    fill="currentColor"
                    aria-hidden="true"
                />
            )}

            <Image
                {...imageProps}
                data-visual
                class="relative block h-full w-auto"
            />
            {caption && (
                <span
                    data-caption
                    class:list={[
                        'absolute flex max-w-fluid-4xl flex-col items-start text-content-light opacity-0',
                        caption.label && caption.label,
                    ]}
                >
                    {caption.title && (
                        <h2 class="relative z-10 -mb-fluid-3xs inline-block -rotate-1 rounded-tight bg-secondary p-fluid-3xs font-display text-step-0 leading-none font-semibold tracking-tight shadow-xs shadow-secondary-shade/12">
                            {caption.title}{' '}
                        </h2>
                    )}
                    {caption.copy && (
                        <p class="relative inline-block translate-x-fluid-3xs translate-y-0.5 rounded-tight bg-secondary-dark p-fluid-3xs text-step--2 leading-snug">
                            {caption.copy}
                        </p>
                    )}
                </span>
            )}
        </a>
    )
}
