---
import { Image } from 'astro:assets';
import { type SwiperImage } from '~/data/home';

export interface Props {
    slide: SwiperImage;
}

const { slide } = Astro.props;
const { caption }: { caption?: SwiperImage['caption'] } = slide || {};

const resolvedWidths = slide.widths
    ? slide.widths
    : [480, 640, 960, slide.src.width];
const resolvedSizes =
    slide.sizes || '(min-width: 64em) calc(100vw - 40ch), 100vw';

const slideClass =
    slide.class ||
    'h-full max-h-full w-full max-w-full object-contain object-center';

const imageProps = {
    src: slide.src,
    alt: slide.alt,
    class: slideClass,
    sizes: resolvedSizes,
    widths: resolvedWidths,
    quality: 'high',
};
---

{
    (
        <a
            href={slide.url}
            class="swiper-slide relative flex h-full w-full items-center justify-center pt-safe-top lg:pt-0"
        >
            {slide.bg &&
                (() => {
                    const SvgBackground = slide.bg;
                    return (
                        <SvgBackground
                            class="pointer-events-none absolute inset-0 h-full w-full text-red-600 opacity-10"
                            fill="currentColor"
                            aria-hidden="true"
                        />
                    );
                })()}

            <Image
                {...imageProps}
                data-visual
                class="relative block h-full w-full object-contain object-center"
            />
            {caption && (
                <span
                    data-caption
                    class:list={[
                        'absolute flex flex-col items-start text-content-light opacity-0',
                        caption.label && caption.label,
                    ]}
                >
                    {caption.title && (
                        <h2 class="relative z-10 -mb-tight inline-block rounded-tight bg-action px-fluid-2xs py-fluid-3xs font-display text-step-2 leading-none font-black tracking-tight uppercase shadow-xs shadow-shadow-dark/25">
                            {caption.title}{' '}
                        </h2>
                    )}
                    {caption.copy && (
                        <p class="relative inline-block translate-x-fluid-3xs -rotate-1 rounded-tight bg-surface-raised p-fluid-2xs text-step--1 leading-none text-content">
                            {caption.copy}
                        </p>
                    )}
                </span>
            )}
        </a>
    )
}
