---
import Slide from '~/components/Swiper/HomeSlide.astro';
import { type SwiperImage } from '~/data/home';

export interface Props {
    slides: SwiperImage[];
    class?: string | ImageMetadata;
}

const { slides } = Astro.props;
---

<div
    class="swiper swiper--home group h-full w-full transition-opacity duration-300 x-cloak:opacity-0"
    x-cloak
>
    <div class="swiper-wrapper not-prose flex items-center">
        {
            slides.map((slide, i) => (
                <div class="slide swiper-slide ">
                    <Slide slide={slide} />
                </div>
            ))
        }
    </div>
    <div
        class="swiper-button-prev swiper--home__prev hidden opacity-0 transition-opacity duration-300 group-hover:opacity-100 md:block"
    >
    </div>
    <div
        class="swiper-button-next swiper--home__next hidden opacity-0 transition-opacity duration-300 group-hover:opacity-100 md:block"
    >
    </div>
    <div
        class="swiper--home__pagination absolute !bottom-fl-space-s z-10 mx-auto text-right"
    >
    </div>
</div>

<script>
    // core version + navigation, pagination modules:
    import Swiper from 'swiper';
    import {
        Navigation,
        Pagination,
        Autoplay,
        Scrollbar,
        EffectCreative,
    } from 'swiper/modules';
    // import Swiper and modules styles
    import 'swiper/css';
    import 'swiper/css/navigation';
    import 'swiper/css/pagination';

    {
        const swiperClass = '.swiper--home';
        const SwiperHome = new Swiper(swiperClass, {
            // Install modules
            modules: [
                Navigation,
                Pagination,
                Autoplay,
                Scrollbar,
                EffectCreative,
            ],
            centeredSlides: true,
            effect: 'creative',
            creativeEffect: {
                perspective: false,
                prev: {
                    scale: 0.95,
                    opacity: 0,
                },
                next: {
                    scale: 0.95,
                    opacity: 0,
                },
            },
            speed: 250,
            loop: true,
            autoplay: {
                pauseOnMouseEnter: true,
                disableOnInteraction: false,
                delay: 7500,
            },
            slidesPerView: 1,
            navigation: {
                nextEl: `${swiperClass}__next`,
                prevEl: `${swiperClass}__prev`,
            },
            pagination: {
                el: `${swiperClass}__pagination`,
                clickable: true,
            },
            watchOverflow: true, // disable if only single slide
            on: {
                afterInit: () => {
                    const element = document.querySelector(swiperClass);
                    if (element) {
                        element.removeAttribute('x-cloak');
                    }
                },
                autoplayStop: () => {
                    SwiperHome.autoplay.start();
                },
                autoplayResume: () => {},
            },
        });
    }
</script>
