---
import Slide from '~/components/Swiper/HomeSlide.astro';
import Next from '~/components/Swiper/Next.astro';
import Prev from '~/components/Swiper/Prev.astro';
import { type SwiperImage } from '~/data/home';
import 'swiper/css';
import 'swiper/css/pagination';

export interface Props {
    slides: SwiperImage[];
    class?: string | ImageMetadata;
}

const { slides } = Astro.props;
---

<div
    class="swiper swiper--home group h-full w-full transition-opacity duration-300 x-cloak:opacity-0"
    x-cloak
>
    <div class="swiper-wrapper not-prose flex items-center">
        {
            slides.map((slide, i) => (
                <div class="slide swiper-slide ">
                    <Slide slide={slide} />
                </div>
            ))
        }
    </div>
    <Prev
        swiper="swiper--home"
        class="left-0 hidden text-content-light md:block"
    />
    <Next
        swiper="swiper--home"
        class="right-0 hidden text-content-light md:block"
    />
    <div
        class="swiper--home__pagination absolute !bottom-fl-space-s z-10 mx-auto text-left lg:text-right"
    >
    </div>
</div>

<script>
    import Swiper from 'swiper';
    import {
        Navigation,
        Pagination,
        Autoplay,
        Scrollbar,
        EffectCreative,
    } from 'swiper/modules';
    {
        const swiperClass = '.swiper--home';
        const SwiperHome = new Swiper(swiperClass, {
            // Install modules
            modules: [
                Navigation,
                Pagination,
                Autoplay,
                Scrollbar,
                EffectCreative,
            ],
            effect: 'creative',
            creativeEffect: {
                perspective: false,
                prev: {
                    scale: 0.95,
                    opacity: 0,
                },
                next: {
                    scale: 0.95,
                    opacity: 0,
                },
            },
            speed: 250,
            loop: true,
            autoplay: {
                pauseOnMouseEnter: true,
                disableOnInteraction: false,
                delay: 7500,
            },
            navigation: {
                nextEl: `${swiperClass}__next`,
                prevEl: `${swiperClass}__prev`,
            },
            pagination: {
                el: `${swiperClass}__pagination`,
                clickable: true,
                bulletClass:
                    'cursor-pointer mx-fl-space-3xs transition-all duration-300 inline-block w-fl-space-2xs h-fl-space-2xs border border-content-light/50 rounded-full',
                bulletActiveClass:
                    '!w-fl-space-s shadow-floated !bg-content-light !border-content-light',
            },
            watchOverflow: true, // disable if only single slide
            on: {
                afterInit: () => {
                    const element = document.querySelector(swiperClass);
                    if (element) {
                        element.removeAttribute('x-cloak');
                    }
                },
                autoplayStop: () => {
                    SwiperHome.autoplay.start();
                },
                autoplayResume: () => {},
            },
        });
    }
</script>
