---
import { Image } from 'astro:assets';
import { type SwiperImage } from '~/data/home';

export interface Props {
    slide: SwiperImage;
}

const { slide } = Astro.props;
const { caption }: { caption?: SwiperImage['caption'] } = slide || {};

const resolvedWidths = slide.widths ? slide.widths : [480, 720];
const resolvedSizes =
    slide.sizes || `(min-width: 75em) 720px, (min-width: 64em) 60vw, 100vw`;

const slideClass =
    slide.class ||
    'h-full max-h-full w-full max-w-full object-contain object-center';

const imageProps = {
    src: slide.src,
    alt: slide.alt,
    class: slideClass,
    sizes: resolvedSizes,
    widths: resolvedWidths,
    quality: 'high',
};
---

{
    (
        <a
            href={slide.url}
            class="py-fluid-l flex h-full w-full items-center justify-center"
        >
            {slide.wrapper ? (
                <div class={slide.wrapper}>
                    <Image
                        {...imageProps}
                        class="h-full w-full object-contain opacity-0"
                        data-visual
                    />
                </div>
            ) : (
                <>
                    <Image
                        {...imageProps}
                        data-visual
                        class="h-full w-full object-contain opacity-0"
                    />
                    {caption && (
                        <span
                            data-caption
                            class:list={[
                                'max-w-fluid-4xl text-content-light absolute flex flex-col items-start opacity-0',
                                caption.label && caption.label,
                            ]}
                        >
                            {caption.title && (
                                <h2 class="-mb-fluid-3xs rounded-tight bg-primary-dark p-fluid-3xs font-headline text-step-0 shadow-primary-shade relative z-10 inline-block -rotate-1 leading-none font-semibold tracking-tight shadow-xs">
                                    {caption.title}{' '}
                                </h2>
                            )}
                            {caption.copy && (
                                <p class="rounded-tight p-fluid-3xs text-step--2 relative inline-block translate-x-px translate-y-0.5 bg-black/15 leading-snug">
                                    {caption.copy}
                                </p>
                            )}
                        </span>
                    )}
                </>
            )}
        </a>
    )
}
