---
import { Image } from 'astro:assets';
import { type SwiperImage } from '~/data/home';

export interface Props {
    slide: Partial<SwiperImage>;
}

const { slide } = Astro.props;

const resolvedWidths = slide.widths ? slide.widths : [480, 720, 960];
const resolvedSizes =
    slide.sizes ||
    `(max-width: var(--container-width-md)) calc(100vw - 2rem), calc((100vw - 4rem) *0.50), (min-width: 1264) calc(var(--container-width-max)*0.60)`;

const slideClass =
    slide.class ||
    'absolute inset-0 h-full max-h-full w-full max-w-full object-scale-down object-center';

const imageProps = {
    src: slide.src,
    alt: slide.alt,
    class: slideClass,
    sizes: resolvedSizes,
    widths: resolvedWidths,
    quality: 'high',
};
---

{
    (
        <a
            href={slide.url}
            class="flex h-full w-full items-center justify-center"
        >
            {slide.wrapper ? (
                <div class={slide.wrapper}>
                    <Image {...imageProps} />
                </div>
            ) : (
                <Image {...imageProps} />
            )}
        </a>
    )
}
