---
import { Image } from 'astro:assets';
import { type SwiperImage } from '~/data/home';

export interface Props {
    slide: Partial<SwiperImage>;
}

const { slide } = Astro.props;
const { caption }: { caption?: SwiperImage['caption'] } = slide || {};

const resolvedWidths = slide.widths ? slide.widths : [480, 720];
const resolvedSizes =
    slide.sizes || `(min-width: 75em) 720px, (min-width: 64em) 60vw, 100vw`;

const slideClass =
    slide.class ||
    'h-full max-h-full w-full max-w-full object-contain object-center';

const imageProps = {
    src: slide.src,
    alt: slide.alt,
    class: slideClass,
    sizes: resolvedSizes,
    widths: resolvedWidths,
    quality: 'high',
};
---

{
    (
        <a
            href={slide.url}
            class="flex h-full w-full items-center justify-center py-fl-space-l"
        >
            {slide.wrapper ? (
                <div class={slide.wrapper}>
                    <Image {...imageProps} />
                </div>
            ) : (
                <>
                    {caption && (
                        <span
                            class:list={[
                                'absolute flex max-w-fl-space-4xl flex-col items-start  text-content-light',
                                caption.label && caption.label,
                            ]}
                        >
                            {caption.title && (
                                <h2 class="relative z-10 -mb-fl-space-3xs inline-block -rotate-1 rounded-tight bg-accent-dark p-fl-space-3xs font-headline text-fl-step-0 font-semibold leading-none tracking-tight shadow-sm shadow-accent-dark ">
                                    {caption.title}{' '}
                                </h2>
                            )}
                            {caption.copy && (
                                <p class="relative inline-block translate-x-px translate-y-0.5 rounded-tight bg-black/15 p-fl-space-3xs text-fl-step--2 leading-snug ">
                                    {caption.copy}
                                </p>
                            )}
                        </span>
                    )}
                    <Image {...imageProps} />
                </>
            )}
        </a>
    )
}
