---
import { Icon } from 'astro-icon/components';
interface Props {
    swiper?: string;
    class?: string;
}
const { swiper, class: className } = Astro.props;
---

<div
    class:list={[
        swiper && `${swiper}__next`,
        'absolute top-1/2 left-auto z-10 flex -translate-y-1/2 cursor-pointer items-center justify-center opacity-0 transition-opacity duration-300 group-hover:opacity-100',
        className ? className : 'text-primary right-fluid-m',
    ]}
>
    <Icon name="lucide:chevron-right" class="h-fluid-l w-auto" />
</div>
