---
import { Icon } from 'astro-icon/components';
interface Props {
    class?: string;
    swiper?: string;
}
const { swiper, class: className } = Astro.props;
---

<div
    class:list={[
        swiper && `${swiper}__prev`,
        'absolute top-1/2 right-auto z-10 flex -translate-y-1/2 cursor-pointer items-center justify-center opacity-0 transition-opacity duration-300 group-hover:opacity-100',
        className ? className : 'left-fluid-m text-action',
    ]}
>
    <Icon name="lucide:chevron-left" class="h-fluid-l w-auto" />
</div>
