---
import 'swiper/css';
import 'swiper/css/pagination';

interface DataKeys {
    headline: string;
    comment: string;
    cite: string;
    rating: number;
}

export interface Props {
    data: DataKeys[];
}

const { data } = Astro.props;
---

<div class="swiper swiper--reviews">
    <div
        class="swiper-wrapper not-prose not-rte flex items-center py-fluid-3xl"
    >
        {
            data.map((review, i) => (
                <div class="slide swiper-slide flex! items-center justify-center px-fluid-m">
                    <blockquote class="mx-auto mt-0 max-w-3xl px-0 md:text-step-1">
                        <p class="m-0 font-display text-step-2 leading-tight">
                            <strong>{review.headline}</strong>
                        </p>
                        <Fragment set:html={review.comment} />
                        <p class="cite">
                            <span class="mr-fluid-3xs block">
                                {[...Array(5)].map((_, index) => (
                                    <span
                                        class:list={[
                                            'icon-[tabler--star-filled] inline-block size-fluid-s',
                                            index < review.rating
                                                ? 'text-featured'
                                                : 'text-content-quiet',
                                        ]}
                                    />
                                ))}
                            </span>
                            {review.cite}
                        </p>
                    </blockquote>
                </div>
            ))
        }
    </div>
    <div
        class="swiper--reviews__pagination absolute bottom-fluid-m! z-10 mx-auto text-center"
    >
    </div>
</div>

<script>
    import Swiper from 'swiper';
    import {
        Navigation,
        Pagination,
        Autoplay,
        Scrollbar,
        EffectCreative,
    } from 'swiper/modules';
    {
        const swiperClass = '.swiper--reviews';
        const swiperReviews = new Swiper(swiperClass, {
            // Install modules
            modules: [
                Navigation,
                Pagination,
                Autoplay,
                Scrollbar,
                EffectCreative,
            ],
            centeredSlides: true,
            effect: 'creative',
            creativeEffect: {
                perspective: false,
                prev: {
                    scale: 0.5,
                    opacity: 0,
                },
                next: {
                    scale: 0.75,
                    opacity: 0,
                },
            },
            speed: 250,
            loop: true,
            slidesPerView: 1,
            pagination: {
                el: `${swiperClass}__pagination`,
                clickable: true,
                bulletClass:
                    'cursor-pointer mx-fluid-3xs transition-all duration-300 inline-block w-fluid-2xs h-fluid-2xs border border-line rounded-full ',
                bulletActiveClass: 'w-fluid-s! bg-action border-transparent!',
            },
            autoplay: {
                delay: 5000,
            },
        });
    }
</script>
