---
import 'swiper/css';
import 'swiper/css/pagination';
import { Icon } from 'astro-icon/components';

interface DataKeys {
    headline: string;
    comment: string;
    cite: string;
    rating: number;
}

export interface Props {
    data: Partial<DataKeys>;
    class?: string | ImageMetadata;
}

const { data } = Astro.props;
---

<div class="swiper swiper--reviews">
    <div
        class="swiper-wrapper not-prose flex items-center !py-fl-space-3xl-4xl"
    >
        {
            data.map((review, i) => (
                <div class="slide swiper-slide !flex items-center justify-center px-fl-space-m ">
                    <blockquote class="mx-auto mt-0 max-w-3xl px-0 md:text-fl-step-1">
                        <p class="m-0 font-headline text-fl-step-2 leading-tight">
                            <strong>{review.headline}</strong>
                        </p>
                        <Fragment set:html={review.comment} />
                        <p class="cite ">
                            <span class="mr-fl-space-3xs block">
                                {[...Array(5)].map((_, index) => (
                                    <Icon
                                        name="mdi:star"
                                        class={`inline-block h-fl-space-s w-auto ${
                                            index < review.rating
                                                ? 'text-gold'
                                                : 'text-quiet'
                                        }`}
                                    />
                                ))}
                            </span>
                            {review.cite}
                        </p>
                    </blockquote>
                </div>
            ))
        }
    </div>
    <div
        class="swiper--reviews__pagination absolute !bottom-fl-space-m z-10 mx-auto text-center"
    >
    </div>
</div>

<script>
    import Swiper from 'swiper';
    import {
        Navigation,
        Pagination,
        Autoplay,
        Scrollbar,
        EffectCreative,
    } from 'swiper/modules';
    {
        const swiperClass = '.swiper--reviews';
        const swiperReviews = new Swiper(swiperClass, {
            // Install modules
            modules: [
                Navigation,
                Pagination,
                Autoplay,
                Scrollbar,
                EffectCreative,
            ],
            centeredSlides: true,
            effect: 'creative',
            creativeEffect: {
                perspective: false,
                prev: {
                    scale: 0.5,
                    opacity: 0,
                },
                next: {
                    scale: 0.75,
                    opacity: 0,
                },
            },
            speed: 250,
            loop: true,
            slidesPerView: 1,
            pagination: {
                el: `${swiperClass}__pagination`,
                clickable: true,
                bulletClass:
                    'cursor-pointer mx-fl-space-3xs transition-all duration-300 inline-block w-fl-space-2xs h-fl-space-2xs border border-outline rounded-full ',
                bulletActiveClass:
                    '!w-fl-space-s bg-accent !border-transparent',
            },
            autoplay: {
                delay: 5000,
            },
        });
    }
</script>
