---
import { Icon } from 'astro-icon/components';

interface DataKeys {
    headline: string;
    comment: string;
    cite: string;
    rating: number;
}

export interface Props {
    data: Partial<DataKeys>;
    class?: string | ImageMetadata;
}

const { data } = Astro.props;
---

<div class="swiper swiper--reviews h-[400px]">
    <div class="swiper-wrapper not-prose flex items-center">
        {
            data.map((review, i) => (
                <div class="slide swiper-slide ">
                    <div class="flex h-full items-center justify-center">
                        <blockquote class="m-0 pl-0">
                            <p class="font-headline">
                                <strong>{review.headline}</strong>
                            </p>
                            <Fragment set:html={review.comment} />
                            <p class="cite inline-flex items-center">
                                <span class="mr-fl-space-3xs">
                                    {[...Array(5)].map((_, index) => (
                                        <Icon
                                            name="mdi:star"
                                            class={`inline-block h-fl-space-s w-auto ${
                                                index < review.rating
                                                    ? 'text-gold'
                                                    : 'text-quiet'
                                            }`}
                                        />
                                    ))}
                                </span>
                                {review.cite}
                            </p>
                        </blockquote>
                    </div>
                </div>
            ))
        }
    </div>
</div>

<script>
    // core version + navigation, pagination modules:
    import Swiper from 'swiper';
    import {
        Navigation,
        Pagination,
        Autoplay,
        Scrollbar,
        EffectFade,
        EffectCreative,
    } from 'swiper/modules';
    // import Swiper and modules styles
    import 'swiper/css';
    import 'swiper/css/navigation';
    import 'swiper/css/pagination';

    {
        const swiperReviews = new Swiper('.swiper--reviews', {
            // Install modules
            modules: [Navigation, Pagination, Autoplay, Scrollbar],
            speed: 2000,
            slidesPerView: 1,
            direction: 'vertical',
            autoplay: {
                delay: 6000,
            },
        });
    }
</script>
