---
import { Image } from 'astro:assets';
import Next from '~/components/Swiper/Next.astro';
import Prev from '~/components/Swiper/Prev.astro';
import { Icon } from 'astro-icon/components';
import SwipePrompt from '~/components/ui/SwipePrompt.astro';
import Slide from '~/components/Swiper/HomeSlide.astro';
import { type SwiperImage } from '~/data/home';
import 'swiper/css';
import 'swiper/css/pagination';
---

<section class="h-screenSvh w-full bg-slate-900 text-content-light">
    <div
        class="swiper swiper--work group h-full w-full transition-opacity duration-300 x-cloak:opacity-0"
        x-cloak
    >
        <div class="swiper-wrapper flex items-center">
            <slot />
        </div>
        <Prev
            swiper="swiper--work"
            class="left-fl-space-s hidden text-content-light md:block"
        />
        <Next
            swiper="swiper--work"
            class="right-fl-space-s hidden text-content-light md:block"
        />
        <div
            class="swiper--work__pagination absolute !bottom-fl-space-s !left-fl-space-s right-auto z-10 mx-auto w-auto text-left text-fl-step--1 font-light !text-content-light md:!left-auto md:!right-fl-space-s md:text-right"
        >
        </div>
        <div
            class="pointer-events-none absolute left-1/2 top-screenSvh z-shortcuts -translate-x-1/2 -translate-y-full pb-fl-space-s"
        >
            <SwipePrompt />
        </div>
    </div>
</section>
<script>
    import Swiper from 'swiper';
    import {
        Navigation,
        Pagination,
        Autoplay,
        Scrollbar,
        EffectCreative,
        EffectCoverflow,
        Mousewheel,
        Keyboard,
    } from 'swiper/modules';

    {
        const swiperClass = '.swiper--work';
        const SwiperWork = new Swiper(swiperClass, {
            // Install modules
            modules: [
                Navigation,
                Pagination,
                Autoplay,
                Scrollbar,
                EffectCoverflow,
                EffectCreative,
                Mousewheel,
                Keyboard,
            ],
            slidesPerView: 1,
            spaceBetween: 0,
            grabCursor: true,
            keyboard: {
                enabled: true,
            },
            mousewheel: {
                thresholdDelta: 70,
            },
            loop: false,
            speed: 250,
            // autoplay: {
            //     pauseOnMouseEnter: true,
            //     disableOnInteraction: false,
            //     delay: 7500,
            // },
            navigation: {
                nextEl: `${swiperClass}__next`,
                prevEl: `${swiperClass}__prev`,
            },

            pagination: {
                el: `${swiperClass}__pagination`,
                type: 'fraction',
            },
            watchOverflow: true, // disable if only single slide
            on: {
                init: () => {},
                autoplayStop: () => {
                    SwiperWork.autoplay.start();
                },
                autoplayResume: () => {},
            },
        });
    }
</script>
