---
import type { HeroKeys } from '~/components/Hero/Hero.astro';

import { Image } from 'astro:assets';

interface Props extends HeroKeys {}

const { cover, visual, legibility } = Astro.props;
let picture;
if (visual) {
    picture = await import(/* @vite-ignore */ `../../assets/${visual?.url}`); // this is async
}
---

<div class="absolute inset-0 h-full w-full">
    <slot name="background" />
</div>

<div
    class="relative mx-auto grid max-w-container grid-cols-1 grid-rows-1 gap-fl-space-s pt-[var(--headerheight)] md:min-h-widescreen md:grid-cols-block50 lg:h-block lg:min-h-block 2xl:grid-cols-block33"
>
    <div class="w-full self-center" x-cloak>
        <!-- content -->
        <slot name="content" />
        <!-- END content -->
    </div>

    <!-- visual -->

    {
        visual ? (
            <div class="relative flex justify-center">
                <div class="h-full w-full">
                    <Image src={picture.default} alt="alt" />
                </div>
            </div>
        ) : (
            <slot name="visual" />
        )
    }
    <!-- END visual -->
</div>
