---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'div'> {
    isHeroDark?: boolean;
    wrapper?: string;
    class?: string;
    bg?: string;
    legibility?: string;
}

const {
    class: ClassName,
    isHeroDark = false,
    wrapper,
    bg,
    legibility,
    ...rest
} = Astro.props;
---

<div class="absolute inset-0 h-full w-full">
    <slot name="leftcontent" />
</div>

<div
    class="relative mx-auto grid max-w-container grid-cols-1 grid-rows-1 gap-4 pt-[var(--smheaderheight)] md:min-h-widescreen md:grid-cols-block50 md:gap-8 md:pt-[var(--headerheight)] lg:h-block lg:min-h-block 2xl:grid-cols-block33"
>
    <div
        class="w-full self-center"
        x-cloak
        :class="shown ? 'animate-fade-in-down' : 'invisible'"
    >
        <!-- content -->
        <slot name="content" />
        <!-- END content -->
    </div>

    <!-- visual -->
    <div class="relative flex justify-center">
        <div class="absolute aspect-1 h-full w-auto rounded-egg bg-white"></div>
        <div
            class="absolute aspect-1 h-full w-auto animate-morph-delay border border-white/30"
        >
        </div>
        <div
            class="absolute aspect-1 h-full w-auto animate-morph border border-white/95"
        >
        </div>

        <div
            class="h-full w-full"
            :class="shown ? 'animate-stretch' : 'invisible'"
        >
            <slot name="visual" />
        </div>
    </div>
    <!-- END visual -->
</div>
