---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'div'> {
    isHeroDark?: boolean;
    wrapper?: string;
    class?: string;
    bg?: string;
    legibility?: string;
}

const {
    class: ClassName,
    isHeroDark = false,
    wrapper,
    bg,
    legibility,
    ...rest
} = Astro.props;
---

<div class="absolute inset-0 h-full w-full">
    <slot name="background" />
</div>

<div
    class="relative mx-auto grid h-full w-full max-w-container grid-cols-1 grid-rows-home gap-4 pt-[var(--smheaderheight)] md:gap-8 md:py-[calc(var(--headerheight)*0.5)] lg:h-screen lg:grid-flow-col lg:grid-cols-block50 lg:grid-rows-1 lg:gap-0 xl:grid-cols-block40 2xl:py-[var(--headerheight)]"
>
    <!-- content -->
    <div
        class="rte-content grid w-full grid-cols-1 gap-4 md:gap-8 md:pt-6 lg:max-w-[60ch] lg:grid-rows-2 lg:pt-0"
    >
        <slot name="content" />
    </div>
    <!-- END content -->

    <!-- visual -->
    <div class="relative flex min-h-0 min-w-0 items-center justify-center">
        <div class="absolute aspect-1 w-full scale-105">
            <div
                class="absolute h-full w-full animate-morph-delay border border-white/25"
            >
            </div>
            <div class="absolute h-full w-full animate-morph bg-slate-900/5">
            </div>
        </div>
        <slot name="visual" />
    </div>
    <!-- END visual -->
</div>
