---
interface Props {
    headline: string;
}

const { headline } = Astro.props;
---

<div class="relative container mx-auto">
    <h1
        id="headline"
        class="text-shout relative m-0 mx-auto max-w-[24ch] text-center text-step-6"
    >
        {headline}
    </h1>
</div>
<slot />
