---
interface Props {
    headline: string;
}

const { headline } = Astro.props;
---

<div class="relative container mx-auto">
    <h1
        id="headline"
        class="mb-fluid-xl mt-fluid-s from-headline-start to-headline-end text-step-6 relative mx-auto max-w-3xl bg-linear-to-br bg-clip-text text-center text-transparent"
    >
        {headline}
    </h1>
</div>
