---
interface Props {
    headline: string;
}

const { headline } = Astro.props;
---

<div class="relative container mx-auto">
    <h1
        id="headline"
        class="relative m-0 mx-auto max-w-[24ch] bg-linear-to-br from-headline-start to-headline-end bg-clip-text text-center text-step-6 text-transparent"
    >
        {headline}
    </h1>
</div>
