---
import { getEntry } from 'astro:content';
import Bento, {
    type Props as BentoProps,
} from '~/components/lightbox/Bento.astro';
import { Icon } from 'astro-icon/components';

const { collections, breakout = false } = Astro.props;

// Ensure collections is an array
const normalizedCollections = Array.isArray(collections)
    ? collections
    : [collections];

// Fetch gallery entries and filter valid data
const galleries = (
    await Promise.all(
        normalizedCollections.map((slug) =>
            getEntry('galleries', slug).then((entry) => entry?.data),
        ),
    )
).filter(Boolean);

// Combine all images
const combinedGallery: BentoProps['gallery'] = {
    id: normalizedCollections[0],
    collection: 'galleries',
    data: {
        images: galleries.flatMap((gallery) => gallery.images || []),
    },
};
---

{
    combinedGallery.data.images.length > 0 && (
        <div
            class:list={[
                'not-prose bg-surface-sunken -mx-fluid-m my-fluid-xl p-fluid-s-m shadow-inset relative @3xl:rounded',
                breakout
                    ? 'breakout'
                    : '-mx-fluid-s-m my-fluid-xl rounded-tight',
            ]}
        >
            <Bento gallery={combinedGallery}>
                <div class="mb-fluid-m flex flex-col items-start justify-between leading-snug md:flex-row">
                    <slot name="title" slot="title" />
                    <div
                        data-animate="fadeIn"
                        class="gap-fluid-2xs text-step--1 text-content-quiet pointer-events-none flex md:w-1/3"
                    >
                        <Icon
                            name="lucide:zoom-in"
                            class="w-fluid-m inline-block h-auto"
                        />
                        <p>
                            Tap any image to view in more detail.
                            <span class="2xl:hidden">Pinch</span>
                            <span class="hidden 2xl:inline">
                                Mouse scroll
                            </span>{' '}
                            to zoom in.
                        </p>
                    </div>
                </div>
                <slot />
            </Bento>
        </div>
    )
}
