---
import { Icon } from 'astro-icon/components';
import ContactForm from '~/components/forms/ContactForm.astro';
import PageLayout from '~/layouts/PageLayout.astro';
import Note from '~/components/ui/Note.astro';
import siteInfo from '~/data/site';
const available = siteInfo.available;
const title = 'Connect';
---

<PageLayout title={title} isWide={true} prose={false}>
    <div class="grid grid-cols-1 gap-fl-space-m md:grid-cols-2">
        <div class="md:order-2 md:mt-fl-space-m">
            <div class="mr-auto w-full max-w-[40ch]">
                <Note theme="info" hasIcon={true}>
                    <p class="text-fl-step-0 font-semibold">
                        Use this form to send me a message and I'll get back to
                        you shortly.
                    </p>{
                        available && (
                            <p>
                                I'm
                                <span class="hilite inline-block whitespace-nowrap px-fl-space-3xs py-px">
                                    currently available
                                </span>
                                for new roles in
                                <span class="whitespace-nowrap">Front-End</span>
                                development. Get in touch if you think I could
                                be a good fit for your team.
                            </p>
                        )
                    }<p>
                        For more information please read my <a
                            href="/about/"
                            class="link">bio</a
                        > or visit my LinkedIn profile.
                    </p><p class="mt-fl-space-m">
                        <a
                            href="https://www.linkedin.com/in/peter-wallace-a5002a7a/"
                            class="link flex items-center justify-center gap-2 rounded border border-solid border-slate-800 bg-slate-800 px-fl-space-2xs py-fl-space-3xs text-sky-400 no-underline hover:border-sky-500 hover:bg-sky-500 hover:text-white hover:no-underline"
                        >
                            View my profile
                            <Icon
                                name="mdi:linkedin"
                                class="h-fl-space-m w-auto fill-current"
                            />
                        </a>
                    </p>
                </Note>
            </div>
        </div>
        <div
            class="rounded bg-surface-raised p-fl-space-m shadow-raised md:order-1"
        >
            <ContactForm />
        </div>
    </div>
</PageLayout>
