---
import ContactForm from '~/components/forms/web3Form.astro';
import Button from '~/components/preact/Button.tsx';
import siteInfo from '~/data/site';
import PlainLayout from '~/layouts/PlainLayout.astro';

const available = siteInfo.available;
const title = 'Connect';
---

<PlainLayout title={title} isWide={false} hideToc={true}>
    <p class="text-loud text-step-2/snug font-medium">
        Send me a message and I'll get back to you shortly. {
            available && (
                <>
                    I'm currently
                    <span class="inline-block rounded-tight bg-attention px-fluid-3xs py-px font-medium whitespace-nowrap text-content-dark">
                        available
                    </span>
                    for new roles in UX/UI and{' '}
                    <span class="whitespace-nowrap">Front-End</span>{' '}
                    development.
                </>
            )
        }
    </p>
    <p>
        More info can be found in my <a href="/about/" class="link">bio</a> or

        <Button
            theme="action"
            href={'https://www.linkedin.com/in/peter-wallace-a5002a7a/'}
            class="not-rte mx-0.5 after:ml-1 after:i-lucide-external-link after:text-step--1"
        >
            View my LinkedIn profile
        </Button>
    </p>

    <div
        class="rounded-xs bg-surface-raised p-fluid-m shadow-raised md:order-1"
    >
        <ContactForm />
    </div>
</PlainLayout>
