---
import { Icon } from 'astro-icon/components';
import PageLayout from '~/layouts/PageLayout.astro';

const head = {
    title: 'On its way!',
    description: 'Thank you for getting in touch',
};
---

<PageLayout {head} isWide={false}>
    <div class="rte w-full text-center">
        <Icon
            name="lucide:mail-check"
            class="h-fluid-2xl animate-fade-in-up mx-auto w-auto text-green-500 duration-500"
        />
        <h3 class="text-center">Your message has been sent</h3>
        <p>Thanks for getting in touch, I'll try to respond quickly.</p>
    </div>
    <p class="mt-fluid-l">
        <Icon
            name="bypete__gray"
            title="byPete logo in dark gray"
            class="h-fluid-l mx-auto w-auto"
        />
    </p>
</PageLayout>
