:root {
    --white: hsl(0deg 0% 100%); /* absolute white */
    --black: hsl(0deg 0% 0%); /* absolute black */
    --offset: 0px;

    --headerheight: calc(
        var(--spacing-fluid-l) + (var(--spacing-fluid-xs) * 2)
    );
    --safe-top: calc(var(--headerheight) + var(--spacing-fluid-m));
    --safe-inline: var(--spacing-fluid-m);
    --hamburger-center: calc(
        var(--spacing-fluid-m) + (var(--spacing-fluid-l) / 2)
    );
    --tramline: var(--spacing-fluid-m);
    --viewport-safe-inline: var(--spacing-fluid-m);

    --z-toast: 2001;
    --z-overlay: 2000;
    --z-offscreen: 999;
    --z-toc: 1001;
    --z-banner: 1000;
    --z-shortcuts: 800;
    --z-logo: 501;
    --z-hero: 500;
    --z-underlay: 990;

    --z-content: 100;
    --z-main: 100;
    --z-swoosh: 20;
    --z-footer: 0;

    --plus: svg-load('heap__plus.svg');
    --pattern: svg-load('diagonal-stripes.svg');
    --mask-pill: svg-load('mask-pill-01.svg');
    --mask-shape: svg-load('mask-shape-01.svg');
    --mask-blob_1_1: svg-load('mask-blob_1_1.svg');
    --mask-blob_1_185: svg-load('mask-blob_1_185.svg');
    --mask-blob_16_9: svg-load('mask-blob_16_9.svg');

    --filter-grains: svg-load('filters/grains.svg');
    --filter-microbes: svg-load('filters/microbes.svg');

    --filter-noise: svg-load('filters/noise.svg');
    --filter-noise_loud: svg-load('filters/noise_loud.svg');
    --filter-noise_quiet: svg-load('filters/noise_quiet.svg');

    --filter-dark-grains: svg-load('filters/dark-grains.svg');
    --filter-dark-noise: svg-load('filters/dark-noise.svg');
    --filter-dark-noise_loud: svg-load('filters/dark-noise_loud.svg');
    --filter-dark-noise_quiet: svg-load('filters/dark-noise_quiet.svg');

    /* prettier-ignore */
    --squircle: svg-load(
            'mask-squircle.svg',
            preserveAspectRatio=none,
            fill= 'inheritColor'
        );

    --clip-blade-top: polygon(0% 0%, 100% 0%, 100% 40%, 0% 60%);
    --clip-blade-bottom: polygon(0% 70%, 100% 50%, 100% 100%, 0% 100%);
    --clip-circle: circle(50% at 50% 50%);

    --container-max: 75rem;

    --squircle-displacement: 25pt;

    /* Grid Template Columns */
    --gtc-block33: minmax(0, 1fr) minmax(0, 2fr);
    --gtc-block40: minmax(0, 2fr) minmax(0, 3fr);
    --gtc-block50: repeat(2, minmax(0, 1fr));
    --gtc-block60: minmax(0, 3fr) minmax(0, 2fr);
    --gtc-block66: minmax(0, 2fr) minmax(0, 1fr);
    --gtc-listing: minmax(0, 2fr) minmax(0, 1fr);
    --gtc-prevnext: repeat(2, minmax(0, 320px));
    --gtc-banner: auto auto minmax(0, 1fr);
    --gtc-home: auto minmax(0, 1fr);
    --gtc-credit: auto minmax(auto, 1fr);
    --gtc-icon: auto minmax(auto, 1fr);

    --gtc-featured: var(--spacing-fluid-m) minmax(auto, 1fr);
    --gtc-workcontainer: var(--spacing-widescreen)
        calc(43.75vw - ((100vw - 78.75rem) / 2)) minmax(0, 1fr);
    --gtc-work: minmax(0, 1fr) minmax(0, 2fr);

    /* Grid Template Rows */
    --gtr-workcard: auto minmax(0, 1fr) auto;
    --gtr-work: 100vw auto;
    --gtr-home: auto minmax(0, 1fr);
    --gtr-toc: auto auto;
}

@media (min-width: 768px) {
    :root {
        --offset: var(--spacing-fluid-l);
        --tramline: var(--spacing-fluid-m);
        /* --gutter: var(--spacing-fluid-xl); */
        --gap: var(--spacing-fluid-xl);

        --headerheight: calc(
            var(--spacing-fluid-l) + (var(--spacing-fluid-m) * 2)
        );
    }
}

*,
::after,
::before,
::backdrop,
::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
}

:where(h1, h2, h3, h4, h5, h6) {
    letter-spacing: -0.03125em;
    margin-bottom: 0.333em;
    line-height: 1.25;
}
:where(h1, h2, h3, h4, h5, h6) a {
    font-weight: var(--font-weight-extrabold);
    line-height: 1;
}

h1 {
    font-weight: var(--font-weight-extrabold);
}

h2 {
    font-size: var(--text-step-4);
    font-weight: var(--font-weight-bold);
}

h3 {
    font-size: var(--text-step-2);
    font-weight: var(--font-weight-bold);
}

h4 {
    font-size: var(--text-step-1);
    font-weight: var(--font-weight-medium);
}

svg {
    stroke-width: 2;
}

/* path,
circle,
ellipse,
line,
polygon,
polyline,
rect {
    stroke-width: inherit;
} */

/* Remove spinner from number forms */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}
