:root {
    --white: hsl(0deg 0% 100%); /* absolute white */
    --black: hsl(0deg 0% 0%); /* absolute black */
    --offset: 0px;

    --headerheight: calc(
        var(--spacing-fluid-l) + (var(--spacing-fluid-2xs) * 2)
    );
    --safe-top: calc(var(--headerheight) + var(--spacing-fluid-l));
    --safe-inline: calc(var(--offset) + var(--spacing-fluid-m));
    --tramline: var(--spacing-fluid-m);

    --z-toast: 2001;
    --z-overlay: 2000;
    --z-header: 1000;
    --z-banner: 1000;
    --z-nav: 999;
    --z-shortcuts: 800;
    --z-logo: 501;
    --z-hero: 500;
    --z-underlay: 990;
    --z-toc: 900;

    --plus: svg-load('heap__plus.svg');
    --mask-pill: svg-load('mask-pill-01.svg');
    --mask-shape: svg-load('mask-shape-01.svg');
    --mask-blob_1_1: svg-load('mask-blob_1_1.svg');
    --mask-blob_1_185: svg-load('mask-blob_1_185.svg');
    --mask-blob_16_9: svg-load('mask-blob_16_9.svg');
    --bg-dust: url('/images/dust.webp');
    --bg-dust-dark: url('/images/dust--dark.webp');
    --bg-grains: url('/images/dust.webp');
    --bg-grains-dark: url('/images/dust--dark.webp');

    --grains-quiet: url('/images/dust-quiet.webp');
    --grains-default: url('/images/dust.webp');
    --grains-loud: url('/images/dust-loud.webp');

    --texture-noise: var(--bg-dust);

    --container-max: 75rem;

    --logoheight: 0rem;

    /* Grid Template Columns */
    --gtc-block33: minmax(0, 1fr) minmax(0, 2fr);
    --gtc-block40: minmax(0, 2fr) minmax(0, 3fr);
    --gtc-block50: repeat(2, minmax(0, 1fr));
    --gtc-block60: minmax(0, 3fr) minmax(0, 2fr);
    --gtc-block66: minmax(0, 2fr) minmax(0, 1fr);
    --gtc-listing: minmax(0, 2fr) minmax(0, 1fr);
    --gtc-prevnext: repeat(2, minmax(0, 320px));
    --gtc-home: auto minmax(0, 1fr);
    --gtc-credit: auto minmax(auto, 1fr);
    --gtc-icon: auto minmax(auto, 1fr);
    --gtc-featured: var(--spacing-fluid-m) minmax(auto, 1fr);
    --gtc-workcontainer: var(--spacing-widescreen)
        calc(43.75vw - ((100vw - 78.75rem) / 2)) minmax(0, 1fr);
    --gtc-work: minmax(0, 1fr) minmax(0, 2fr);

    /* Grid Template Rows */
    --gtr-workcard: auto auto minmax(0, 1fr) auto;
    --gtr-work: 100vw auto;
    --gtr-home: auto minmax(0, 1fr);
}

@media (min-width: 768px) {
    :root {
        --offset: var(--spacing-fluid-xl);
        --tramline: var(--spacing-fluid-xl);
        /* --gutter: var(--spacing-fluid-xl); */
        --gap: var(--spacing-fluid-xl);
        --headerheight: 0rem;
        --logoheight: var(--spacing-fluid-m);
        --safe-top: calc(
            var(--logoheight) + var(--spacing-fluid-s) + var(--spacing-fluid-l)
        );
        --safe-inline: calc(var(--offset) + var(--spacing-fluid-m));
    }
}

*,
::after,
::before,
::backdrop,
::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
}

:where(h1, h2, h3, h4, h5, h6) {
    font-family: var(--font-display);
    letter-spacing: var(--tracking-tight);
    margin-bottom: 0.333em;
}
:where(h1, h2, h3, h4, h5, h6) a {
    font-weight: var(--font-weight-extrabold);
    line-height: 1;
}

h1 {
    font-weight: var(--font-weight-extrabold);
}

h2 {
    font-size: var(--text-step-3);
    font-weight: var(--font-weight-bold);
}

h3 {
    font-size: var(--text-step-1);
    font-weight: var(--font-weight-bold);
}

h4 {
    font-size: var(--text-step-0);
    font-weight: var(--font-weight-medium);
}

svg {
    stroke-width: 2;
}

path,
circle,
ellipse,
line,
polygon,
polyline,
rect {
    stroke-width: inherit;
}

/* Remove spinner from number forms */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}
