/* Add styles here to allow components to override them */
@layer components {
    /* Placeholders 
---------------------------------------------------------------------------------*/
    .holder {
        @apply relative before:absolute before:inset-0 before:border-2 before:border-dashed before:border-outline;
    }

    /* Forms 
---------------------------------------------------------------------------------*/
    /* Remove spinner from number forms */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type='number'] {
        -moz-appearance: textfield;
    }
    .form--panel {
        @apply w-full overflow-hidden rounded-lg bg-white shadow-lg lg:min-h-40;
    }

    .form__input,
    .form__select {
        @apply block rounded  border border-panel-invert/50 bg-panel-contrast/50 px-fl-space-2xs py-fl-space-3xs placeholder:text-content/40 focus:border-panel-invert/50  focus:bg-panel-contrast  focus:outline-none focus:ring-2 focus:ring-focus;
    }

    .form__input.error,
    .form__select.error,
    .form__checkbox.error {
        @apply border-transparent ring-2 ring-red-200 focus:border-focus focus:ring-focus;
    }

    .form__input.readonly {
        @apply pointer-events-none select-none border border-gray-300  bg-gray-100 focus:border-gray-300 focus:bg-gray-100 focus:outline-none focus:ring-0;
    }

    .form__textarea {
        @apply block rounded  border border-gray-300 bg-white px-fl-space-2xs py-fl-space-3xs placeholder:text-quiet  focus:border-focus focus:bg-white focus:outline-none focus:ring-2 focus:ring-focus;
    }

    .form__checkbox {
        @apply rounded border border-gray-400 px-2 py-2 text-accent focus:border-focus focus:outline-none focus:ring-2 focus:ring-focus;
    }

    .form__checkbox,
    .form__radio {
        @apply border border-gray-400 px-2 py-2 text-accent focus:border-focus focus:outline-none  focus:ring-2 focus:ring-focus;
    }

    .form__divider {
        @apply -mx-fl-space-xs my-fl-space-m border-outline lg:mx-0 lg:w-full;
    }

    .form__divider--panel {
        @apply -mx-fl-space-xs w-auto lg:-mx-fl-space-m;
    }

    /* Forms | Switch */
    .switch {
        @apply flex cursor-pointer items-center;
    }

    .switch__bg {
        @apply relative  h-6 w-11 overflow-hidden rounded-full bg-gray-300 shadow-inset
  after:absolute after:left-0.5 after:top-0.5 after:h-5 after:w-5 after:rounded-full after:border-2 after:border-gray-400 after:bg-white after:shadow-sm after:transition;
    }

    .switch__label {
        @apply mr-3;
    }

    input:checked + .switch__bg:after {
        @apply border-accent;
        transform: translateX(100%);
    }

    input:checked + .switch__bg {
        @apply bg-accent;
    }

    /* Lists
---------------------------------------------------------------------------------*/
    .list {
        @apply space-y-2 !pl-0;
    }
    .list li {
        @apply relative  leading-normal;
    }

    .list--bullet li,
    .list--checklist li {
        @apply list-none pl-fl-space-m before:absolute before:left-0 before:top-0 before:w-6 before:leading-normal;
    }

    .list--bullet li {
        @apply before:icon-[ci--dummy-square-small] before:translate-y-px before:text-[24px] before:text-accent;
    }

    .list--checklist li {
        @apply before:icon-[lucide--check-circle-2] before:text-teal-500;
    }

    .list--counter {
    }

    .list--counter > li {
        @apply relative list-none pl-fl-space-l;
        counter-increment: a;
    }

    .list--counter > li:before {
        @apply absolute left-0 top-fl-space-3xs mr-fl-space-xs block h-fl-space-m w-fl-space-m rounded-full bg-accent text-center text-fl-step-1 font-black text-white;
        content: counter(a);
    }

    /* Blockquotes
  ---------------------------------------------------------------------------------*/
    blockquote {
        @apply relative my-fl-space-l block pl-fl-space-xs text-left font-Georgia text-fl-step-1 before:icon-[lucide--message-square-quote]
before:block before:text-[1.5em] before:leading-none before:text-accent;
    }

    blockquote .cite {
        @apply mb-0 mt-fl-space-xs text-fl-step-0 not-italic leading-fl-space-m text-quiet;
    }

    /* labels
  ---------------------------------------------------------------------------------*/
    .label {
        @apply inline-block rounded px-fl-space-3xs py-fl-space-3xs align-text-bottom text-fl-step--2 uppercase leading-none;
    }

    .label-pin {
        @apply flex items-center rounded-full text-fl-step--2;
    }

    .label-pin__icon {
        @apply h-fl-space-m w-auto;
    }

    .label--info {
        @apply border border-brand bg-brand text-content-dark;
    }

    .label--disabled {
        @apply border border-gray-300 bg-gray-300 text-content-dark/25;
    }

    .label--alert {
        @apply border-red-600 bg-warning text-content-light;
    }

    /* Shapes/Masks
---------------------------------------------------------------------------------*/
    .bookmarkclip {
        clip-path: polygon(
            0% 0%,
            100% 0%,
            100% 100%,
            50% calc(100% - 10%),
            0% 100%
        );
    }

    .angleclip {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% calc(100% - 80px));
    }

    @media screen(md) {
        .angleclip {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% calc(100% - 100px));
        }
    }
}
