/* Add styles here to allow components to override them */
@layer components {
    /* Dividers
---------------------------------------------------------------------------------*/
    .divider {
        @apply -mx-4 mt-8 flex items-center justify-between before:mr-1
  before:w-3 before:border-b after:ml-1 
  after:grow after:border-b first:mt-0 first-of-type:before:border-0 first-of-type:after:border-0
  md:-mx-8 before:md:mr-2 before:md:w-6 after:md:ml-2;
    }

    .divider--center {
        @apply w-auto text-center before:grow;
    }

    /* Misc 
---------------------------------------------------------------------------------*/
    .svg--shadow {
        filter: drop-shadow(0px 0px 16px rgb(0 0 0 / 0.75));
    }

    /* Home 
---------------------------------------------------------------------------------*/
    .fun-hover {
        background-image: linear-gradient(to right, #25b0a9 50%, #fee603 50%);
        background-position: 0;
        background-size: 200%;
        transition: all 0.4s;
        &:hover {
            background-position: -100%;
        }
    }
    /*
  .highlight > span {
    display: inline;
    background: #ee4035;
     padding: 0.5rem 0;
    box-decoration-break: clone;
    box-shadow: 0.5rem 0 0 #ee4035, -0.5rem 0 0 #ee4035;
  }
*/

    .goo {
        display: inline;
        box-decoration-break: clone;
        padding: 0 1rem;
        filter: url('#goo');
    }
    .highlight > span {
        padding: 0 1rem;
        box-decoration-break: clone;
        background: black;
    }

    @keyframes animatedBackground {
        to {
            background-size: 100% 100%;
        }
    }

    /* Panels 
---------------------------------------------------------------------------------*/
    .panel {
        @apply w-full overflow-hidden rounded-lg bg-white shadow-lg lg:min-h-40;
    }

    .panel + * {
        @apply mt-4;
    }

    /* Callouts
---------------------------------------------------------------------------------*/
    .callout {
        @apply rounded border border-gray-100 bg-white p-4 shadow;
    }

    .callout + * {
        @apply mt-8;
    }

    /* Buttons 
  ---------------------------------------------------------------------------------*/
    .btn {
        @apply inline-flex items-center rounded-full px-4 py-2 align-middle text-base font-bold transition-colors hover:shadow-inset;
    }

    /* Buttons | Themes */
    .btn--primary {
        @apply bg-accent text-white hover:border-black/10 hover:bg-white hover:text-gray-900;
    }

    .btn--secondary {
        @apply bg-slate-900 text-white  hover:bg-white hover:text-gray-900;
    }

    .btn--white {
        @apply bg-white text-slate-700 text-shadow-none hover:bg-white hover:text-gray-900;
    }

    .btn--outline {
        @apply bg-transparent ring-2 ring-inset ring-gray-200 text-shadow-none hover:bg-white hover:text-gray-900;
    }

    .btn--quiet {
        @apply bg-transparent text-gray-900 hover:border-gray-300  hover:bg-gray-600 hover:text-white;
    }

    .btn--disabled {
        @apply bg-transparent text-gray-300 ring-2 ring-gray-200 hover:border-gray-300  hover:bg-transparent hover:text-gray-300;
    }

    .btn--link {
        @apply text-gray-900  hover:bg-white;
    }

    .btn--banner {
        @apply relative rounded-full border-none px-2.5 py-1  font-medium text-slate-900 transition-all duration-300 hover:bg-slate-600 hover:text-white hover:shadow-bannerlink;
    }
    .btn--banner.active {
        @apply bg-brand  text-slate-900  shadow-bannerlink shadow-brand-darker hover:text-slate-900;
    }

    /* Buttons | Size variants */
    .btn--sm {
        @apply h-7 px-2.5 py-0 text-sm !leading-7;
    }

    /* Buttons | Icon variants */
    .btn--icon {
        @apply justify-between gap-x-2 pr-3;
    }

    /* Header */
    .banner {
        @apply fixed;
        &--down {
            @apply -translate-y-full;
        }
        &--up {
            @apply shadow-banner shadow-gray-950/10;
        }
        &--start {
        }
        &--freeze {
            @apply translate-y-0 duration-0;
            .banner__logo {
                /* @apply max-md:my-4; */
            }
        }
        .hero--light & {
            &--up {
                @apply bg-white;
            }
        }

        .hero--dark & {
            @apply bg-slate-900;
            &--start,
            &--down {
                @apply bg-transparent;
            }
            &--up {
            }
            &__logo {
                @apply shadow-black/50 drop-shadow-logo;
            }
        }
    }

    /* Menu links */
    .menulink {
        @apply flex h-full items-center rounded-full text-base/none font-medium transition duration-150 focus:outline-none focus:ring-2;
        &__toggle {
            @apply bg-white text-accent  focus:bg-white focus:text-slate-800;
        }

        .hero--light & {
            @apply text-accent hover:bg-white hover:text-slate-800 focus:bg-white  focus:text-slate-800;
            &[data-state='active'] {
                @apply text-slate-800 ring-2 ring-brand  hover:text-slate-800;
            }
            .menulink__toggle {
                @apply text-slate-800;
            }
        }
        .hero--dark & {
            @apply text-white hover:bg-white hover:text-slate-800 focus:bg-white  focus:text-slate-800;
            &[data-state='active'] {
                @apply text-white ring-2 ring-brand  hover:text-slate-800;
            }
            .menulink__toggle {
                @apply text-slate-800;
            }
        }
    }

    /* Placeholders */
    .holder {
        @apply relative before:absolute before:inset-0 before:border-2 before:border-dashed before:border-gray-200;
    }

    /* Forms 
---------------------------------------------------------------------------------*/
    /* Remove spinner from number forms */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type='number'] {
        -moz-appearance: textfield;
    }
    .form--panel {
        @apply w-full overflow-hidden rounded-lg bg-white shadow-lg lg:min-h-40;
    }

    .form__input,
    .form__select {
        @apply block rounded  border border-gray-300 bg-white px-3 py-2 placeholder:text-gray-400  focus:border-blue-500 focus:bg-white focus:outline-none focus:ring-2 focus:ring-blue-200;
    }

    .form__input.error,
    .form__select.error,
    .form__checkbox.error {
        @apply border-transparent ring-2 ring-red-200 focus:border-blue-500 focus:ring-blue-200;
    }

    .form__input.readonly {
        @apply pointer-events-none select-none border border-gray-300  bg-gray-100 focus:border-gray-300 focus:bg-gray-100 focus:outline-none focus:ring-0;
    }

    .form__textarea {
        @apply block rounded  border border-gray-300 bg-white px-3 py-2 placeholder:text-gray-400  focus:border-blue-500 focus:bg-white focus:outline-none focus:ring-2 focus:ring-blue-200;
    }

    .form__checkbox {
        @apply rounded border border-gray-400 px-2 py-2 text-accent focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-200;
    }

    .form__checkbox,
    .form__radio {
        @apply border border-gray-400 px-2 py-2 text-accent focus:border-blue-500 focus:outline-none  focus:ring-2 focus:ring-blue-200;
    }

    .form__divider {
        @apply -mx-4 my-8 border-gray-200 lg:mx-0 lg:w-full;
    }

    .form__divider--panel {
        @apply -mx-4 w-auto lg:-mx-8;
    }

    /* Forms | Switch */
    .switch {
        @apply flex cursor-pointer items-center;
    }

    .switch__bg {
        @apply relative  h-6 w-11 overflow-hidden rounded-full bg-gray-300 shadow-inset
  after:absolute after:left-0.5 after:top-0.5 after:h-5 after:w-5 after:rounded-full after:border-2 after:border-gray-400 after:bg-white after:shadow-sm after:transition;
    }

    .switch__label {
        @apply mr-3;
    }

    input:checked + .switch__bg:after {
        @apply border-accent;
        transform: translateX(100%);
    }

    input:checked + .switch__bg {
        @apply bg-accent;
    }

    /* Notifications
---------------------------------------------------------------------------------*/
    .notification {
        @apply rounded bg-slate-900 p-2 text-white;
    }

    /* Notes
---------------------------------------------------------------------------------*/
    .note {
        @apply inline-block rounded border border-yellow-100 bg-yellow-50 px-2 py-1;
    }

    .note--alert {
        @apply rounded border-attention bg-red-600;
    }

    .note--attention {
        @apply border border-yellow-300 bg-yellow-300;
    }

    .note--promo {
        @apply border border-dashed border-black bg-yellow-300 px-1.5 py-1 font-bold;
    }

    .note--help,
    .note--error {
        @apply relative block pl-5 text-sm leading-note;
    }

    .note--error {
        @apply text-red-600 before:absolute before:left-0 before:block before:font-awesome before:text-base
  before:font-black before:not-italic before:leading-inherit before:content-['\f06a'];
    }

    .note--help {
        @apply before:absolute before:left-0 before:block before:font-awesome before:text-base before:font-black
before:not-italic before:leading-inherit before:text-blue-500 before:content-['\f05a'];
    }

    /* Lists
---------------------------------------------------------------------------------*/

    .list {
        @apply space-y-2 !pl-0;
    }
    .list li {
        @apply relative  leading-normal;
    }
    .list--compact li {
        @apply my-0.5;
    }

    .list--underlined li {
        @apply border-b border-gray-300 last:border-0;
    }

    .list--bullet li,
    .list--checklist li {
        @apply list-none pl-8 before:absolute before:left-0 before:top-0 before:w-6 before:leading-normal;
    }

    .list--bullet li {
        @apply before:icon-[ci--dummy-square-small] before:translate-y-px before:text-[24px] before:text-accent;
    }

    .list--checklist li {
        @apply before:icon-[lucide--check-circle-2] before:text-teal-500;
    }

    .list--counter {
    }

    .list--counter > li {
        @apply relative list-none pl-12;
        counter-increment: a;
    }

    .list--counter > li:before {
        @apply absolute left-0 top-1.5 mr-4 block h-7 w-7 rounded-full bg-accent text-center text-xl font-black text-white lg:h-8 lg:w-8 lg:text-2xl;
        content: counter(a);
    }

    /* Blockquotes
  ---------------------------------------------------------------------------------*/
    blockquote {
        @apply relative my-12 block pl-4 text-left font-Georgia text-xl before:block
before:font-awesome before:text-[1.5em] before:font-black before:not-italic before:leading-none before:text-accent before:content-['\f10d'] md:text-xl;
    }

    blockquote .cite {
        @apply mb-0 mt-4 block text-base not-italic leading-8 text-gray-500;
    }

    /* labels
  ---------------------------------------------------------------------------------*/
    .label {
        @apply inline-block rounded px-1 py-1 align-text-bottom text-3xs uppercase leading-none;
    }

    .label-pin {
        @apply flex items-center rounded-full text-3xs;
    }

    .label-pin__icon {
        @apply h-6 w-auto;
    }

    .label--info {
        @apply border border-brand bg-brand;
    }

    .label--disabled {
        @apply border border-gray-300 bg-gray-300 text-gray-500;
    }

    .label--alert {
        @apply border-red-600 bg-red-600 text-white;
    }

    /* Pagination
---------------------------------------------------------------------------------*/
    .pagination {
        @apply relative z-0 flex justify-between -space-x-px rounded shadow-sm;
    }

    .pagination__page {
        @apply relative  items-center border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-accent hover:bg-gray-50;
    }

    .pagination__ellipsis {
        @apply relative items-center border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700;
    }

    .pagination__previous {
        @apply relative inline-flex items-center rounded-l-md border border-gray-300 bg-white px-2 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50;
    }

    .pagination__next {
        @apply relative inline-flex items-center rounded-r-md border border-gray-300 bg-white px-2 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50;
    }

    .pagination .active {
        @apply relative z-10 items-center border border-gray-300 bg-white px-4 py-2 text-sm font-bold  ring-1 ring-blue-200;
    }

    /* Media
---------------------------------------------------------------------------------*/
    /* .credit {
        @apply absolute bottom-2 left-3 z-50 grid cursor-help grid-cols-credit items-end gap-2 text-left text-white md:left-8;
    }
    .credit__icon {
        @apply flex h-8 w-8 items-center justify-center rounded-full rounded-br-none bg-slate-900/25 text-sm;
    }

    .credit__text {
        @apply rounded rounded-bl-none bg-slate-900/25 px-2 py-1 text-xs;
    } */

    .media figcaption {
        @apply mt-0 border-b border-slate-200 p-3 text-sm md:px-0;
    }

    .media__wrap {
        @apply relative;
    }

    .media__wrap img {
        @apply m-0 h-auto w-full;
    }

    .media--widescreen .media__wrap {
        @apply relative block overflow-hidden pb-widescreen;
    }

    .media--widescreen img {
        @apply absolute inset-0 m-0 h-full w-full object-cover;
    }
    /* Modals
---------------------------------------------------------------------------------*/

    /* Shapes/Masks
---------------------------------------------------------------------------------*/
    .bookmarkclip {
        clip-path: polygon(
            0% 0%,
            100% 0%,
            100% 100%,
            50% calc(100% - 8px),
            0% 100%
        );
    }

    .curve {
        clip-path: ellipse(150% 100% at 50% 0%);
    }

    .curve--r {
        clip-path: ellipse(100% 180% at 0% 50%);
    }

    .clip-divide {
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), 0 100%);
    }

    .clip-divide + * {
        clip-path: polygon(0 50px, 100% 0, 100% 100%, 0 100%);
        margin-top: -50px;
    }

    .clipshape {
        @apply z-10
    before:pointer-events-none before:absolute before:inset-0 before:-z-10 before:block before:h-full before:w-full
    before:translate-x-5 before:rotate-2 before:bg-accent before:opacity-75
    after:pointer-events-none after:absolute after:inset-0 after:-z-10 after:block after:h-full after:w-full
    after:translate-x-0 after:-rotate-3 after:scale-x-125 after:scale-y-150 after:bg-accent after:opacity-75;
    }

    .clipshape * {
        position: relative;
    }

    .clipshape--xl {
        @apply before:translate-x-0 before:-rotate-3 before:scale-x-125 before:scale-y-150
    before:rounded-clipshapeXL
    after:-translate-x-20 after:-rotate-3 after:skew-x-12 after:bg-brand after:opacity-80;
    }

    .angleclip {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% calc(100% - 80px));
        /*padding-bottom: 240px;*/
    }
    /*.post-angleclip {
        margin-top: -240px;
    }*/

    @media screen(md) {
        .angleclip {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% calc(100% - 100px));
            /*padding-bottom: 300px;*/
        }

        /*.post-angleclip {
            margin-top: -300px;
        }*/
    }

    .thumbclip {
        /* clip-path: polygon(0 0, 100.5% 0, 100.5% 100%, calc(100% - 16px) 100%, 0 calc(100% - 24px));*/
        clip-path: polygon(0 0, 100.5% 0, 100.5% 100%, 0 calc(100% - 24px));
    }
    .headerclip {
        clip-path: polygon(0 0, 100.5% 0, 100.5% 100%, 0 0);
    }

    .tabclip:before,
    .tabclip:after {
        /*clip-path: path('M0,0C.55,0,1,.45,1,1V0H0Z'); */
        clip-path: url(#tabclip);
        @apply absolute -left-2 top-0 h-2 w-2;
    }

    .tabclip:after {
        @apply -right-2 left-auto -scale-x-100;
    }

    /* Hero | Splash
---------------------------------------------------------------------------------*/

    /* Javascript | Alpine modifiers
  ---------------------------------------------------------------------------------*/
    .copytip:before {
        @apply invisible absolute left-1/2 -translate-x-1/2 -translate-y-12 whitespace-nowrap rounded bg-slate-900 bg-opacity-95 p-2 text-sm font-normal text-white shadow-sm content-[attr(aria-label)];
    }

    /* Javascript | Swiper
  ---------------------------------------------------------------------------------*/
    .swiper-pagination {
        @apply !left-1/2 !w-auto -translate-x-1/2;
    }
    /* Javascript | Photoswipe
  ---------------------------------------------------------------------------------*/
    /* [data-lightbox] {
        @apply relative
        z-0 before:absolute before:inset-0
        before:z-10 before:flex before:items-center  before:justify-center before:bg-slate-900/75 before:font-awesome before:text-2xl/none before:font-black before:not-italic before:leading-inherit before:text-white before:opacity-0 before:backdrop-blur-sm
        before:backdrop-brightness-125 before:transition before:duration-300 before:content-['\f00e'] before:hover:opacity-100;
    } */
}
