@layer base {
    /* https://divmagic.com/tools/color-converter */
    /* --[type: color]- */
    :root {
        --container-max: 75rem;
        /* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1200,18,1.25,5,2,768&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
        --step--2: clamp(0.6944rem, 0.6855rem + 0.0446vw, 0.72rem);
        --step--1: clamp(0.8331rem, 0.8099rem + 0.1163vw, 0.9rem);
        --step-0: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
        --step-1: clamp(1.2rem, 1.1283rem + 0.3587vw, 1.4063rem);
        --step-2: clamp(1.44rem, 1.3293rem + 0.5533vw, 1.7581rem);
        --step-3: clamp(1.7281rem, 1.5649rem + 0.8163vw, 2.1975rem);
        --step-4: clamp(2.0738rem, 1.8396rem + 1.1707vw, 2.7469rem);
        --step-5: clamp(2.4881rem, 2.1594rem + 1.6435vw, 3.4331rem);
        --step-6: clamp(2.9863rem, 2.5323rem + 2.2696vw, 4.2913rem);
        --step-7: clamp(3.5831rem, 2.9636rem + 3.0978vw, 5.3644rem);

        /* @link https://utopia.fyi/space/calculator?c=320,16,1.2,1200,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6|8,s-l|m-s|s-xs&g=s,l,xl,12 */

        /* Space 3xs: 4px → 5px */
        --space-3xs: clamp(0.25rem, 0.2273rem + 0.1136vi, 0.3125rem);
        /* Space 2xs: 8px → 10px */
        --space-2xs: clamp(0.5rem, 0.4545rem + 0.2273vi, 0.625rem);
        /* Space xs: 12px → 15px */
        --space-xs: clamp(0.75rem, 0.6818rem + 0.3409vi, 0.9375rem);
        /* Space s: 16px → 20px */
        --space-s: clamp(1rem, 0.9091rem + 0.4545vi, 1.25rem);
        /* Space m: 24px → 30px */
        --space-m: clamp(1.5rem, 1.3636rem + 0.6818vi, 1.875rem);
        /* Space l: 32px → 40px */
        --space-l: clamp(2rem, 1.8182rem + 0.9091vi, 2.5rem);
        /* Space xl: 48px → 60px */
        --space-xl: clamp(3rem, 2.7273rem + 1.3636vi, 3.75rem);
        /* Space 2xl: 64px → 80px */
        --space-2xl: clamp(4rem, 3.6364rem + 1.8182vi, 5rem);
        /* Space 3xl: 96px → 120px */
        --space-3xl: clamp(6rem, 5.4545rem + 2.7273vi, 7.5rem);
        /* Space 4xl: 128px → 160px */
        --space-4xl: clamp(8rem, 7.2727rem + 3.6364vi, 10rem);

        /* One-up pairs */
        /* Space 3xs-2xs: 4px → 10px */
        --space-3xs-2xs: clamp(0.25rem, 0.1136rem + 0.6818vi, 0.625rem);
        /* Space 2xs-xs: 8px → 15px */
        --space-2xs-xs: clamp(0.5rem, 0.3409rem + 0.7955vi, 0.9375rem);
        /* Space xs-s: 12px → 20px */
        --space-xs-s: clamp(0.75rem, 0.5682rem + 0.9091vi, 1.25rem);
        /* Space s-m: 16px → 30px */
        --space-s-m: clamp(1rem, 0.6818rem + 1.5909vi, 1.875rem);
        /* Space m-l: 24px → 40px */
        --space-m-l: clamp(1.5rem, 1.1364rem + 1.8182vi, 2.5rem);
        /* Space l-xl: 32px → 60px */
        --space-l-xl: clamp(2rem, 1.3636rem + 3.1818vi, 3.75rem);
        /* Space xl-2xl: 48px → 80px */
        --space-xl-2xl: clamp(3rem, 2.2727rem + 3.6364vi, 5rem);
        /* Space 2xl-3xl: 64px → 120px */
        --space-2xl-3xl: clamp(4rem, 2.7273rem + 6.3636vi, 7.5rem);
        /* Space 3xl-4xl: 96px → 160px */
        --space-3xl-4xl: clamp(6rem, 4.5455rem + 7.2727vi, 10rem);

        /* Custom pairs */
        /* Space s-l: 16px → 40px */
        --space-s-l: clamp(1rem, 0.4545rem + 2.7273vi, 2.5rem);
        /* Space m-s: 24px → 20px */
        --space-m-s: clamp(1.25rem, 1.5909rem + -0.4545vi, 1.5rem);
        /* Space s-xs: 16px → 15px */
        --space-s-xs: clamp(0.9375rem, 1.0227rem + -0.1136vi, 1rem);

        /* Space 30px up to 1200px then reduce down to 0px by 1260px */
        --container-padding: clamp(0rem, 39.375rem + -50vi, 1.875rem);
        --headerheight: calc(var(--space-l) + (var(--space-s) * 2));
        --splash-overlap: calc(var(--space-3xl) * 2);
        --container-width-max: 1200px;
        --container-width-sm: 640px;
        --container-width-md: 768px;
        --container-width-lg: 1024px;
        --container-width-xl: 1280px;

        --color-page__bg: 250 250 250; /* zinc-50 */
        --color-page__bg--contrast: 250 250 250; /* putty | https://www.colorhexa.com/f5f4f0 */

        .swiper {
            /* Add .swiper class to override defaults */
            --swiper-theme-color: theme('colors.accent.DEFAULT') !important;
            /* --swiper-pagination-color: theme('colors.white'); */
            --swiper-pagination-bullet-inactive-color: white;
            --swiper-pagination-bullet-inactive-opacity: 1;
            --swiper-navigation-size: var(--space-m);
        }

        --shader: svg-load('stack__papercuts.svg');

        --color-banner: transparent; /* transparent */
        --color-banner-up: 255 255 255; /* white */

        --color-menu: 230 0 95; /* Accent Magenta / #e6005f */
        --color-menu-active: 55 65 81; /* gray-700 */
        --color-menu__bg-hover: 255 255 255; /* white */
        --color-menu__bg-active: 255 210 0; /* Brand yellow / #ffd200 */
        --color-menu__marker: 255 210 0; /* Brand yellow / #ffd200 */

        --color-menudark: 255 255 255; /* White */
        --color-menudark-active: 55 65 81; /* gray-700 */
        --color-menudark__bg-hover: 255 255 255; /* white */
        --color-menudark__bg-active: 255 210 0; /* Brand yellow / #ffd200 */
        --color-menudark__marker: 255 210 0; /* Brand yellow / #ffd200 */

        --color-dropdown: 55 65 81; /* gray-700 */
        --color-dropdown-hover: 228 228 231; /* zinc-200 */
        --color-dropdown-active: 55 65 81; /* gray-700 */
        --color-dropdown-highlight: 255 210 0; /* Brand yellow / #ffd200 */
        --color-dropdown__bg-hover: 228 228 231; /* zinc-200 */
        --color-dropdown__bg-active: 255 210 0; /* Brand yellow / #ffd200 */
        --color-dropdown__bg-highlight: 255 210 0; /* Brand yellow / #ffd200 */

        --color-menusm: 55 65 81; /* gray-700 */
        --color-menusm-hover: 255 255 255; /* white */
        --color-menusm-active: 255 255 255; /* white */

        --color-underlay-light: 249 250 251; /* gray-50  */
        --color-underlay-dark: 24 24 27; /* zinc-800  */

        --color-overlay-light: 249 250 251; /* gray-50  */
        --color-overlay-dark: 24 24 27; /* zinc-800 */

        --color-panel-contrast: 244 244 245; /* zinc-100 */
        --color-panel: 255 255 255; /* white */
        --color-panel-shadow: 31 41 55; /* gray-800 */
        --color-panel-invert: 31 41 55; /* gray-800 */

        --color-outline-pale: 244 244 245; /* zinc-100 */
        --color-outline: 228 228 231; /* zinc-200 */
        --color-outline-hard: 212 212 216; /* zinc-300 */

        --color-footer: 255 255 255; /* white */
        --color-footer__bg-light: 30 41 59; /* slate 800 */
        --color-footer__bg: 15 23 42; /* slate 900 */
        --color-footer__bg-dark: 2 6 23; /* slate 950 */

        --color-note: 254 240 138; /* yellow-200 */
        --color-note-shade: 250 204 21; /* yellow-400 */

        --color-info: 56 189 248; /* sky-400 */
        --color-info-shade: 2 132 199; /* sky-600 */

        --color-alert: 220 38 38; /* red-600 */
        --color-alert-shade: 153 27 27; /* red-800 */

        --color-attention: 253 224 71; /* yellow-300 */
        --color-attention-shade: 234 179 8; /* yellow-500 */

        --color-warning-light: 220 38 38; /* red-600 */
        --color-warning: 220 38 38; /* red-600 */
        --color-warning-dark: 153 27 27; /* red-800 */

        --color-hilite: 253 224 71; /* yellow-300 */

        --color-gold: 182 160 108; /* #b6a06c */

        --color-focus: 56 189 248; /* sky-400 */

        --color-tag: 63 63 70; /* zinc-700 */
        --color-tag-featured: 63 63 70; /* zinc-700 */
        --color-tag__bg: 244 244 245; /* zinc-100 */
        --color-tag__bg-link: 253 224 71; /* yellow-300 */
        --color-tag__bg-hover: 250 204 21; /* yellow-400 */
        --color-tag__bg-featured: 253 224 71; /* yellow-300 */

        --color-content: 55 65 81; /* gray-700 */
        --color-content-invert: 255 255 255; /* white */
        --color-content-light: 250 250 250; /* zinc-50 */
        --color-content-dark: 55 65 81; /* gray-700 */

        --color-headline: 31 41 55; /* gray-800 */
        --color-headline-start: 2 132 199; /* sky-600 */
        --color-headline-end: 15 23 42; /* slate-900 */
        --color-blockquote: 31 41 55; /* gray-800 */

        --color-brand-lightest: 255 224 77; /* #ffe04d */
        --color-brand-light: 255 215 26; /* #ffd71a */
        --color-brand: 255 210 0; /* Brand yellow / #ffd200 https://www.colorhexa.com/ffd200 */
        --color-brand-dark: 230 189 0; /* #e6bd00 */
        --color-brand-darkest: 179 147 0; /* #b39300 */

        --color-accent-light: 255 0 106; /* #ff006a */
        --color-accent: 230 0 95; /* Accent Magenta / #e6005f https://www.colorhexa.com/e6005f */
        --color-accent-dark: 205 0 84; /* #cd0054 */

        --color-secondary-light: 51 65 85; /* slate-700 */
        --color-secondary: 30 41 59; /* slate-800 */
        --color-secondary-dark: 2 6 23; /* slate-950 */

        --color-quiet-light: 209 213 219; /* gray-300 */
        --color-quiet: 161 161 170; /* zinc-400 */

        --color-credit: 250 250 250; /* zinc-50 */
        --color-credit__bg: 31 41 55; /* gray-800 */

        --color-disabled: 209 213 219; /* gray-300 */
    }

    @media (prefers-color-scheme: dark) {
        :root {
        }
    }

    :root[data-theme='dark'] {
        --shader: svg-load('shade__dark.svg');

        --color-underlay-light: 39 39 42; /* zinc-800  */
        --color-underlay-dark: 9 9 11; /* zinc 950  */

        --color-page__bg: 39 39 42; /* zinc-800 */
        --color-page__bg--contrast: 63 63 70; /* zinc 700 */

        --color-banner: transparent; /* transparent */
        --color-banner-up: 9 9 11; /* zinc 950 */

        --color-menu: 228 228 231; /* zinc-200 */
        --color-menu-active: 255 255 255; /* White */
        --color-menu__bg-hover: 255 255 255; /* white */
        --color-menu__bg-active: 255 210 0; /* Brand yellow / #ffd200 */
        --color-menu__marker: 255 210 0; /* Brand yellow / #ffd200 */

        --color-menudark: 255 255 255; /* White */
        --color-menudark-active: 255 255 255; /* White */
        --color-menudark__bg-hover: 255 255 255; /* white */
        --color-menudark__bg-active: 255 210 0; /* Brand yellow / #ffd200 */
        --color-menudark__marker: 255 210 0; /* Brand yellow / #ffd200 */

        --color-dropdown: 228 228 231; /* zinc-200 */
        --color-dropdown-hover: 228 228 231; /* zinc-200 */
        --color-dropdown-active: 55 65 81; /* gray-700 */
        --color-dropdown-highlight: 255 210 0; /* Brand yellow / #ffd200 */
        --color-dropdown__bg-hover: 228 228 231; /* zinc-200 */
        --color-dropdown__bg-active: 255 210 0; /* Brand yellow / #ffd200 */
        --color-dropdown__bg-highlight: 255 210 0; /* Brand yellow / #ffd200 */

        --color-overlay-light: 39 39 42; /* zinc-800  */
        --color-overlay-dark: 9 9 11; /* zinc 950  */

        --color-warning-light: 220 38 38; /* red-600 */
        --color-warning: 220 38 38; /* red-600 */
        --color-warning-dark: 153 27 27; /* red-800 */

        --color-panel-invert: 82 82 91; /* zinc-600 */
        --color-panel: 39 39 42; /* zinc 800 */
        --color-panel-contrast: 24 24 27; /* zinc-900 */

        --color-outline-pale: 39 39 42; /* zinc-800 */
        --color-outline: 63 63 70; /* zinc-700 */
        --color-outline-hard: 82 82 91; /* zinc-600 */

        --color-footer: 255 255 255; /* white */
        --color-footer__bg-light: 39 39 42; /* zinc 800 */
        --color-footer__bg: 24 24 27; /* zinc 900 */
        --color-footer__bg-dark: 9 9 11; /* zinc 950 */

        --color-info: 2 132 199; /* sky-600 */
        --color-info-shade: 7 89 133; /* sky-800 */

        --color-note: 253 224 71; /* yellow-300 */
        --color-note-shade: 234 179 8; /* yellow-500 */

        --color-alert: 220 38 38; /* red-600 */
        --color-alert-shade: 153 27 27; /* red-800 */

        --color-attention: 253 224 71; /* yellow-300 */
        --color-attention-shade: 234 179 8; /* yellow-500 */

        --color-tag: 55 65 81; /* gray-700 */
        --color-tag__bg: 24 24 27; /* zinc-900 */
        --color-tag__bg-link: 253 224 71; /* yellow-300 */
        --color-tag__bg-hover: 250 204 21; /* yellow-400 */

        --color-content: 228 228 231; /* zinc-200 */
        --color-content-invert: 55 65 81; /* gray-700 */
        --color-content-light: 250 250 250; /* zinc-50 */
        --color-content-dark: 55 65 81; /* gray-700 */

        --color-headline: 228 228 231; /* zinc-200 */
        --color-headline-start: 228 228 231; /* zinc-200 */
        --color-headline-end: 250 250 250; /* zinc-50 */

        --color-blockquote: 250 250 250; /* zinc-50 */

        --color-accent-lightest: 255 224 77; /* #ffe04d */
        --color-accent-light: 255 215 26; /* #ffd71a */
        --color-brand: 255 210 0; /* Brand yellow / #ffd200 https://www.colorhexa.com/ffd200 */
        --color-accent-dark: 230 189 0; /* #e6bd00 */
        --color-accent-darkest: 179 147 0; /* #b39300 */

        --color-accent-light: 255 0 106; /* #ff006a */
        --color-accent: 230 0 95; /* Accent Magenta / #e6005f https://www.colorhexa.com/e6005f */
        --color-accent-dark: 205 0 84; /* #cd0054 */

        --color-quiet-light: 209 213 219; /* gray-300 */
        --color-quiet: 113 113 122; /* zinc-500 */

        --color-disabled: 209 213 219; /* gray-300 */
    }

    /* Containers
---------------------------------------------------------------------------------*/
    .max-w-container {
        @apply mincon:px-fl-space-containerpadding px-fl-space-m;
    }

    /* SVGs
---------------------------------------------------------------------------------*/
    svg {
        stroke-width: 2;
    }

    path,
    circle,
    ellipse,
    line,
    polygon,
    polyline,
    rect {
        stroke-width: inherit;
    }

    /* Uses SVGs in this folder: src/assets/svg */
    .mask--plus__base_repeat {
        mask: svg-load('plus__base_repeat.svg');
    }

    .shader {
        background-image: svg-load('arcs__shadow.svg');
        background-repeat: repeat-y;
        background-size: 100%;
        background-position: center top;
    }

    /* Editorial
---------------------------------------------------------------------------------*/
    .link {
        @apply font-medium text-accent decoration-solid decoration-2 hover:underline;
    }

    .hilite {
        @apply rounded-tight bg-hilite p-fl-space-3xs font-medium text-content-dark;
    }

    .external {
        @apply after:ml-1 after:inline-block after:font-awesome after:font-black after:not-italic after:content-['\f35d'];
    }

    .font-headline a {
        @apply font-extrabold;
    }

    .capline {
        @apply relative mb-[1em] before:absolute before:-bottom-[0.5em] before:left-0 before:w-[1.25em] before:border-b-3 before:border-b-teal-400;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-headline tracking-tight;
    }

    h1 {
        @apply font-extrabold;
    }

    /* Richtext editor content */

    .rte h2 {
        @apply capline text-fl-step-3 font-bold tracking-tight;
    }

    .rte h3 {
        @apply mb-fl-space-3xs text-fl-step-1 font-bold;
    }

    .rte h4 {
        @apply mb-fl-space-3xs text-fl-step-1 font-medium;
    }

    .rte > p {
        @apply mb-fl-space-xs;
    }

    .rte > :last-child {
        @apply mb-0;
    }

    .rte strong {
        @apply font-bold;
    }

    /*.rte .heading {
  @apply mb-[1em];
} */

    /* subsequent-sibling combinator */
    .rte .heading ~ .heading {
        @apply mt-[1.5em];
    }

    /* Typography | Superscript */
    sup.new {
        @apply rounded-sm bg-accent px-0.5 py-px align-top text-fl-step--1 font-medium leading-none !text-white;
    }

    /* Tables
---------------------------------------------------------------------------------*/
    .table thead {
        @apply text-left font-bold;
    }

    .table th {
        @apply border-b pb-fl-space-2xs pt-0;
    }

    .table th,
    .table tbody td {
        @apply py-1;
    }

    .table--rows tr {
        @apply border-b border-gray-300 last:border-0;
    }

    .table--padded th,
    .table--padded tbody td {
        @apply py-fl-space-2xs pl-fl-space-2xs lg:pl-fl-space-xs;
    }
    .table--padded tr th,
    .table--padded tr td {
        @apply last:pr-fl-space-2xs last:lg:pr-fl-space-xs;
    }

    .table--noindent tr td,
    .table--noindent thead th {
        @apply first:pl-0 last:pr-0;
    }
}
