@layer base {
    .durationpete {
        @apply duration-[400ms];
    }

    /* https://divmagic.com/tools/color-converter */
    :root {
        --white: 255 255 255; /* absolute white */
        --offwhite: 249 250 251; /* gray-50  */

        --black: 0 0 0; /* absolute black */
        --offblack: 24 24 27; /* zinc-800 */

        --banner: transparent;
        --banner-up: 255 255 255; /* absolute white */

        --surface-offscreen: 20 20 26; /* 14141a */
        --surface--20: 234 234 232; /* #f3f3f2 Shade -2 */
        --surface--10: 243 243 242; /* #f3f3f2 Shade -1 */
        --surface: 252 252 252; /* #fcfcfc https://www.colorhexa.com/fcfcfc */
        --surface-10: 255 255 255; /* #FFFFFF Shade +1 */

        --shadow-highlight: 255 255 255; /* absolute white */

        --footer-start: 30 41 59; /* slate 800 */
        --footer: 15 23 42; /* slate 900 */
        --footer-end: 2 6 23; /* slate 950 */

        --line-whisper: 251 251 252; /* #fbfbfc Shade + 2 */
        --line-quiet: 240 241 244; /* #f0f1f4 Shade + 1 */
        --line: 228 228 231; /* zinc-200 #e5e7eb Shade + 0 */
        --line-loud: 207 211 218; /* #cfd3da Shade - 2 */
        --line-shout: 185 190 201; /* #b9bec9 Shade - 4 */

        --copy-light: 250 250 250; /* zinc-50 */
        --copy: 55 65 81; /* gray-700 */
        --copy-dark: 31 41 55; /* gray-800 */
        --copy-darkest: 17 24 39; /* gray-900 */
        --copy-invert: 249 250 251; /* gray-50  */
        --copy-footer: 249 250 251; /* gray-50  */
        --copy-tag: 63 63 70; /* zinc-700 */
        --copy-featured: 63 63 70; /* zinc-700 */

        --copy-whisper: 209 213 219; /* gray-300 */
        --copy-quiet: 107 114 128; /* gray-500 */
        --copy-loud: 17 24 39; /* gray-900 */
        --copy-shout: 3 7 18; /* gray-950 */

        --accent-light: 240 25 101; /* #f01965 */
        --accent: 230 15 91; /* #E60F5B */
        --accent-dark: 212 14 84; /* #d40e54 */

        --brand-light: 255 213 20; /* #ffd514  */
        --brand: 255 210 0; /* #ffd200  */
        --brand-dark: 235 194 0; /* #ebc200 */

        --secondary-light: 51 65 85; /* slate-700 */
        --secondary: 30 41 59; /* slate-800 */
        --secondary-dark: 2 6 23; /* slate-950 */

        --tag: 244 244 245; /* zinc-100 */
        --tag-link: 253 224 71; /* yellow-300 */
        --tag-hover: 250 204 21; /* yellow-400 */
        --tag-featured: 253 224 71; /* yellow-300 */

        --note: 254 240 138; /* yellow-200 */
        --note-shade: 250 204 21; /* yellow-400 */

        --info: 56 189 248; /* sky-400 */
        --info-shade: 14 165 233; /* sky-500 */

        --attention: 253 224 71; /* yellow-300 */
        --attention-shade: 234 179 8; /* yellow-500 */

        --warning: 220 38 38; /* red-600 */
        --warning-shade: 185 28 28; /* red-700 */

        --hilite: 253 224 71; /* yellow-300 */
        --gold: 182 160 108; /* #b6a06c */

        --focus: 56 189 248; /* sky-400 */

        --shader: svg-load('stack__papercuts.svg');

        --container-max: 75rem;

        /* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1200,18,1.25,5,2,768&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
        --step--2: clamp(0.6944rem, 0.6855rem + 0.0446vw, 0.72rem);
        --step--1: clamp(0.8331rem, 0.8099rem + 0.1163vw, 0.9rem);
        --step-0: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
        --step-1: clamp(1.2rem, 1.1283rem + 0.3587vw, 1.4063rem);
        --step-2: clamp(1.44rem, 1.3293rem + 0.5533vw, 1.7581rem);
        --step-3: clamp(1.7281rem, 1.5649rem + 0.8163vw, 2.1975rem);
        --step-4: clamp(2.0738rem, 1.8396rem + 1.1707vw, 2.7469rem);
        --step-5: clamp(2.4881rem, 2.1594rem + 1.6435vw, 3.4331rem);
        --step-6: clamp(2.9863rem, 2.5323rem + 2.2696vw, 4.2913rem);
        --step-7: clamp(3.5831rem, 2.9636rem + 3.0978vw, 5.3644rem);

        /* @link https://utopia.fyi/space/calculator?c=320,16,1.2,1200,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6|8,s-l|m-s|s-xs&g=s,l,xl,12 */

        /* Space 3xs: 4px → 5px */
        --space-3xs: clamp(0.25rem, 0.2273rem + 0.1136vi, 0.3125rem);
        /* Space 2xs: 8px → 10px */
        --space-2xs: clamp(0.5rem, 0.4545rem + 0.2273vi, 0.625rem);
        /* Space xs: 12px → 15px */
        --space-xs: clamp(0.75rem, 0.6818rem + 0.3409vi, 0.9375rem);
        /* Space s: 16px → 20px */
        --space-s: clamp(1rem, 0.9091rem + 0.4545vi, 1.25rem);
        /* Space m: 24px → 30px */
        --space-m: clamp(1.5rem, 1.3636rem + 0.6818vi, 1.875rem);
        /* Space l: 32px → 40px */
        --space-l: clamp(2rem, 1.8182rem + 0.9091vi, 2.5rem);
        /* Space xl: 48px → 60px */
        --space-xl: clamp(3rem, 2.7273rem + 1.3636vi, 3.75rem);
        /* Space 2xl: 64px → 80px */
        --space-2xl: clamp(4rem, 3.6364rem + 1.8182vi, 5rem);
        /* Space 3xl: 96px → 120px */
        --space-3xl: clamp(6rem, 5.4545rem + 2.7273vi, 7.5rem);
        /* Space 4xl: 128px → 160px */
        --space-4xl: clamp(8rem, 7.2727rem + 3.6364vi, 10rem);

        /* One-up pairs */
        /* Space 3xs-2xs: 4px → 10px */
        --space-3xs-2xs: clamp(0.25rem, 0.1136rem + 0.6818vi, 0.625rem);
        /* Space 2xs-xs: 8px → 15px */
        --space-2xs-xs: clamp(0.5rem, 0.3409rem + 0.7955vi, 0.9375rem);
        /* Space xs-s: 12px → 20px */
        --space-xs-s: clamp(0.75rem, 0.5682rem + 0.9091vi, 1.25rem);
        /* Space s-m: 16px → 30px */
        --space-s-m: clamp(1rem, 0.6818rem + 1.5909vi, 1.875rem);
        /* Space m-l: 24px → 40px */
        --space-m-l: clamp(1.5rem, 1.1364rem + 1.8182vi, 2.5rem);
        /* Space l-xl: 32px → 60px */
        --space-l-xl: clamp(2rem, 1.3636rem + 3.1818vi, 3.75rem);
        /* Space xl-2xl: 48px → 80px */
        --space-xl-2xl: clamp(3rem, 2.2727rem + 3.6364vi, 5rem);
        /* Space 2xl-3xl: 64px → 120px */
        --space-2xl-3xl: clamp(4rem, 2.7273rem + 6.3636vi, 7.5rem);
        /* Space 3xl-4xl: 96px → 160px */
        --space-3xl-4xl: clamp(6rem, 4.5455rem + 7.2727vi, 10rem);

        /* Custom pairs */
        /* Space s-l: 16px → 40px */
        --space-s-l: clamp(1rem, 0.4545rem + 2.7273vi, 2.5rem);
        /* Space m-s: 24px → 20px */
        --space-m-s: clamp(1.25rem, 1.5909rem + -0.4545vi, 1.5rem);
        /* Space s-xs: 16px → 15px */
        --space-s-xs: clamp(0.9375rem, 1.0227rem + -0.1136vi, 1rem);

        /* Space 30px up to 1200px then reduce down to 0px by 1260px */
        --container-tramline: clamp(0rem, 39.375rem + -50vi, 1.875rem);
        --headerheight: calc(var(--space-l) + (var(--space-s) * 2));
        --splash-overlap: calc(var(--space-3xl) * 2);
        --container-width-max: 1200px;
        --container-width-sm: 640px;
        --container-width-md: 768px;
        --container-width-lg: 1024px;
        --container-width-xl: 1280px;

        /* Tailwind variables */
        --color-banner: var(--banner);
        --color-banner-up: var(--banner-up);

        --color-menu: var(--accent);
        --color-menu-active: var(--copy);
        --color-menu__bg-hover: var(--surface-10);
        --color-menu__bg-active: var(--brand);
        --color-menu__marker: var(--brand);

        --color-menudark: var(--copy-light);
        --color-menudark-active: var(--copy);
        --color-menudark__bg-hover: var(--copy-light);
        --color-menudark__bg-active: var(--brand);
        --color-menudark__marker: var(--brand);

        --color-dropdown: var(--copy);
        --color-dropdown-hover: var(--copy);
        --color-dropdown-active: var(--copy);
        --color-dropdown-highlight: var(--copy);
        --color-dropdown__bg-hover: var(--line);
        --color-dropdown__bg-active: var(--brand);
        --color-dropdown__bg-highlight: var(--brand);

        --color-menusm: var(--copy-light);
        --color-menusm-hover: var(--brand);
        --color-menusm-active: var(--brand);

        --color-underlay-light: var(--offwhite);
        --color-underlay-dark: var(--offblack);

        --color-overlay-light: var(--offwhite);
        --color-overlay-dark: var(--offblack);

        --color-surface-offscreen: var(--surface-offscreen);
        --color-surface-sunk: var(--surface--20);
        --color-surface-sunken: var(--surface--10);
        --color-surface-default: var(--surface);
        --color-surface-raised: var(--surface-10);
        --color-surface-overlay: var(--surface-10);

        --color-shadow-raised: var(--black);
        --color-shadow-overlay: var(--black);
        --color-shadow-inset: var(--black);
        --color-shadow-highlight: var(--shadow-highlight);

        --color-line-whisper: var(--line-whisper);
        --color-line-quiet: var(--line-quiet);
        --color-line: var(--line);
        --color-line-loud: var(--line-loud);
        --color-line-shout: var(--line-shout);

        --color-footer-start: var(--footer-start);
        --color-footer: var(--footer);
        --color-footer-end: var(--footer-end);

        --color-tag: var(--tag);
        --color-tag-link: var(--tag-link);
        --color-tag-hover: var(--tag-hover);
        --color-tag-featured: var(--tag-featured);

        --color-note: var(--note);
        --color-note-shade: var(--note-shade);

        --color-info: var(--info);
        --color-info-shade: var(--info-shade);

        --color-alert: var(--note);
        --color-alert-shade: var(--info-shade);

        --color-attention: var(--attention);
        --color-attention-shade: var(--attention-shade);

        --color-warning: var(--warning);
        --color-warning-shade: var(--warning-shade);

        --color-hilite: var(--hilite);

        --color-gold: var(--gold);

        --color-focus: var(--focus);

        --color-content-light: var(--copy-light);
        --color-content: var(--copy);
        --color-content-dark: var(--copy-dark);
        --color-content-footer: var(--copy-footer);
        --color-content-tag: var(--copy-tag);
        --color-content-featured: var(--copy-featured);

        --color-content-whisper: var(--copy-whisper);
        --color-content-quiet: var(--copy-quiet);
        --color-content-loud: var(--copy-loud);
        --color-content-shout: var(--copy-shout);

        --color-headline: var(--copy-dark);
        --color-headline-start: 2 132 199; /* sky-600 */
        --color-headline-end: var(--copy-darkest);
        --color-blockquote: var(--copy-dark);

        --color-brand-light: var(--brand-light);
        --color-brand: var(--brand);
        --color-brand-dark: var(--brand-dark);

        --color-accent-light: var(--accent-light);
        --color-accent: var(--accent);
        --color-accent-dark: var(--accent-dark);

        --color-secondary-light: var(--secondary-light);
        --color-secondary: var(--secondary);
        --color-secondary-dark: var(--secondary-dark);

        --color-disabled: var(--line-quiet);
    }

    /* Alpine will set data-theme value based on (prefers-color-scheme: dark)  */
    :root[data-theme='dark'] {
        --banner: transparent;
        --banner-up: 11 11 15; /* #0A0A0D */

        --surface--20: 14 14 18; /* #0e0e12 -2 Shade */
        --surface--10: 22 22 29; /* #16161d -1 Shade */
        --surface: 31 31 40; /* #1f1f28 */
        --surface-10: 42 42 54; /* #2a2a36 +1 Shade */

        --shadow-highlight: 54 54 70; /* #363646 */

        --footer-start: 22 22 29; /* #16161d */
        --footer: 14 14 18; /* #0e0e12 */
        --footer-end: 14 14 18; /* #0e0e12 */

        --line-whisper: 37 37 48; /* #252530 Shade + 2 */
        --line-quiet: 54 54 70; /* #363646 Shade + 4 */
        --line: 71 71 93; /* #363646 Shade + 6 */
        --line-loud: 88 88 115; /* #585873 Shade + 8 */
        --line-shout: 105 105 137; /* #696989 Shade + 10 */

        --copy-light: 249 250 251; /* gray-50  */
        --copy: 229 231 235; /* gray-200 */
        --copy-dark: 31 41 55; /* gray-800 */
        --copy-invert: 31 41 55; /* gray-800 */
        --copy-footer: 229 231 235; /* gray-200 */
        --copy-tag: 63 63 70; /* zinc-700 */
        --copy-featured: 31 41 55; /* gray-800 */

        --copy-whisper: 55 65 81; /* gray-700 */
        --copy-quiet: 107 114 128; /* gray-500 */
        --copy-loud: 243 244 246; /* gray-100 */
        --copy-shout: 249 250 251; /* gray-50 */

        --focus: 3 105 161; /* sky-700 */

        --shader: svg-load('shade__dark.svg');

        --color-menu: var(--white);
        --color-menu-active: var(--copy);
        --color-menu__bg-hover: var(--surface-10);
        --color-menu__bg-active: var(--brand);
        --color-menu__marker: var(--brand);

        --color-menudark: var(--copy-light);
        --color-menudark-active: var(--copy);
        --color-menudark__bg-hover: var(--copy-light);
        --color-menudark__bg-active: var(--brand);
        --color-menudark__marker: var(--brand);

        --color-dropdown: var(--copy);
        --color-dropdown-hover: var(--copy);
        --color-dropdown-active: var(--copy-dark);
        --color-dropdown-highlight: var(--copy-dark);
        --color-dropdown__bg-hover: var(--line);
        --color-dropdown__bg-active: var(--brand);
        --color-dropdown__bg-highlight: var(--brand);

        --color-menusm: var(--copy-content);
        --color-menusm-hover: var(--brand);
        --color-menusm-active: var(--brand);
        --color-blockquote: var(--copy-light);

        --color-underlay-light: var(--surface);
        --color-underlay-dark: var(--surface--10);

        --color-overlay-light: var(--surface);
        --color-overlay-dark: var(--surface--10);

        --color-headline: var(--copy);
        --color-headline-start: var(--copy-light);
        --color-headline-end: var(--copy);

        --color-blockquote: var(--copy-light);
    }

    /* Containers
---------------------------------------------------------------------------------*/
    .max-w-container {
        @apply /* mincon:px-fl-space-containertramline*/ px-fl-space-m;
    }

    /* SVGs
---------------------------------------------------------------------------------*/
    svg {
        stroke-width: 2;
    }

    path,
    circle,
    ellipse,
    line,
    polygon,
    polyline,
    rect {
        stroke-width: inherit;
    }

    /* Uses SVGs in this folder: src/assets/svg */
    .mask--plus__base_repeat {
        mask: svg-load('plus__base_repeat.svg');
    }

    .shader {
        background-image: svg-load('arcs__shadow.svg');
        background-repeat: repeat-y;
        background-size: 100%;
        background-position: center top;
    }

    /* Editorial
---------------------------------------------------------------------------------*/
    .link {
        @apply font-medium text-accent decoration-solid decoration-2 hover:underline;
    }

    .hilite {
        @apply rounded-tight bg-hilite px-fl-space-2xs py-fl-space-3xs font-medium text-content-dark;
    }

    .external {
        @apply after:ml-1 after:inline-block after:font-awesome after:font-black after:not-italic after:content-['\f35d'];
    }

    .font-headline a {
        @apply font-extrabold;
    }

    .capline {
        @apply relative mb-[1em] before:absolute before:-bottom-[0.5em] before:left-0 before:w-[1.25em] before:border-b-3 before:border-b-teal-400;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-headline tracking-tight;
    }

    h1 {
        @apply font-extrabold;
    }

    /* Richtext editor content */

    .rte h2 {
        @apply capline text-fl-step-3 font-bold tracking-tight;
    }

    .rte h3 {
        @apply mb-fl-space-3xs text-fl-step-1 font-bold;
    }

    .rte h4 {
        @apply mb-fl-space-3xs text-fl-step-1 font-medium;
    }

    .rte > p {
        @apply mb-fl-space-xs;
    }

    .rte > :last-child {
        @apply mb-0;
    }

    .rte strong {
        @apply font-bold;
    }

    /*.rte .heading {
  @apply mb-[1em];
} */

    /* subsequent-sibling combinator */
    .rte .heading ~ .heading {
        @apply mt-[1.5em];
    }

    /* Typography | Superscript */
    sup.new {
        @apply rounded-sm bg-accent px-0.5 py-px align-top text-fl-step--1 font-medium leading-none !text-white;
    }

    /* Tables
---------------------------------------------------------------------------------*/
    .table thead {
        @apply text-left font-bold;
    }

    .table th {
        @apply border-b pb-fl-space-2xs pt-0;
    }

    .table th,
    .table tbody td {
        @apply py-1;
    }

    .table--rows tr {
        @apply border-b border-gray-300 last:border-0;
    }

    .table--padded th,
    .table--padded tbody td {
        @apply py-fl-space-2xs pl-fl-space-2xs lg:pl-fl-space-xs;
    }
    .table--padded tr th,
    .table--padded tr td {
        @apply last:pr-fl-space-2xs last:lg:pr-fl-space-xs;
    }

    .table--noindent tr td,
    .table--noindent thead th {
        @apply first:pl-0 last:pr-0;
    }
}
