@import 'tailwindcss';
@import './base.css' layer(base);
@plugin '@egoist/tailwindcss-icons';
@plugin '@tailwindcss/forms';

@theme {
    /* @link https://utopia.fyi/space/calculator?c=320,16,1.2,1200,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6|8|12|16|24,s-l|m-s|s-xs&g=s,l,xl,12 */

    /* Space 3xs: 4px → 5px */
    --spacing-fluid-3xs: clamp(0.25rem, 0.2273rem + 0.1136vw, 0.3125rem);
    /* Space 2xs: 8px → 10px */
    --spacing-fluid-2xs: clamp(0.5rem, 0.4545rem + 0.2273vw, 0.625rem);
    /* Space xs: 12px → 15px */
    --spacing-fluid-xs: clamp(0.75rem, 0.6818rem + 0.3409vw, 0.9375rem);
    /* Space s: 16px → 20px */
    --spacing-fluid-s: clamp(1rem, 0.9091rem + 0.4545vw, 1.25rem);
    /* Space m: 24px → 30px */
    --spacing-fluid-m: clamp(1.5rem, 1.3636rem + 0.6818vw, 1.875rem);
    /* Space l: 32px → 40px */
    --spacing-fluid-l: clamp(2rem, 1.8182rem + 0.9091vw, 2.5rem);
    /* Space xl: 48px → 60px */
    --spacing-fluid-xl: clamp(3rem, 2.7273rem + 1.3636vw, 3.75rem);
    /* Space 2xl: 64px → 80px */
    --spacing-fluid-2xl: clamp(4rem, 3.6364rem + 1.8182vw, 5rem);
    /* Space 3xl: 96px → 120px */
    --spacing-fluid-3xl: clamp(6rem, 5.4545rem + 2.7273vw, 7.5rem);
    /* Space 4xl: 128px → 160px */
    --spacing-fluid-4xl: clamp(8rem, 7.2727rem + 3.6364vw, 10rem);
    /* Space 5xl: 192px → 240px */
    --spacing-fluid-5xl: clamp(12rem, 10.9091rem + 5.4545vw, 15rem);
    /* Space 6xl: 256px → 320px */
    --spacing-fluid-6xl: clamp(16rem, 14.5455rem + 7.2727vw, 20rem);
    /* Space 7xl: 384px → 480px */
    --spacing-fluid-7xl: clamp(24rem, 21.8182rem + 10.9091vw, 30rem);

    /* One-up pairs */
    /* Space 3xs-2xs: 4px → 10px */
    --spacing-fluid-3xs-2xs: clamp(0.25rem, 0.1136rem + 0.6818vw, 0.625rem);
    /* Space 2xs-xs: 8px → 15px */
    --spacing-fluid-2xs-xs: clamp(0.5rem, 0.3409rem + 0.7955vw, 0.9375rem);
    /* Space xs-s: 12px → 20px */
    --spacing-fluid-xs-s: clamp(0.75rem, 0.5682rem + 0.9091vw, 1.25rem);
    /* Space s-m: 16px → 30px */
    --spacing-fluid-s-m: clamp(1rem, 0.6818rem + 1.5909vw, 1.875rem);
    /* Space m-l: 24px → 40px */
    --spacing-fluid-m-l: clamp(1.5rem, 1.1364rem + 1.8182vw, 2.5rem);
    /* Space l-xl: 32px → 60px */
    --spacing-fluid-l-xl: clamp(2rem, 1.3636rem + 3.1818vw, 3.75rem);
    /* Space xl-2xl: 48px → 80px */
    --spacing-fluid-xl-2xl: clamp(3rem, 2.2727rem + 3.6364vw, 5rem);
    /* Space 2xl-3xl: 64px → 120px */
    --spacing-fluid-2xl-3xl: clamp(4rem, 2.7273rem + 6.3636vw, 7.5rem);
    /* Space 3xl-4xl: 96px → 160px */
    --spacing-fluid-3xl-4xl: clamp(6rem, 4.5455rem + 7.2727vw, 10rem);
    /* Space 4xl-5xl: 128px → 240px */
    --spacing-fluid-4xl-5xl: clamp(8rem, 5.4545rem + 12.7273vw, 15rem);
    /* Space 5xl-6xl: 192px → 320px */
    --spacing-fluid-5xl-6xl: clamp(12rem, 9.0909rem + 14.5455vw, 20rem);
    /* Space 6xl-7xl: 256px → 480px */
    --spacing-fluid-6xl-7xl: clamp(16rem, 10.9091rem + 25.4545vw, 30rem);

    /* Custom pairs */
    /* Space s-l: 16px → 40px */
    --spacing-fluid-s-l: clamp(1rem, 0.4545rem + 2.7273vw, 2.5rem);
    /* Space m-s: 24px → 20px */
    --spacing-fluid-m-s: clamp(1.25rem, 1.5909rem + -0.4545vw, 1.5rem);
    /* Space s-xs: 16px → 15px */
    --spacing-fluid-s-xs: clamp(0.9375rem, 1.0227rem + -0.1136vw, 1rem);

    /* Custom */
    --spacing-splash-overlap: calc(var(--spacing-fluid-3xl) * 2);
    --spacing-headerheight: calc(
        var(--spacing-fluid-l) + (var(--spacing-fluid-s) * 2)
    );

    --spacing-tight: 3px;
    --spacing-block: 40vw; /* 5:2 default block / cinema */
    --spacing-spread: 50vw; /* 2:1 */
    --spacing-square: 100vw; /* 1:1 */
    --spacing-widescreen: 56.25vw; /* 16:9 */
    --spacing-photo: 66.67vw; /* 3:2 */

    --container-page: 78.75rem; /* 1260px */

    --aspect-retro: 4 / 3;
    --aspect-cinema: 5 / 2;
    --aspect-widescreen: 16 / 9;
    --aspect-photo: 3 / 2;
    --aspect-portrait: 2 / 3;
    --aspect-super16: 5 / 3;
    --aspect-spread: 2 / 1;

    --radius-tight: 3px;

    --shadow-icon: inset 0 2px 6px -1px var(--tw-shadow-color);
    --shadow-raised: 0px 2px 6px -1px rgba(0, 0, 0, 0.08),
        0px 0px 3px -1px rgba(0, 0, 0, 0.08);
    --shadow-overlay: 0px 2px 10px -1px rgba(0, 0, 0, 0.1),
        0px 0px 5px -1px rgba(0, 0, 0, 0.45);
    --shadow-inside: inset 0 25px 50px -20px rgba(0, 0, 0, 0.08),
        inset 0 2px 0px -1px rgba(0, 0, 0, 0.08);

    --shadow-inset: inset 0 2px 6px -1px var(--color-shadow-inset),
        0px 0px 1px 1px var(--color-shadow-highlight);

    --shadow-highlight: 0px -1px 0px 0px var(--color-shadow-highlight);

    --shadow-placeholder: inset 0 0px 1px 1px rgba(0, 0, 0, 0.1);
    --shadow-banner: -4px 0px 8px 4px var(--tw-shadow-color);
    --shadow-dropdown: 0px 5px 15px var(--tw-shadow-color);

    --shadow-floated: 0px 2px 1px -1px var(--shadow-highlight),
        inset 0px 2px 1px 1px var(--color-shadow-floated),
        0px 0px 10px 5px var(--color-shadow-floated);

    --drop-shadow-svg: 0px 0px 16px rgba(0, 0, 0, 0.1);
    --drop-shadow-logo: 1px 1px 5px rgba(0, 0, 0, 0.1);

    /* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1200,18,1.25,7,2,768&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    /* Step -2: 11.1111px → 11.52px */
    --text-step--2: clamp(0.6944rem, 0.6852rem + 0.0465vw, 0.72rem);
    /* Step -1: 13.3333px → 14.4px */
    --text-step--1: clamp(0.8333rem, 0.8091rem + 0.1212vw, 0.9rem);
    /* Step 0: 16px → 18px */
    --text-step-0: clamp(1rem, 0.9545rem + 0.2273vw, 1.125rem);
    /* Step 1: 19.2px → 22.5px */
    --text-step-1: clamp(1.2rem, 1.125rem + 0.375vw, 1.4063rem);
    /* Step 2: 23.04px → 28.125px */
    --text-step-2: clamp(1.44rem, 1.3244rem + 0.5778vw, 1.7578rem);
    /* Step 3: 27.648px → 35.1563px */
    --text-step-3: clamp(1.728rem, 1.5574rem + 0.8532vw, 2.1973rem);
    /* Step 4: 33.1776px → 43.9453px */
    --text-step-4: clamp(2.0736rem, 1.8289rem + 1.2236vw, 2.7466rem);
    /* Step 5: 39.8131px → 54.9316px */
    --text-step-5: clamp(2.4883rem, 2.1447rem + 1.718vw, 3.4332rem);
    /* Step 6: 47.7757px → 68.6646px */
    --text-step-6: clamp(2.986rem, 2.5112rem + 2.3737vw, 4.2915rem);
    /* Step 7: 57.3309px → 85.8307px */
    --text-step-7: clamp(3.5832rem, 2.9355rem + 3.2386vw, 5.3644rem);

    --font-Roboto: 'Roboto', 'sans-serif';
    --font-headline: 'Montserrat', 'sans-serif';
    --font-georgia: 'Georgia', 'Times New Roman', 'Times,serif';

    --color-transparent: transparent;

    --color-banner: var(--banner);
    --color-banner-up: var(--banner-up);

    --color-link-light: var(--link-light);
    --color-link: var(--link);
    --color-link-dark: var(--link-dark);
    --color-link-shade: var(--link-shade);

    --color-overlay-light: var(--surface);
    --color-overlay-dark: var(--surface--100);

    --color-surface-raised: var(--surface-10);
    --color-surface: var(--surface);
    --color-surface-sunken: var(--surface--10);
    --color-surface-sunk: var(--surface--20);
    --color-surface-bedrock: var(--surface--100);

    --color-underlay-light: var(--surface);
    --color-underlay-dark: var(--surface--100);
    --color-surface-overlay: var(--surface-10);

    --color-shadow-raised: var(--shadow-dark);
    --color-shadow-sunk: var(--shadow-dark);
    --color-shadow-floated: var(--shadow-floated);
    --color-shadow-overlay: var(--shadow-dark);
    --color-shadow-inset: var(--shadow-dark);
    --color-shadow-highlight: var(--shadow-highlight);

    --color-line-whisper: var(--line-whisper);
    --color-line-quiet: var(--line-quiet);
    --color-line: var(--line);
    --color-line-loud: var(--line-loud);
    --color-line-shout: var(--line-shout);

    --color-tag: var(--tag);
    --color-tag-link: var(--tag-link);
    --color-tag-hover: var(--tag-hover);
    --color-tag-featured: var(--tag-featured);

    --color-note: var(--note);
    --color-note-shade: var(--note-shade);

    --color-info: var(--info);
    --color-info-shade: var(--info-shade);

    --color-alert: var(--note);
    --color-alert-shade: var(--info-shade);

    --color-attention: var(--attention);
    --color-attention-shade: var(--attention-shade);

    --color-warning: var(--warning);
    --color-warning-shade: var(--warning-shade);

    --color-hilite: var(--hilite);

    --color-gold: var(--gold);

    --color-focus: var(--focus);

    --color-content-light: var(--copy-light);
    --color-content-dark: var(--copy-dark);

    --color-content-whisper: var(--copy-whisper);
    --color-content-quiet: var(--copy-quiet);
    --color-content: var(--copy);
    --color-content-loud: var(--copy-loud);
    --color-content-shout: var(--copy-shout);

    --color-content-tag: var(--copy-tag);
    --color-content-featured: var(--copy-featured);
    --color-content-footer: var(--copy-light);

    --color-headline: var(--copy-shout);
    --color-headline-start: rgb(2, 132, 199); /* sky-600 */
    --color-headline-end: var(--copy-shout);

    --color-brand-light: var(--brand-light);
    --color-brand: var(--brand);
    --color-brand-dark: var(--brand-dark);
    --color-brand-shade: var(--brand-shade);

    --color-accent-light: var(--accent-light);
    --color-accent: var(--accent);
    --color-accent-dark: var(--accent-dark);
    --color-accent-shade: var(--accent-shade);

    --color-primary-light: var(--primary-light);
    --color-primary: var(--primary);
    --color-primary-dark: var(--primary-dark);
    --color-primary-shade: var(--primary-shade);

    --color-secondary-light: var(--secondary-light);
    --color-secondary: var(--secondary);
    --color-secondary-dark: var(--secondary-dark);
    --color-secondary-shade: var(--secondary-shade);

    --color-blockquote: var(--copy-dark);

    --color-disabled: var(--line-quiet);

    /* Animations */
    --animate-blink: blink 1s infinite;
    --animate-nudge-right: nudge-right 1s 3;
    --animate-nudge-down: nudge-down 1s 3;
    --animate-fade-in-up: fade-in-up 250ms ease-in-out forwards;

    /* Animation Keyframes */
    @keyframes blink {
        0%,
        100% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
    }

    @keyframes nudge-right {
        0%,
        100% {
            transform: translateX(0%);
            animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
        }
        50% {
            transform: translateX(25%);
            animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
        }
    }

    @keyframes nudge-down {
        0%,
        100% {
            transform: translateY(0%);
            animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
        }
        50% {
            transform: translateY(25%);
            animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
        }
    }

    @keyframes fade-in-up {
        0% {
            opacity: 0;
            transform: translateY(50%);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

/* Layer | Base
------------------------------------------------------------ */
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }

    :where(h1, h2, h3, h4, h5, h6) {
        font-family: var(--font-headline);
        letter-spacing: var(--tracking-tight);
        margin-bottom: 0.333em;
    }
    :where(h1, h2, h3, h4, h5, h6) a {
        font-weight: var(--font-weight-extrabold);
    }

    h1 {
        font-weight: var(--font-weight-extrabold);
    }

    h2 {
        font-size: var(--text-step-3);
        font-weight: var(--font-weight-bold);
    }

    h3 {
        font-size: var(--text-step-1);
        font-weight: var(--font-weight-bold);
    }

    h4 {
        font-size: var(--text-step-0);
        font-weight: var(--font-weight-medium);
    }

    svg {
        stroke-width: 2;
    }

    path,
    circle,
    ellipse,
    line,
    polygon,
    polyline,
    rect {
        stroke-width: inherit;
    }
}

/* Specific Utilities 
------------------------------------------------------------ */
@utility external {
    @apply after:i-lucide-external-link after:text-step--1 after:ml-0.5 after:-translate-y-0.5;
}
@utility capline {
    @apply relative mb-[1em] before:absolute before:-bottom-[0.5em] before:left-0 before:w-[1.25em] before:border-b-[3px] before:border-b-teal-400;
}

@utility breakout {
    width: 100vw;
    max-width: none;
    left: 50%;
    right: 50%;
    position: relative;
    margin-inline: -50vw;
}

@utility bookmarkclip {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% calc(100% - 10%), 0 100%);
}

@utility form-base {
    @apply border-line bg-surface-raised px-fluid-2xs py-fluid-2xs rounded-tight block border;
}

@utility form-focus {
    @apply focus:border-surface focus:ring-focus focus:ring-2 focus:outline-none;
}

@utility list-li-base {
    @apply pl-fluid-m relative list-none leading-normal before:absolute before:top-0 before:left-0 before:w-[1.5rem];
}

@utility list-li-bullet {
    @apply before:i-ci-dummy-square-small before:text-primary before:translate-y-px before:text-[24px];
}
@utility list-li-checklist {
    @apply before:i-lucide-check-circle-2 before:text-teal-500;
}

@utility label-base {
    @apply px-fluid-3xs rounded-tight text-step--2/none inline-block border py-px align-text-bottom uppercase;
}

@utility container {
    @apply px-fluid-m;
    max-width: 78.75rem; /* 1260px */
}

/* prettier-ignore */
@utility angleclip-* {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% calc(100% - --value(--spacing-*, length, [length])));
}

/* prettier-ignore */
@utility grid-areas-* {
    grid-template-areas: --value(--gta-*);
}

@custom-variant permalink {
    h1,
    h2 {
        @slot;
    }
}

@custom-variant dynamic {
    @supports (height: 100dvh) {
        @slot;
    }
}

@custom-variant x-cloak {
    [x-cloak] {
        @slot;
    }
}

/* Layer | Utilities
------------------------------------------------------------ */
@layer utilities {
    .font-headline a {
        @apply font-bold;
    }
}

/* Layer | Components
------------------------------------------------------------ */
@layer components {
    /*--- Forms --- */
    .form__input,
    .form__select,
    .form__textarea {
        @apply form-base form-focus;
    }

    .form__input,
    .form__select,
    .form__textarea,
    .form__checkbox {
        &.error {
            @apply focus:border-focus focus:ring-focus ring-attention border-transparent ring-2;
        }
    }

    .form__input,
    .form__select {
        &:read-only {
            @apply border-line-quiet bg-line-whisper focus:border-line-quiet focus:bg-line-whisper pointer-events-none select-none focus:ring-0 focus:outline-hidden;
        }
    }

    .form__checkbox {
        @apply text-primary border-line form-focus rounded-xs border p-2;
    }

    .form__radio {
        @apply text-primary border-line form-focus border p-2;
    }

    /*--- Lists ---*/
    .list {
        @apply space-y-2 pl-0!;
        li {
            @apply list-li-base;
        }
    }

    .list--bullet li {
        @apply list-li-bullet;
    }
    .list--checklist li {
        @apply list-li-checklist;
    }
    .list--counter {
        & > li {
            @apply pl-fluid-l relative list-none;
            counter-increment: a;
            &::before {
                @apply top-fluid-3xs mr-fluid-xs h-fluid-m w-fluid-m bg-primary text-step-1 absolute left-0 block rounded-full text-center font-black text-white;
                content: counter(a);
            }
        }
    }

    /*--- Tables ---*/
    .table thead {
        text-align: left;
        font-weight: var(--font-weight-bold);
    }

    .table th {
        padding-bottom: var(--spacing-fluid-2xs);
        border-bottom-width: 1px;
        padding-top: calc(var(--spacing) * 0);
    }

    .table th,
    .table tbody td {
        padding-block: calc(var(--spacing) * 1);
    }

    .table--rows tr {
        border-bottom-width: 1px;
        border-color: var(--color-line);
        &:last-child {
            border-width: 0px;
        }
    }

    .table--padded th,
    .table--padded tbody td {
        padding-block: var(--spacing-fluid-2xs);
        padding-left: var(--spacing-fluid-2xs);
        @apply lg:pl-fluid-xs;
    }
    .table--padded tr th,
    .table--padded tr td {
        &:last-child {
            padding-right: var(--spacing-fluid-2xs);
        }
        @apply lg:last:pr-fluid-xs;
    }

    .table--noindent tr td,
    .table--noindent thead th {
        &:last-child {
            padding-left: calc(var(--spacing) * 0);
        }
        &:first-child {
            padding-right: calc(var(--spacing) * 0);
        }
    }

    /*--- Labels ---*/
    .label-info {
        @apply label-base;
        background-color: var(--color-brand);
        color: var(--color-content-dark);
        border-color: var(--color-brand);
    }
    .label-disabled {
        @apply label-base;
        background-color: var(--color-line-whisper);
        color: var(--color-line-loud);
        border-color: var(--color-line-quiet);
    }
    .label-alert {
        @apply label-base;
        background-color: var(--color-warning);
        color: var(--color-content-light);
        border-color: var(--color-warning);
    }

    /*--- Animation ---*/
    [data-animate] {
        opacity: 0;
    }

    /*--- Blockquotes ---*/
    blockquote {
        @apply my-fluid-l pl-fluid-xs font-georgia text-step-1 relative block text-left;
        &::before {
            @apply text-primary i-lucide-message-square-quote block text-[1.5em] leading-none;
            content: '';
        }
        cite {
            @apply mt-fluid-xs text-step-0 leading-fluid-m text-content-quiet mb-0 not-italic;
        }
    }

    /*--- SVGs | folder: src/assets/svg ---*/
    .plusheap {
        background-image: var(--plus);
        background-repeat: repeat-x;
        background-size: 100%;
        background-position: center bottom;
    }

    .shader {
        background-image: var(--shader);
        background-repeat: repeat-y;
        background-size: 100%;
        background-position: center top;
    }

    /*--- Editorial ---*/

    .hilite {
        padding: var(--spacing-fluid-3xs);
        color: var(--color-content-dark);
        border-radius: var(--radius-xs);
        background-color: var(--color-hilite);
        font-weight: var(--font-weight-medium);
    }

    .rte :where(a):not(:where(.not-rte, .not-rte *)),
    .link {
        @apply text-link font-medium decoration-solid decoration-2 hover:underline;
    }

    .rte :not(:where(.not-rte, .not-rte *)) {
        @apply leading-relaxed;
    }

    .rte h2:not(:where(.not-rte, .not-rte *)) {
        @apply capline;
    }

    .rte :where(h1, h2, h3, h4, h5, h6):not(:first-child) {
        margin-top: 1.5em;
    }

    .rte :where(p):not(:where(.not-rte, .not-rte *)):not(:last-child) {
        margin-bottom: var(--spacing-fluid-s);
    }

    .rte > :last-child {
        margin-bottom: 0;
    }

    .rte pre {
        padding: var(--spacing-fluid-m);
        margin-block: var(--spacing-fluid-m);
    }

    .rte :where(ul, ul > li):not(:where(.not-rte, .not-rte *)) {
        list-style-type: none;
    }

    .rte :where(ul):not(:where(.not-rte, .not-rte *, .list)):not([class]) {
        @apply space-y-2 pl-0!;
        li {
            @apply list-li-base list-li-bullet;
        }
    }

    .rte :where(li):not(:where(.not-rte, .not-rte *, .list *)) {
        margin-block: var(--spacing-fluid-2xs);
    }

    .rte :where(ol, ol > li):not(:where(.not-rte, .not-rte *)) {
        list-style-type: decimal;
        padding-inline-start: var(--spacing-fluid-m);
    }

    .rte :where(ol > li):not(:where(.not-rte, .not-rte *)) {
        list-style-type: decimal;
        padding-inline-start: var(--spacing-fluid-2xs);
    }

    .rte :where(ul ul, ul ol, ol ul, ol ol):not(:where(.not-rte, .not-rte *)) {
        margin-block: var(--spacing-fluid-2xs);
    }

    .rte strong {
        font-weight: var(--font-weight-bold);
    }

    .rte :where(blockquote):not(:where(.not-rte, .not-rte *)) {
        border-color: var(--color-line);
        border-width: 0px;
        border-left-width: 3px;
        padding-inline-start: var(--spacing-fluid-m);
        padding-block: var(--spacing-fluid-2xs);
    }

    .rte :where(blockquote p):not(:where(.not-rte, .not-rte *)):last-child {
        margin-bottom: 0;
    }

    .rte :where(code):not(:where(.not-rte, .not-rte *, pre code)) {
        background: var(--color-surface-raised);
        margin: 1px;
        padding-inline: var(--spacing-fluid-3xs);
        padding-block: var(--spacing-fluid-3xs);
        border-radius: var(--radius-tight);
        line-height: var(--leading-tight);
        border: 1px solid var(--color-line-shout);
        font-weight: var(--font-weight-semibold);
        display: inline-block;
    }
}

/* These styles will always be included in the build and take precedence */
:root {
    --swiper-theme-color: var(--color-accent);
    --swiper-pagination-bullet-inactive-color: white;
    --swiper-pagination-bullet-inactive-opacity: 1;
}
.pswp {
    --pswp-bg: var(--color-slate-950);
}

/* Lenis smooth scrolling 
---------------------------------------------------------------------------------*/
html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

/* Prism | New diff- syntax
---------------------------------------------------------------------------------*/
pre[class*='language-diff-'] {
    --code-padding: 1.25em;
    padding-left: var(--code-padding);
    padding-right: var(--code-padding);
}
.token.deleted {
    background-color: hsl(0, 51%, 37%);
}
.token.inserted {
    background-color: hsl(126, 31%, 39%);
}

/* Make the + and - characters unselectable for copy/paste */
.token.prefix.unchanged,
.token.prefix.inserted,
.token.prefix.deleted {
    -webkit-user-select: none;
    user-select: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--code-padding);
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: rgba(0, 0, 0, 0.2);
}

/* Optional: full-width background color */
.token.inserted:not(.prefix),
.token.deleted:not(.prefix) {
    display: block;
    margin-left: calc(-1 * var(--code-padding));
    margin-right: calc(-1 * var(--code-padding));
    text-decoration: none; /* override del, ins, mark defaults */
    color: inherit; /* override del, ins, mark defaults */
}
