---
interface Props {
    class?: string;
    placeholder?: string;
    id: string;
    label: string;
    required?: boolean;
    name: string;
    rows?: number;
    cols?: number;
}
const {
    id,
    name,
    label,
    class: ClassName,
    placeholder = '',
    required = false,
    rows = 6,
    cols = 50,
} = Astro.props;

const attrs = {
    id,
    name,
    class: 'form__textarea peer w-full placeholder-transparent',
    rows,
    cols,
    ...(placeholder && { placeholder }),
    ...(required && { required: true }),
};
---

<div
    class:list={['group leading-none', ClassName && ClassName]}
    data-form-group
>
    <div
        class="relative grid grid-cols-1 grid-rows-1 items-center *:col-start-1 *:row-start-1"
    >
        <textarea {...attrs}></textarea>
        <label
            class="pointer-events-none relative left-fluid-2xs -ml-fluid-3xs -translate-y-1/2 self-start justify-self-start bg-surface-raised px-fluid-3xs text-step--1 leading-none font-medium text-content-quiet transition-all peer-placeholder-shown:translate-y-fluid-2xs peer-placeholder-shown:self-start peer-placeholder-shown:text-step-0 peer-placeholder-shown:text-content peer-focus:-translate-y-1/2 peer-focus:self-start peer-focus:text-step--1"
            for={id}>{label}</label
        >
        {
            !required && (
                <span class="-translate-y-full self-start justify-self-end text-step--2/loose text-content-quiet">
                    Optional
                </span>
            )
        }
    </div>
    <slot name="help" />
    <div id={`${id}_error`} class="error-message"></div>
</div>
