---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
const allPosts = await getCollection('posts');
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const title = 'Tag index';
---

<BaseLayout title={title}>
    <div>
        {
            tags.map((tag) => (
                <p>
                    <a href={`/tags/${tag}`}>{tag}</a>
                </p>
            ))
        }
    </div>
</BaseLayout>
