---
interface Props {
    title: string;
    url: string;
    isActive: boolean;
}
const { title, url, isActive } = Astro.props;
---

<a
    href={url}
    class:list={[
        'px-fluid-2xs py-fluid-3xs text-content hover:bg-line hover:text-content-shout focus:bg-line block text-base outline-hidden transition-all duration-300',
        isActive && 'border-l-tight border-l-brand text-content-shout',
    ]}
>
    <span class="line-clamp-2" set:html={title} />
</a>
