---
interface Props {
    title: string;
    url: string;
    isActive: boolean;
}
const { title, url, isActive } = Astro.props;
---

<a
    href={url}
    class:list={[
        'hover:text-primary focus:text-primary rounded-tight px-fluid-2xs py-fluid-3xs text-step-0 text-content-light block w-full focus:outline-hidden',
        isActive &&
            'border-l-tight border-l-brand text-content-light font-semibold',
    ]}
>
    <span class="line-clamp-2" set:html={title} />
</a>
