---
import { Image } from 'astro:assets';
import type { HTMLAttributes } from 'astro/types';
import Prompt from '~/components/ui/Prompt.astro';

type LayoutType = 'default' | 'left' | 'right' | 'center';
type SlotNumber = 1 | 2 | 3 | 4;

// Discriminated union for the layout type based on the slot count
type LayoutConfig =
    | { slots: 1; type: LayoutType }
    | { slots: 2; type: LayoutType }
    | { slots: 3; type: Extract<LayoutType, 'default' | 'center'> }
    | { slots: 4; type: Extract<LayoutType, 'default' | 'center'> };

// Define a type that enforces the correct layout types for each slot count
type LayoutMatrix = {
    1: Record<LayoutType, MatrixConfig>;
    2: Record<LayoutType, MatrixConfig>;
    3: Record<Extract<LayoutType, 'default' | 'center'>, MatrixConfig>;
    4: Record<Extract<LayoutType, 'default' | 'center'>, MatrixConfig>;
};

type SlotConfig = Partial<Record<SlotNumber, string[]>>; // All optional

type MatrixConfig = {
    grid?: string[];
    slots?: SlotConfig;
};

type CoverConfig = {
    src: ImageMetadata;
    alt: string;
    widths?: number[] | undefined;
    sizes?: string | undefined;
};

type DisplayTheme = {
    wrap?: string[];
    block?: string[];
    panel?: string[];
    shadow?: boolean;
    coverImgProps?: {
        widths?: number[] | undefined;
        sizes?: string | undefined;
    };
};

export interface Props extends HTMLAttributes<'div'> {
    wrap?: string;
    panel?: string;
    aspect?: string;
    mode?: 'plain' | 'breakout' | 'bleed' | 'page';
    shadow?: boolean | string;
    layout?: LayoutConfig;
    gridClass?: string;
    class?: string;
    legibility?: string;
    overflow?: boolean;
    container?: boolean;
    prompt?: 'swipe' | 'scroll';
    dark?: boolean;
    slotConfig?: SlotConfig;
}

const {
    wrap,
    panel,
    aspect,
    shadow,
    mode = 'breakout',
    container,
    layout = { type: 'default', slots: 1 }, // Default to 1 slots
    gridClass = '', // Override grid layout
    class: className, // block outer class
    legibility,
    overflow = false,
    prompt,
    dark = false,
    slotConfig = {},
    ...rest
} = Astro.props;

// Determine text color based on legibility or dark mode
const color = legibility || (dark ? 'text-content-light' : 'text-content-dark');

// Type-safe layout matrix
const layoutMatrix: LayoutMatrix = {
    1: {
        default: {
            grid: ['items-center', 'justify-center', 'gap-fluid-2xs'],
            slots: { 1: ['max-w-[40ch]'] },
        },
        left: {
            grid: ['grid-flow-row', 'md:grid-cols-[1fr_2fr]', 'gap-fluid-m'],
            slots: { 1: ['py-fluid-2xl'] },
        },
        right: {
            grid: ['grid-flow-row', 'md:grid-cols-[2fr_1fr]', 'gap-fluid-m'],
            slots: { 1: ['py-fluid-2xl'] },
        },
        center: {
            grid: ['grid-cols-1', 'text-center'],
            slots: { 1: ['max-w-[40ch]', 'py-fluid-2xl'] },
        },
    },
    2: {
        default: {
            grid: [
                'grid-flow-row',
                '@lg/block:grid-cols-[1fr_1fr]',
                'gap-fluid-m',
            ],
        },
        left: {
            grid: [
                'grid-flow-row',
                '@lg/block:grid-cols-[3fr_2fr]',
                'gap-fluid-m',
            ],
        },
        right: {
            grid: [
                'grid-flow-row',
                '@lg/block:grid-cols-[2fr_3fr]',
                'gap-fluid-m',
            ],
        },
        center: {
            grid: ['grid-cols-1', 'text-center'],
        },
    },
    3: {
        default: {
            grid: ['grid-cols-1', 'md:grid-cols-3', 'gap-fluid-m'],
        },
        center: {
            grid: [
                'grid-cols-1',
                'md:grid-cols-3',
                'text-center',
                'gap-fluid-m',
            ],
        },
    },
    4: {
        default: {
            grid: ['grid-cols-2', 'md:grid-cols-4', 'gap-fluid-m'],
        },
        center: {
            grid: [
                'grid-cols-2',
                'md:grid-cols-4',
                'text-center',
                'gap-fluid-m',
            ],
        },
    },
};

const displayThemes: Record<string, DisplayTheme> = {
    plain: {
        wrap: ['rounded-tight'],
        shadow: true,
    },
    breakout: {
        wrap: ['col-[full]'],
        panel: [
            aspect ? aspect : 'aspect-cinema',
            'container',
            'mx-auto',
            'w-full',
        ],
        shadow: false,
    },
    bleed: {
        wrap: [
            'col-[content]',
            '-mx-(--viewport-safe-inline)',
            'rounded-tight',
        ],
        panel: ['bg-surface-raised'],
        shadow: true,
    },
    page: {
        wrap: ['col-[full]', 'w-full', 'container', 'mx-auto'],
        panel: [aspect ? aspect : 'min-h-[40cwq]', 'rounded-tight'],
        shadow: true,
        coverImgProps: {
            widths: [480, 720, 1200],
            sizes: '(max-width: 480px) 480px, (max-width: 768px) 720px, 1200px',
        },
    },
};

// Select the current layout configuration based on the number of slots and layout type
const currentLayout =
    layoutMatrix[layout.slots][layout.type] || layoutMatrix[2].default;

const config = displayThemes[mode] ?? displayThemes.default;

const shadowEnabled = shadow !== undefined ? shadow : (config.shadow ?? false);

const shadowClasses =
    typeof shadowEnabled === 'string'
        ? shadowEnabled
        : shadowEnabled
          ? 'rounded-tight shadow-raised shadow-shadow-dark/10 @min-[99.9vw]/block:rounded-none'
          : null;

const grid = gridClass ? gridClass.split(' ') : (currentLayout.grid ?? []);
const wrapClasses = wrap ?? config?.wrap ?? [];
const panelClasses = panel ?? config?.panel ?? [];

const layoutClass = [...grid, color].filter(Boolean);
---

<div
    {...layout.type && { 'data-layout': `block-${layout.type}` }}
    {...mode && { 'data-mode': mode }}
    class:list={[
        'not-rte @container/block relative after-block:mt-0',
        wrapClasses,
        className,
        overflow && 'overflow-hidden',
    ].filter(Boolean)}
>
    <div class:list={['absolute inset-0 h-full w-full', shadowClasses]}>
        <slot name="background" />
    </div>

    <div
        data-panel
        class:list={[
            'relative grid h-full w-full',
            panelClasses,
            layoutClass,
            shadowClasses,
        ]}
        {...rest}
    >
        <slot />

        {
            layout.slots >= 1 && (
                <div
                    class:list={[
                        'relative min-h-0',
                        currentLayout.slots?.[1],
                        slotConfig[1],
                    ]}
                >
                    <slot name="s1" />
                </div>
            )
        }
        {
            layout.slots >= 2 && (
                <div
                    class:list={[
                        'relative min-h-0',
                        currentLayout.slots?.[2],
                        slotConfig[2],
                    ]}
                >
                    <slot name="s2" />
                </div>
            )
        }
        {
            layout.slots >= 3 && (
                <div
                    class:list={[
                        'relative min-h-0',
                        currentLayout.slots?.[3],
                        slotConfig[3],
                    ]}
                >
                    <slot name="s3" />
                </div>
            )
        }
        {
            layout.slots >= 4 && (
                <div
                    class:list={[
                        'relative min-h-0',
                        currentLayout.slots?.[4],
                        slotConfig[4],
                    ]}
                >
                    <slot name="s4" />
                </div>
            )
        }

        {
            prompt && (
                <div class="pointer-events-none absolute bottom-fluid-s left-1/2 z-100 -translate-x-1/2">
                    <Prompt dir="down" type={prompt} />
                </div>
            )
        }
    </div>
</div>
