---
interface Props {
    grid?: string;
    class?: string;
}

const { grid, class: ClassName = '' } = Astro.props;
---

<slot />
<div class:list={['', ClassName, grid]}>
    <slot name="mc1" />
    <slot name="mc2" />
</div>
