---
import PageLayout from '~/layouts/PageLayout.astro';
import Banner from '~/components/banners/Portfolio.astro';
---

<PageLayout title={'Oops!'} hideBreadcrumbs={true} hideToc={true}>
    <p class="text-step-1 font-medium">That content seems to be missing⁉️</p>
    <p>
        Try starting again at the <a href="/" class="link">homepage</a> or perhaps
        look for a project in the <a href="/work/" class="link">work</a> section.
        Alternatively, use the <a href="/connect/" class="link">connect</a> page
        to send me a message and I'll look into it.
    </p>

    <aside slot="slotbanner" class="col-[full]">
        <Banner wrapper="bg-surface-brand" class="min-h-block" />
    </aside>
</PageLayout>
