---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const title = 'My Astro Learning Blog';
const allPosts = await getCollection('posts');
---

<BaseLayout title={title}>
    <p>I will post about my journey learning Astro</p>
    <ul>
        {
            allPosts.map((post) => (
                <BlogPost
                    url={`/posts/${post.slug}/`}
                    title={post.data.title}
                />
            ))
        }
    </ul>
</BaseLayout>
