---
import BaseLayout from '~/layouts/BaseLayout.astro';
const title = 'Home page';
const hero = {
    title: 'Welcome to the website',
    subtitle: 'Expolore amazing content',
};
---

<BaseLayout
    {title}
    {hero}
    ogImage={{ src: '/og/astro.jpg', alt: 'Astro - Build the web you want.' }}
>
    <h1>Astro</h1>
</BaseLayout>
