---
import PageLayout from '~/layouts/PageLayout.astro';
const title = 'Sandbox';
---

<PageLayout title={title} isWide={true} prose={false}>
    <p>Animation</p>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="my-100"></div>
    <section class="my-100 block bg-slate-400 p-40"></section>
</PageLayout>

<style>
    body {
        --white: #f5f5f5;
        --black: #0f1115;
        --yellow: #ffeb0e;
        --strong-blue: #0d63f8;
        --blue: #31a6fa;
        --green: #57eb64;
        --pink: #ff2965;
        --red: #ff1231;
        --splash: #00ffdb;
        --feint: rgba(133, 150, 193, 0.1);

        --background: var(--black);
        --foreground: var(--white);
        --primary: var(--yellow);
        --secondary: var(--strong-blue);
        --success: var(--green);
        --error: var(--red);

        background: var(--background);
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        height: 90vh;
    }

    .box {
        width: 40px;
        height: 40px;
        border-radius: 10px;
        background-color: var(--splash);
        margin: 10px;
        flex-shrink: 0;
    }
</style>

<script>
    import { animate, stagger, inView } from 'motion';

    animate(
        '.box',
        { x: 200 },
        {
            delay: stagger(0.1),
            duration: 0.5,
            easing: [0.22, 0.03, 0.26, 1],
        },
    );

    // inView(
    //     'section',
    //     ({ target }) => {
    //         animate(
    //             target.querySelector('span'),
    //             { opacity: 1, transform: 'none' },
    //             { delay: 0.2, duration: 0.9, easing: [0.17, 0.55, 0.55, 1] },
    //         );
    //     },
    //     { amount: 0.25 },
    // );
</script>
