:root {
    --action-100: var(--color-inkpot-100);
    --action-200: var(--color-inkpot-200);
    --action-300: var(--color-inkpot-300);
    --action-400: var(--color-inkpot-400);
    --action-50: var(--color-inkpot-50);
    --action-500: var(--color-inkpot-500);
    --action-600: var(--color-inkpot-600);
    --action-700: var(--color-inkpot-700);
    --action-800: var(--color-inkpot-800);
    --action-900: var(--color-inkpot-900);
    --action-950: var(--color-inkpot-950);
    --attention-100: var(--color-tangerine-yellow-100);
    --attention-200: var(--color-tangerine-yellow-200);
    --attention-300: var(--color-tangerine-yellow-300);
    --attention-400: var(--color-tangerine-yellow-400);
    --attention-50: var(--color-tangerine-yellow-50);
    --attention-500: var(--color-tangerine-yellow-500);
    --attention-600: var(--color-tangerine-yellow-600);
    --attention-700: var(--color-tangerine-yellow-700);
    --attention-800: var(--color-tangerine-yellow-800);
    --attention-900: var(--color-tangerine-yellow-900);
    --attention-950: var(--color-tangerine-yellow-950);
    --bedrock-100: var(--color-inkpot-100);
    --bedrock-200: var(--color-inkpot-200);
    --bedrock-300: var(--color-inkpot-300);
    --bedrock-400: var(--color-inkpot-400);
    --bedrock-50: var(--color-inkpot-50);
    --bedrock-500: var(--color-inkpot-500);
    --bedrock-600: var(--color-inkpot-600);
    --bedrock-700: var(--color-inkpot-700);
    --bedrock-800: var(--color-inkpot-800);
    --bedrock-900: var(--color-inkpot-900);
    --bedrock-950: var(--color-inkpot-950);
    --featured-100: var(--color-gold-100);
    --featured-200: var(--color-gold-200);
    --featured-300: var(--color-gold-300);
    --featured-400: var(--color-gold-400);
    --featured-50: var(--color-gold-50);
    --featured-500: var(--color-gold-500);
    --featured-600: var(--color-gold-600);
    --featured-700: var(--color-gold-700);
    --featured-800: var(--color-gold-800);
    --featured-900: var(--color-gold-900);
    --featured-950: var(--color-gold-950);
    --grey-100: var(--color-gray-100);
    --grey-200: var(--color-gray-200);
    --grey-300: var(--color-gray-300);
    --grey-400: var(--color-gray-400);
    --grey-50: var(--color-gray-50);
    --grey-500: var(--color-gray-500);
    --grey-600: var(--color-gray-600);
    --grey-700: var(--color-gray-700);
    --grey-800: var(--color-gray-800);
    --grey-900: var(--color-gray-900);
    --grey-950: var(--color-gray-950);
    --grey-black: var(--color-gray-black);
    --grey-white: var(--color-gray-white);
    --info-100: var(--color-blue-ball-100);
    --info-200: var(--color-blue-ball-200);
    --info-300: var(--color-blue-ball-300);
    --info-400: var(--color-blue-ball-400);
    --info-50: var(--color-blue-ball-50);
    --info-500: var(--color-blue-ball-500);
    --info-600: var(--color-blue-ball-600);
    --info-700: var(--color-blue-ball-700);
    --info-800: var(--color-blue-ball-800);
    --info-900: var(--color-blue-ball-900);
    --info-950: var(--color-blue-ball-950);
    --link-100: var(--color-bolt-blue-100);
    --link-200: var(--color-bolt-blue-200);
    --link-300: var(--color-bolt-blue-300);
    --link-400: var(--color-bolt-blue-400);
    --link-50: var(--color-bolt-blue-50);
    --link-500: var(--color-bolt-blue-500);
    --link-600: var(--color-bolt-blue-600);
    --link-700: var(--color-bolt-blue-700);
    --link-800: var(--color-bolt-blue-800);
    --link-900: var(--color-bolt-blue-900);
    --link-950: var(--color-bolt-blue-950);
    --muted-100: var(--color-slate-100);
    --muted-200: var(--color-slate-200);
    --muted-300: var(--color-slate-300);
    --muted-400: var(--color-slate-400);
    --muted-50: var(--color-slate-50);
    --muted-500: var(--color-slate-500);
    --muted-600: var(--color-slate-600);
    --muted-700: var(--color-slate-700);
    --muted-800: var(--color-slate-800);
    --muted-900: var(--color-slate-900);
    --muted-950: var(--color-slate-950);
    --muted-black: var(--color-slate-black);
    --muted-white: var(--color-slate-50);
    --neutral-100: var(--color-cultured-100);
    --neutral-200: var(--color-cultured-200);
    --neutral-300: var(--color-cultured-300);
    --neutral-400: var(--color-cultured-400);
    --neutral-50: var(--color-cultured-50);
    --neutral-500: var(--color-cultured-500);
    --neutral-600: var(--color-cultured-600);
    --neutral-700: var(--color-cultured-700);
    --neutral-800: var(--color-cultured-800);
    --neutral-900: var(--color-cultured-900);
    --neutral-950: var(--color-cultured-950);
    --neutral-black: var(--color-cultured-black);
    --neutral-white: var(--color-cultured-white);
    --primary-100: var(--color-cyber-yellow-100);
    --primary-200: var(--color-cyber-yellow-200);
    --primary-300: var(--color-cyber-yellow-300);
    --primary-400: var(--color-cyber-yellow-400);
    --primary-50: var(--color-cyber-yellow-50);
    --primary-500: var(--color-cyber-yellow-500);
    --primary-600: var(--color-cyber-yellow-600);
    --primary-700: var(--color-cyber-yellow-700);
    --primary-800: var(--color-cyber-yellow-800);
    --primary-900: var(--color-cyber-yellow-900);
    --primary-950: var(--color-cyber-yellow-950);
    --secondary-100: var(--color-raspberry-100);
    --secondary-200: var(--color-raspberry-200);
    --secondary-300: var(--color-raspberry-300);
    --secondary-400: var(--color-raspberry-400);
    --secondary-50: var(--color-raspberry-50);
    --secondary-500: var(--color-raspberry-500);
    --secondary-600: var(--color-raspberry-600);
    --secondary-700: var(--color-raspberry-700);
    --secondary-800: var(--color-raspberry-800);
    --secondary-900: var(--color-raspberry-900);
    --secondary-950: var(--color-raspberry-950);
    --success-100: var(--color-bright-green-100);
    --success-200: var(--color-bright-green-200);
    --success-300: var(--color-bright-green-300);
    --success-400: var(--color-bright-green-400);
    --success-50: var(--color-bright-green-50);
    --success-500: var(--color-bright-green-500);
    --success-600: var(--color-bright-green-600);
    --success-700: var(--color-bright-green-700);
    --success-800: var(--color-bright-green-800);
    --success-900: var(--color-bright-green-900);
    --success-950: var(--color-bright-green-950);
    --tertiary-100: var(--color-slate-100);
    --tertiary-200: var(--color-slate-200);
    --tertiary-300: var(--color-slate-300);
    --tertiary-400: var(--color-slate-400);
    --tertiary-50: var(--color-slate-50);
    --tertiary-500: var(--color-slate-500);
    --tertiary-600: var(--color-slate-600);
    --tertiary-700: var(--color-slate-700);
    --tertiary-800: var(--color-slate-800);
    --tertiary-900: var(--color-slate-900);
    --tertiary-950: var(--color-slate-950);
    --warning-100: var(--color-amaranth-red-100);
    --warning-200: var(--color-amaranth-red-200);
    --warning-300: var(--color-amaranth-red-300);
    --warning-400: var(--color-amaranth-red-400);
    --warning-50: var(--color-amaranth-red-50);
    --warning-500: var(--color-amaranth-red-500);
    --warning-600: var(--color-amaranth-red-600);
    --warning-700: var(--color-amaranth-red-700);
    --warning-800: var(--color-amaranth-red-800);
    --warning-900: var(--color-amaranth-red-900);
    --warning-950: var(--color-amaranth-red-950);
}
