:root {
    --color-alabaster-100: hsl(0 0 98%);
    --color-alabaster-200: hsl(0 6% 97%);
    --color-alabaster-300: hsl(60 7% 94%);
    --color-alabaster-400: hsl(60 11% 93%);
    --color-alabaster-50: hsl(0 0 99%);
    --color-alabaster-500: hsl(60 8% 90%);
    --color-alabaster-600: hsl(72 8% 88%);
    --color-alabaster-700: hsl(72 7% 87%);
    --color-alabaster-800: hsl(84 6% 85%);
    --color-alabaster-900: hsl(80 1% 41%);
    --color-alabaster-950: hsl(60 1% 21%);
    --color-alabaster-black: hsl(0 0 4%);
    --color-alabaster-white: hsl(0 0 100%);
    --color-amaranth-red-100: hsl(3 88% 90%);
    --color-amaranth-red-200: hsl(1 82% 80%);
    --color-amaranth-red-300: hsl(359 80% 70%);
    --color-amaranth-red-400: hsl(357 77% 59%);
    --color-amaranth-red-50: hsl(3 92% 95%);
    --color-amaranth-red-500: hsl(355 73% 49%);
    --color-amaranth-red-600: hsl(357 76% 40%);
    --color-amaranth-red-700: hsl(359 80% 30%);
    --color-amaranth-red-800: hsl(1 83% 21%);
    --color-amaranth-red-900: hsl(2 86% 11%);
    --color-amaranth-red-950: hsl(4 89% 7%);
    --color-blue-ball-100: hsl(213 100% 93%);
    --color-blue-ball-200: hsl(210 100% 84%);
    --color-blue-ball-300: hsl(207 100% 73%);
    --color-blue-ball-400: hsl(200 97% 52%);
    --color-blue-ball-50: hsl(215 100% 96%);
    --color-blue-ball-500: hsl(200 92% 45%);
    --color-blue-ball-600: hsl(200 93% 36%);
    --color-blue-ball-700: hsl(200 96% 27%);
    --color-blue-ball-800: hsl(201 98% 19%);
    --color-blue-ball-900: hsl(202 100% 11%);
    --color-blue-ball-950: hsl(204 100% 8%);
    --color-bolt-blue-100: hsl(200 84% 90%);
    --color-bolt-blue-200: hsl(200 90% 80%);
    --color-bolt-blue-300: hsl(200 93% 70%);
    --color-bolt-blue-400: hsl(200 96% 60%);
    --color-bolt-blue-50: hsl(200 84% 95%);
    --color-bolt-blue-500: hsl(200 100% 50%);
    --color-bolt-blue-600: hsl(200 96% 40%);
    --color-bolt-blue-700: hsl(200 91% 31%);
    --color-bolt-blue-800: hsl(200 91% 21%);
    --color-bolt-blue-900: hsl(200 87% 12%);
    --color-bolt-blue-950: hsl(199 83% 7%);
    --color-bright-green-100: hsl(89 84% 90%);
    --color-bright-green-200: hsl(87 82% 80%);
    --color-bright-green-300: hsl(85 79% 70%);
    --color-bright-green-400: hsl(83 77% 60%);
    --color-bright-green-50: hsl(91 92% 95%);
    --color-bright-green-500: hsl(81 72% 49%);
    --color-bright-green-600: hsl(83 76% 40%);
    --color-bright-green-700: hsl(86 78% 30%);
    --color-bright-green-800: hsl(88 80% 21%);
    --color-bright-green-900: hsl(89 86% 11%);
    --color-bright-green-950: hsl(92 89% 7%);
    --color-cultured-100: hsl(0 0 99%);
    --color-cultured-200: hsl(0 0 98%);
    --color-cultured-300: hsl(60 5% 96%);
    --color-cultured-400: hsl(60 8% 95%);
    --color-cultured-50: hsl(0 0 99%);
    --color-cultured-500: hsl(45 13% 94%);
    --color-cultured-600: hsl(51 9% 85%);
    --color-cultured-700: hsl(45 7% 76%);
    --color-cultured-800: hsl(48 3% 68%);
    --color-cultured-900: hsl(0 0 59%);
    --color-cultured-950: hsl(0 0 54%);
    --color-cultured-black: hsl(0 0 4%);
    --color-cultured-white: hsl(0 0 100%);
    --color-cyber-yellow-100: hsl(49 100% 90%);
    --color-cyber-yellow-200: hsl(49 100% 80%);
    --color-cyber-yellow-300: hsl(49 100% 70%);
    --color-cyber-yellow-400: hsl(49 100% 60%);
    --color-cyber-yellow-50: hsl(51 100% 95%);
    --color-cyber-yellow-500: hsl(49 100% 50%);
    --color-cyber-yellow-600: hsl(49 100% 40%);
    --color-cyber-yellow-700: hsl(49 100% 31%);
    --color-cyber-yellow-800: hsl(49 100% 21%);
    --color-cyber-yellow-900: hsl(49 100% 12%);
    --color-cyber-yellow-950: hsl(48 100% 7%);
    --color-gold-100: hsl(48 61% 92%);
    --color-gold-200: hsl(48 61% 84%);
    --color-gold-300: hsl(48 61% 76%);
    --color-gold-400: hsl(48 61% 69%);
    --color-gold-50: hsl(50 60% 96%);
    --color-gold-500: hsl(48 61% 61%);
    --color-gold-600: hsl(48 61% 49%);
    --color-gold-700: hsl(48 61% 37%);
    --color-gold-800: hsl(49 58% 14%);
    --color-gold-900: hsl(49 58% 14%);
    --color-gold-950: hsl(48 61% 8%);
    --color-gray-100: hsl(225 7% 89%);
    --color-gray-200: hsl(220 9% 79%);
    --color-gray-300: hsl(222 8% 69%);
    --color-gray-400: hsl(220 9% 60%);
    --color-gray-50: hsl(210 7% 95%);
    --color-gray-500: hsl(220 6% 50%);
    --color-gray-600: hsl(222 6% 40%);
    --color-gray-700: hsl(222 6% 30%);
    --color-gray-800: hsl(218 7% 21%);
    --color-gray-900: hsl(216 8% 13%);
    --color-gray-950: hsl(210 9% 9%);
    --color-gray-black: hsl(0 0 4%);
    --color-gray-white: hsl(0 0 100%);
    --color-inkpot-100: hsl(206 11% 88%);
    --color-inkpot-200: hsl(210 13% 75%);
    --color-inkpot-300: hsl(218 13% 63%);
    --color-inkpot-400: hsl(221 13% 51%);
    --color-inkpot-50: hsl(210 13% 94%);
    --color-inkpot-500: hsl(228 13% 39%);
    --color-inkpot-600: hsl(233 13% 26%);
    --color-inkpot-700: hsl(240 13% 14%);
    --color-inkpot-800: hsl(230 13% 9%);
    --color-inkpot-900: hsl(220 12% 5%);
    --color-inkpot-950: hsl(210 20% 2%);
    --color-inkpot-black: hsl(0 0 4%);
    --color-inkpot-white: hsl(0 0 100%);
    --color-orange-peel-100: hsl(46 100% 90%);
    --color-orange-peel-200: hsl(44 100% 80%);
    --color-orange-peel-300: hsl(42 100% 70%);
    --color-orange-peel-400: hsl(40 100% 60%);
    --color-orange-peel-50: hsl(48 100% 95%);
    --color-orange-peel-500: hsl(38 100% 50%);
    --color-orange-peel-600: hsl(40 100% 40%);
    --color-orange-peel-700: hsl(42 99% 31%);
    --color-orange-peel-800: hsl(44 100% 21%);
    --color-orange-peel-900: hsl(46 100% 12%);
    --color-orange-peel-950: hsl(48 100% 7%);
    --color-raspberry-100: hsl(349 100% 93%);
    --color-raspberry-200: hsl(348 100% 85%);
    --color-raspberry-300: hsl(347 100% 76%);
    --color-raspberry-400: hsl(344 100% 65%);
    --color-raspberry-50: hsl(347 100% 96%);
    --color-raspberry-500: hsl(339 89% 48%);
    --color-raspberry-600: hsl(336 100% 37%);
    --color-raspberry-700: hsl(336 100% 29%);
    --color-raspberry-800: hsl(335 100% 22%);
    --color-raspberry-900: hsl(336 100% 15%);
    --color-raspberry-950: hsl(337 100% 12%);
    --color-slate-100: hsl(0 0 91%);
    --color-slate-200: hsl(0 0 83%);
    --color-slate-300: hsl(0 0 74%);
    --color-slate-400: hsl(216 3% 65%);
    --color-slate-50: hsl(0 0 96%);
    --color-slate-500: hsl(220 5% 56%);
    --color-slate-600: hsl(220 9% 48%);
    --color-slate-700: hsl(221 13% 39%);
    --color-slate-800: hsl(220 9% 27%);
    --color-slate-900: hsl(240 2% 8%);
    --color-slate-950: hsl(240 2% 8%);
    --color-slate-black: hsl(0 0 4%);
    --color-slate-white: hsl(0 0 100%);
    --color-tangerine-yellow-100: hsl(48 100% 90%);
    --color-tangerine-yellow-200: hsl(48 100% 80%);
    --color-tangerine-yellow-300: hsl(48 100% 70%);
    --color-tangerine-yellow-400: hsl(48 100% 60%);
    --color-tangerine-yellow-50: hsl(48 100% 95%);
    --color-tangerine-yellow-500: hsl(48 100% 50%);
    --color-tangerine-yellow-600: hsl(48 100% 40%);
    --color-tangerine-yellow-700: hsl(48 100% 31%);
    --color-tangerine-yellow-800: hsl(48 98% 21%);
    --color-tangerine-yellow-900: hsl(48 100% 12%);
    --color-tangerine-yellow-950: hsl(48 100% 7%);
}
