:root {
    --copy-action: var(--color-raspberry-500);
    --copy-dark: var(--color-slate-black);
    --copy-default: var(--color-slate-800);
    --copy-footer: var(--color-slate-50);
    --copy-headline: var(--color-slate-900);
    --copy-light: var(--color-slate-50);
    --copy-loud: var(--color-slate-900);
    --copy-quiet: var(--color-slate-600);
    --copy-shout: var(--color-slate-950);
    --copy-whisper: var(--color-slate-400);
    --disabled-dark: var(--color-gray-black);
    --disabled-default: var(--color-gray-400);
    --disabled-light: var(--color-gray-200);
    --line-action: var(--color-raspberry-500);
    --line-dark: var(--color-gray-black);
    --line-default: var(--color-gray-200);
    --line-light: var(--color-gray-white);
    --line-loud: var(--color-gray-500);
    --line-primary: var(--color-cyber-yellow-500);
    --line-quiet: var(--color-gray-100);
    --line-secondary: var(--color-raspberry-500);
    --line-shout: var(--color-gray-900);
    --line-whisper: var(--color-gray-50);
    --links-primary: var(--color-bolt-blue-500);
    --links-primary-focus: var(--color-bolt-blue-300);
    --links-primary-hover: var(--color-bolt-blue-300);
    --shadow-dark: var(--color-cultured-black);
    --shadow-light: var(--color-cultured-white);
    --surface--10: var(--color-cultured-600);
    --surface--100: var(--color-cultured-950);
    --surface--20: var(--color-cultured-700);
    --surface-0: var(--color-cultured-500);
    --surface-10: var(--color-cultured-white);
    --surface-bedrock: var(--color-inkpot-700);
    --surface-brand: var(--color-cyber-yellow-500);
    --surface-footer: var(--color-inkpot-700);
    --surface-overlay-dark: var(--color-cultured-950);
    --surface-overlay-light: var(--color-cultured-white);
    --surface-underlay-dark: var(--color-cultured-950);
    --surface-underlay-light: var(--color-cultured-white);
    --action-dark: var(--color-cyber-yellow-800);
    --action-default: var(--color-cyber-yellow-500);
    --action-light: var(--color-cyber-yellow-400);
    --action-shade: var(--color-cyber-yellow-800);
    --attention-dark: var(--color-tangerine-yellow-600);
    --attention-default: var(--color-tangerine-yellow-500);
    --attention-light: var(--color-tangerine-yellow-400);
    --attention-shade: var(--color-tangerine-yellow-800);
    --banner-default: hsl(0 0 100% / 0);
    --banner-up: hsl(0 0 100% / 0.97);
    --featured-dark: var(--color-gold-600);
    --featured-default: var(--color-gold-500);
    --featured-light: var(--color-gold-400);
    --featured-shade: var(--color-gold-800);
    --focus-dark: var(--color-electric-blue-600);
    --focus-default: var(--color-electric-blue-500);
    --focus-light: var(--color-electric-blue-400);
    --focus-shade: var(--color-electric-blue-800);
    --hilite-default: var(--color-tangerine-yellow-200);
    --info-dark: var(--color-electric-blue-600);
    --info-default: var(--color-electric-blue-500);
    --info-light: var(--color-electric-blue-400);
    --info-shade: var(--color-electric-blue-800);
    --note-dark: var(--color-tangerine-yellow-500);
    --note-default: var(--color-tangerine-yellow-200);
    --note-light: var(--color-tangerine-yellow-100);
    --note-shade: var(--color-tangerine-yellow-800);
    --primary-dark: var(--color-cyber-yellow-800);
    --primary-default: var(--color-cyber-yellow-500);
    --primary-light: var(--color-cyber-yellow-400);
    --primary-shade: var(--color-cyber-yellow-800);
    --secondary-dark: var(--color-raspberry-600);
    --secondary-default: var(--color-raspberry-500);
    --secondary-light: var(--color-raspberry-400);
    --secondary-shade: var(--color-raspberry-800);
    --tertiary-dark: var(--color-slate-600);
    --tertiary-default: var(--color-slate-500);
    --tertiary-light: var(--color-slate-400);
    --tertiary-shade: var(--color-slate-800);
    --warning-dark: var(--color-amaranth-red-600);
    --warning-default: var(--color-amaranth-red-500);
    --warning-light: var(--color-amaranth-red-400);
    --warning-shade: var(--color-amaranth-red-800);
}
:root[data-theme='dark'] {
    /* color */
    --copy-action: var(--color-raspberry-500);
    --copy-dark: var(--color-slate-black);
    --copy-default: var(--color-slate-100);
    --copy-footer: var(--color-slate-50);
    --copy-headline: var(--color-slate-50);
    --copy-light: var(--color-slate-50);
    --copy-loud: var(--color-slate-50);
    --copy-quiet: var(--color-slate-500);
    --copy-shout: var(--color-slate-50);
    --copy-whisper: var(--color-slate-700);
    --disabled-dark: var(--color-inkpot-900);
    --disabled-default: var(--color-inkpot-600);
    --disabled-light: var(--color-inkpot-900);
    --line-action: var(--color-raspberry-500);
    --line-dark: var(--color-cultured-black);
    --line-default: var(--color-inkpot-300);
    --line-light: var(--color-cultured-white);
    --line-loud: var(--color-inkpot-100);
    --line-primary: var(--color-cyber-yellow-500);
    --line-quiet: var(--color-inkpot-500);
    --line-secondary: var(--color-raspberry-500);
    --line-shout: var(--color-inkpot-50);
    --line-whisper: var(--color-inkpot-600);
    --links-primary: var(--color-bolt-blue-500);
    --links-primary-focus: var(--color-bolt-blue-300);
    --links-primary-hover: var(--color-bolt-blue-300);
    --shadow-dark: var(--color-inkpot-900);
    --shadow-light: var(--color-inkpot-600);
    --surface--10: var(--color-inkpot-800);
    --surface--100: var(--color-inkpot-950);
    --surface--20: var(--color-inkpot-900);
    --surface-0: var(--color-inkpot-700);
    --surface-10: var(--color-inkpot-600);
    --surface-bedrock: var(--color-inkpot-950);
    --surface-brand: var(--color-cyber-yellow-500);
    --surface-footer: var(--color-inkpot-950);
    --surface-overlay-dark: var(--color-inkpot-600);
    --surface-overlay-light: var(--color-inkpot-600);
    --surface-underlay-dark: var(--color-inkpot-950);
    --surface-underlay-light: var(--color-inkpot-600);
    --action-dark: var(--color-cyber-yellow-800);
    --action-default: var(--color-cyber-yellow-500);
    --action-light: var(--color-cyber-yellow-400);
    --action-shade: var(--color-cyber-yellow-800);
    --attention-dark: var(--color-tangerine-yellow-600);
    --attention-default: var(--color-tangerine-yellow-500);
    --attention-light: var(--color-tangerine-yellow-400);
    --attention-shade: var(--color-tangerine-yellow-800);
    --banner-default: hsl(210 20% 2% / 0);
    --banner-up: hsl(210 20% 2% / 0.97);
    --featured-dark: var(--color-gold-600);
    --featured-default: var(--color-gold-500);
    --featured-light: var(--color-gold-400);
    --featured-shade: var(--color-gold-800);
    --focus-dark: var(--color-electric-blue-600);
    --focus-default: var(--color-electric-blue-500);
    --focus-light: var(--color-electric-blue-400);
    --focus-shade: var(--color-electric-blue-800);
    --hilite-default: var(--color-tangerine-yellow-200);
    --info-dark: var(--color-electric-blue-600);
    --info-default: var(--color-electric-blue-500);
    --info-light: var(--color-electric-blue-400);
    --info-shade: var(--color-electric-blue-800);
    --note-dark: var(--color-tangerine-yellow-500);
    --note-default: var(--color-tangerine-yellow-200);
    --note-light: var(--color-tangerine-yellow-100);
    --note-shade: var(--color-tangerine-yellow-800);
    --primary-dark: var(--color-cyber-yellow-800);
    --primary-default: var(--color-cyber-yellow-500);
    --primary-light: var(--color-cyber-yellow-400);
    --primary-shade: var(--color-cyber-yellow-800);
    --secondary-dark: var(--color-raspberry-600);
    --secondary-default: var(--color-raspberry-500);
    --secondary-light: var(--color-raspberry-400);
    --secondary-shade: var(--color-raspberry-800);
    --tertiary-dark: var(--color-slate-600);
    --tertiary-default: var(--color-slate-500);
    --tertiary-light: var(--color-slate-400);
    --tertiary-shade: var(--color-slate-800);
    --warning-dark: var(--color-amaranth-red-600);
    --warning-default: var(--color-amaranth-red-500);
    --warning-light: var(--color-amaranth-red-400);
    --warning-shade: var(--color-amaranth-red-800);
}
