---
import { Icon } from 'astro-icon/components';
import utilities from '~/data/utilities.json';

interface Props {
    caption: string;
    credit: string;
    class: string;
    grid: string;
    bg: string;
    breakout: boolean;
}

const {
    caption = '',
    credit = '',
    class: className,
    grid,
    bg = 'bg-underlay-light',
    breakout,
    ...attrs
} = Astro.props;
---

<figure
    class:list={[
        'not-prose',
        breakout ? utilities.breakout : '',
        className
            ? className
            : `${utilities.margin.y} ${!breakout ? utilities.pull.x : ''}`,
    ]}
    {...attrs}
>
    <div
        class:list={[
            bg,
            grid
                ? grid
                : `grid grid-cols-1 items-center gap-4 md:gap-8 ${utilities.tramline.all} `,
        ]}
    >
        <slot />
    </div>
    {
        caption && (
            <figcaption
                class:list={[
                    'mt-4 w-full justify-between gap-4 border-b border-outline pb-4 text-sm md:flex',
                    utilities.tramline.x,
                ]}
            >
                <p>{caption}</p>
                {credit && (
                    <span class="mt-2 grid grid-cols-icon items-center gap-1.5 text-2xs/tight md:mt-0 md:items-start">
                        <Icon name="lucide:camera" class="h-4 w-4" />
                        <Fragment set:html={credit} />
                    </span>
                )}
            </figcaption>
        )
    }
</figure>
