---
import { Icon } from 'astro-icon/components';

interface Props {
    caption: string;
    credit: string;
    class: string;
    grid: string;
    bg: string;
    breakout: boolean;
}

const {
    caption = '',
    credit = '',
    class: className,
    grid,
    bg = 'bg-surface-raised',
    breakout,
    ...attrs
} = Astro.props;
---

<figure
    class:list={[
        'not-prose relative  ',
        className ? className : 'my-fl-space-xl',
    ]}
    {...attrs}
>
    <div
        class:list={[
            bg,
            breakout
                ? 'breakout'
                : '-mx-fl-space-s-m rounded-tight p-fl-space-s-m',
            grid ? grid : 'grid grid-cols-1 items-center gap-fl-space-m ',
        ]}
    >
        <slot />
    </div>
    {
        caption && (
            <figcaption class="mt-fl-space-xs w-full items-center justify-between gap-fl-space-m text-fl-step--1 leading-snug md:flex">
                <p>{caption}</p>
                {credit && (
                    <span class="text-content-quiet mt-fl-space-3xs grid grid-cols-icon gap-fl-space-3xs text-fl-step--2/fl-space-xs  md:mt-0 ">
                        <Icon
                            name="lucide:camera"
                            class="h-fl-space-xs w-fl-space-xs"
                        />
                        <Fragment set:html={credit} />
                    </span>
                )}
            </figcaption>
        )
    }
</figure>
