---
import { Icon } from 'astro-icon/components';

interface Props {
    caption: string;
    credit: string;
    class: string;
    grid: string;
    bg: string;
    breakout: boolean;
}

const {
    caption = '',
    credit = '',
    class: className,
    grid,
    bg = 'bg-underlay-light',
    breakout,
    ...attrs
} = Astro.props;
---

<figure
    class:list={[
        'not-prose',
        breakout && 'breakout',
        className ? className : 'my-fl-space-m',
    ]}
    {...attrs}
>
    <div
        class:list={[
            bg,
            grid ? grid : 'grid grid-cols-1 items-center gap-fl-space-m',
        ]}
    >
        <slot />
    </div>
    {
        caption && (
            <figcaption class="w-full items-center justify-between gap-fl-space-m border-b border-outline p-fl-space-s text-fl-step--1 leading-snug md:flex">
                <p>{caption}</p>
                {credit && (
                    <span class="mt-fl-space-3xs grid grid-cols-icon gap-fl-space-3xs text-fl-step--2/fl-space-xs text-quiet  md:mt-0 ">
                        <Icon
                            name="lucide:camera"
                            class="h-fl-space-xs w-auto"
                        />
                        <Fragment set:html={credit} />
                    </span>
                )}
            </figcaption>
        )
    }
</figure>
