---
import Social from './Social.astro';
import siteInfo from '~/data/site';
import { Icon } from 'astro-icon/components';
---

<footer
    class="relative bg-footer-bg bg-gradient-to-b from-footer-bg__light to-footer-bg__dark py-16 text-footer"
>
    <div
        class="relative mx-auto grid max-w-container grid-cols-1 gap-8 md:grid-cols-3 2xl:grid-cols-2"
    >
        <div>
            <p>
                <a href="/" title="Return to home"
                    ><Icon
                        name="bypete--footer"
                        title="byPete logo in white"
                        class="h-10 w-auto"
                    /></a
                >
            </p>
            <ul class="-mx-2 mt-2 inline-flex">
                <li class="border-r border-white px-2 last:border-0">©2024</li>
                <li class="border-r border-white px-2 last:border-0">
                    <a href="/about/legal" class="link">Legal notices</a>
                </li>
            </ul>
        </div>

        <div class="self-end">
            <div
                class="-mx-2 inline-flex md:flex md:items-end md:justify-center 2xl:justify-end"
            >
                {
                    siteInfo.socials.map((channel) => (
                        <Social
                            platform={channel.platform}
                            url={channel.url}
                            name={channel.icon}
                        />
                    ))
                }
            </div>
        </div>
    </div>
</footer>
