---
import Social from './Social.astro';
import siteInfo from '~/data/site';
import { Icon } from 'astro-icon/components';
const year = new Date().getFullYear();
---

<footer
    class="relative bg-footer-bg bg-gradient-to-b from-footer-bg__light to-footer-bg__dark py-fl-space-2xl text-footer"
>
    <div
        class="relative mx-auto grid max-w-container grid-cols-1 gap-fl-space-l md:grid-cols-3 2xl:grid-cols-2"
    >
        <div>
            <a href="/" title="Return to home">
                <Icon
                    name="bypete__footer"
                    title="byPete logo in white"
                    class="h-fl-space-l w-auto"
                />
            </a>
            <ul class="-mx-fl-space-xs mt-fl-space-l inline-flex">
                <li
                    class="border-text-footer border-r px-fl-space-xs last:border-0"
                >
                    ©{year}
                </li>
                <li
                    class="border-text-footer border-r px-fl-space-xs last:border-0"
                >
                    <a href="/about/legal/" class="link">Legal notices</a>
                </li>
            </ul>
        </div>

        <div class="self-end">
            <div
                class="-mx-fl-space-xs inline-flex md:flex md:items-end md:justify-center 2xl:justify-end"
            >
                {
                    siteInfo.socials.map((channel) => (
                        <Social
                            platform={channel.platform}
                            url={channel.url}
                            name={channel.icon}
                        />
                    ))
                }
            </div>
        </div>
    </div>
</footer>
