---
import Social from './Social.astro';
import socialData from '../data/social.json';
import { Icon } from 'astro-icon/components';
---

<footer
    class="bg-footer from-footer-light to-footer-dark relative bg-gradient-to-b py-16 text-white"
>
    <div
        class="relative mx-auto grid max-w-container grid-cols-1 gap-8 md:grid-cols-3 2xl:grid-cols-2"
    >
        <div>
            <p>
                <Icon
                    name="bypete--white"
                    title="byPete logo in white"
                    class="h-10 w-auto"
                />
            </p>
            <ul class="-mx-2 mt-2 inline-flex">
                <li class="border-r border-white px-2 last:border-0">©2024</li>
                <li class="border-r border-white px-2 last:border-0">
                    <a href="/about/legal" class="link">Legal notices</a>
                </li>
            </ul>
        </div>

        <div class="self-end">
            <div
                class="-mx-2 inline-flex md:flex md:items-end md:justify-center 2xl:justify-end"
            >
                {
                    socialData.map((channel) => (
                        <Social
                            platform={channel.platform}
                            url={channel.url}
                            name={channel.name}
                        />
                    ))
                }
            </div>
        </div>
    </div>
</footer>
