---
import { Icon } from 'astro-icon/components';
import Navigation from './Navigation.astro';
import ThemeIcon from './ThemeIcon.astro';

interface Props {
    isHeroDark: boolean;
}
const { isHeroDark = false } = Astro.props;
---

<header
    id="banner"
    class="group-data-start/page:shadow-none group fixed top-0 z-banner w-full py-fl-space-s opacity-0 shadow-banner shadow-gray-950/20"
    x-cloak
>
    <div
        class="mx-auto grid max-w-container grid-cols-2 items-center justify-between gap-x-fl-space-m lg:grid-cols-3"
    >
        <a
            href="/"
            x-cloak
            aria-label="byPete - home"
            class="grid h-fl-space-l w-auto grid-cols-1 grid-rows-1"
        >
            {
                isHeroDark ? (
                    <>
                        <span class="group-data-up/page:opacity-0  col-start-1">
                            <Icon
                                name="bypete__white"
                                class="h-fl-space-l w-auto"
                            />
                        </span>
                        <span class="group-data-up/page:opacity-100 col-start-1 opacity-0 ">
                            <Icon
                                name="bypete__brand"
                                class="h-fl-space-l w-auto"
                            />
                        </span>
                    </>
                ) : (
                    <Icon name="bypete__brand" class="h-fl-space-l w-auto" />
                )
            }
        </a>

        <div class="justify-self-end lg:justify-self-center"><ThemeIcon /></div>
        <Navigation class="hidden justify-self-end lg:block" {isHeroDark} />
    </div>
</header>

<script>
    import {
        animate,
        scroll,
        timeline,
        ScrollOffset,
        stagger,
        inView,
    } from 'motion';

    const page = document.documentElement;
    const banner = document.getElementById('banner');
    const toc = document.getElementById('tocWrapper');
    const body = document.body;

    const vh = window.innerHeight;

    let animationInProgress = false;
    let visible = true;
    let throttleTimer = null;
    const throttleInterval = 150;
    let scrollCache = 0;

    const handleBanner = () => {
        if (throttleTimer) {
            return;
        }
        throttleTimer = setTimeout(() => {
            throttleTimer = null;
            if (animationInProgress) {
                return;
            }
            const st = window.pageYOffset || page.scrollTop;
            if (st === 0) {
                setBannerState('start');
                startBanner();
            } else if (st > scrollCache && visible) {
                hideBanner();
            } else if (st < scrollCache && st > vh * 0.5 && !visible) {
                setBannerState('up');
                showBanner();
            }

            scrollCache = st <= 0 ? 0 : st; // For Mobile or negative scrolling
        }, throttleInterval);
    };

    const setBannerState = (state) => page?.setAttribute('data-banner', state);

    const startBanner = () => {
        animationInProgress = true;
        visible = true;
        animate(
            banner,
            {
                opacity: 1,
                transform: ['translateY(0)'],
                background: 'none',
            },
            { easing: 'ease-in-out', duration: 0.25 }, //easeInOutQuart
        ).finished.then(() => {
            animationInProgress = false;
        });
    };

    const hideBanner = () => {
        animationInProgress = true;
        visible = false;

        const sequence = [
            [
                banner,
                {
                    transform: ['translateY(-100%)'],
                    background: 'rgb(var(--banner-up)/0)',
                },
                {},
            ],
        ];

        if (toc && toc.scrollTop === 0) {
            sequence.push([
                toc,
                {
                    transform: ['translateY(0%)'],
                },
                {
                    at: '<',
                },
            ]);
        }

        timeline(sequence, {
            duration: 0.5,
            easing: 'linear',
        }).finished.then(() => {
            animationInProgress = false;
            setBannerState('down');
        });
    };

    const showBanner = () => {
        animationInProgress = true;
        visible = true;
        banner.style.opacity = `1`;
        banner.style.background = `rgb(var(--banner-up)/1)`;

        const sequence = [
            [
                banner,
                {
                    transform: ['translateY(0)'],
                    background: 'rgb(var(--banner-up)/1)',
                },
                {},
            ],
        ];

        if (toc && toc.scrollTop === 0) {
            sequence.push([
                toc,
                {
                    transform: ['translateY(var(--headerheight))'],
                },
                {
                    at: '<',
                },
            ]);
        }

        timeline(sequence, {
            duration: 0.5,
            easing: 'linear',
        }).finished.then(() => {
            animationInProgress = false;
        });
    };

    handleBanner();
    window.addEventListener('scroll', handleBanner);
</script>
