---
import { Icon } from 'astro-icon/components';
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
import ThemeIcon from './ThemeIcon.astro';

interface Props {
    isHeroDark: boolean;
}
const { isHeroDark = false } = Astro.props;
---

<header
    class="group fixed top-0 z-banner w-full py-fl-space-s transition duration-500 x-cloak:!absolute x-cloak:opacity-0"
    x-cloak
    x-bind:class="{ 'bg-banner-up/0': banner ==='start',' bg-banner-up shadow-banner shadow-gray-950/10': banner === 'up', 'bg-banner-up -translate-y-full shadow-banner shadow-gray-950/10': banner === 'down' }"
    x-ref="banner"
    data-banner="start"
    :data-banner="banner"
    x-data="stickybanner()"
    x-init="reactOnScroll()"
    @scroll.window="reactOnScroll()"
>
    <div
        class="mx-auto grid max-w-container grid-cols-2 items-center md:grid-cols-header"
    >
        <a
            href="/"
            x-cloak
            aria-label="byPete - home"
            class="grid h-fl-space-l w-auto grid-cols-1 grid-rows-1 justify-self-start"
        >
            {
                isHeroDark ? (
                    <>
                        <span
                            class="col-start-1 "
                            x-bind:class="banner === 'up' ? 'opacity-0' : 'opacity-100'"
                        >
                            <Icon
                                name="bypete__white"
                                class="h-fl-space-l w-auto"
                            />
                        </span>
                        <span
                            class="col-start-1 transition-opacity duration-300"
                            x-bind:class="banner === 'up' ? 'opacity-100' : 'opacity-0'"
                        >
                            <Icon
                                name="bypete__brand"
                                class="h-fl-space-l w-auto"
                            />
                        </span>
                    </>
                ) : (
                    <Icon name="bypete__brand" class="h-fl-space-l w-auto" />
                )
            }
        </a>

        <ThemeIcon />
        <Navigation class="justify-self-end" {isHeroDark} />
    </div>
</header>
<Hamburger />

<script>
    import Alpine from 'alpinejs';
    document.addEventListener('alpine:init', () => {
        Alpine.data('stickybanner', () => ({
            lastScrollTop: 0,
            banner: 'start',
            reactOnScroll() {
                const st =
                    window.pageYOffset || document.documentElement.scrollTop;
                const ch =
                    window.innerHeight || document.documentElement.clientHeight;

                this.$store.cache.pageTop = st > ch;

                if (st === 0) {
                    this.banner = 'start';
                } else if (st > this.$data.lastScrollTop) {
                    this.banner = 'down';
                } else if (st < this.$data.lastScrollTop) {
                    this.banner = 'up';
                } else {
                    this.banner = 'unknown';
                }
                this.$store.cache.banner = this.banner;
                this.$data.lastScrollTop = st <= 0 ? 0 : st; // For Mobile or negative scrolling
            },
        }));
    });
</script>
