---
---
<script is:inline>
  document.addEventListener('astro:before-preparation', () => {
    console.log('Before preparation event triggered');
    // Hide the body during preparation
    document.querySelector('body').style.visibility = 'hidden';
    // Show the loading indicator
    document.querySelector('#loading').style.visibility = 'visible';
  });

  document.addEventListener('astro:after-preparation', () => {
    console.log('After preparation event triggered');
    // Hide the loading indicator
    document.querySelector('#loading').style.visibility = 'hidden';
    // Show the body after preparation is complete
    document.querySelector('body').style.visibility = 'visible';
  });
</script>

<div id="loading"></div>

<style >
  #loading {
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
#loading:before {
    position: absolute;
    content: '';
    border: 2px dotted #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #444444;
    width: 48px;
    height: 48px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
</style>

