---
interface Props {
    title: string;
    url: string;
    pathname: string;
}
const { title, url, pathname } = Astro.props;
---

<a
    href={url}
    class:list={[
        'block rounded-tight px-fl-space-2xs py-fl-space-3xs text-base font-light text-dropdown hover:bg-dropdown-bg__hover focus:bg-dropdown-bg__hover  focus:outline-none data-[state=active]:bg-dropdown-bg__active data-[state=active]:text-dropdown-active ',
    ]}
    data-state={pathname === url ? 'active' : ''}
>
    <span class="line-clamp-2" set:html={title} />
</a>
