---
interface Props {
    title: string;
    url: string;
    pathname: string;
}
const { title, url, pathname } = Astro.props;
---

<a
    href={url}
    class:list={[
        'block rounded-tight px-3 py-2 text-sm font-light text-dropdown hover:bg-panel-contrast focus:bg-panel-contrast focus:text-dropdown-hover focus:outline-none data-[state=active]:bg-dropdown-bg__active data-[state=active]:text-dropdown-active ',
    ]}
    data-state={pathname === url ? 'active' : ''}
>
    <span class="line-clamp-2" set:html={title} />
</a>
