---
const { title, url, pathname, currentPath } = Astro.props;
---

<a
    href={url}
    class:list={[
        'focus:text-dropdown-hover data-[state=active]:text-dropdown-active data-[state=active]:bg-dropdown-bg__active text-dropdown block rounded-tight px-3 py-2 text-sm font-light hover:bg-panel-contrast focus:bg-panel-contrast focus:outline-none ',
    ]}
    data-state={pathname === url ? 'active' : ''}
>
    <span class="line-clamp-2" set:html={title} />
</a>
