---
import Button from './ui/Button.astro';
import { Icon } from 'astro-icon/components';
---

<div
    class="fixed bottom-16 right-4 z-shortcuts flex flex-col items-center space-y-2 md:right-8"
>
    <a
        id="pagetop"
        x-ref="pagetop"
        x-cloak
        :class="pageTop ? '' : 'translate-y-12 md:translate-y-0 md:translate-x-16'"
        href="#top"
        aria-hidden="true"
        class="scroll flex h-8 w-8 items-center justify-center rounded-full bg-accent text-white transition duration-700 hover:border-black/10 hover:bg-accent-light hover:shadow-inset focus:outline-none"
    >
        <Icon name="lucide:arrow-up-to-line" class="h-5 w-5" />
    </a>

    <Button
        class="group relative h-16 w-16 flex-col justify-center shadow-floated md:hidden"
        name="hamburger"
        type="button"
        x-data="hamburger"
        x-ref="button"
        @click="toggle()"
    >
        <span
            :class="smNav ? 'rotate-45 translate-y-2' : ''"
            class="ease my-0.5 h-1 w-6 transform rounded-full bg-white transition duration-300"
        ></span>
        <span
            :class="smNav ? 'opacity-0' : ''"
            class="ease my-0.5 h-1 w-6 transform rounded-full bg-white transition duration-300"
        ></span>
        <span
            :class="smNav ? '-rotate-45 -translate-y-2' : ''"
            class="ease my-0.5 h-1 w-6 transform rounded-full bg-white transition duration-300"
        ></span>
    </Button>
</div>

<script>
    import Alpine from 'alpinejs';
    document.addEventListener('alpine:init', () => {
        Alpine.store('cache', {
            theme: null,
        });
        Alpine.data('hamburger', () => ({
            freeze(freezeState) {
                document.body.classList.toggle('overflow-hidden', freezeState);
            },
            toggle() {
                const themeMeta = document.querySelector(
                    'meta[name="theme-color"]',
                );
                const cache =
                    this.$store.cache.theme ||
                    themeMeta?.getAttribute('content');
                this.$store.cache.theme = cache;
                this.smNav = !this.smNav;
                themeMeta?.setAttribute(
                    'content',
                    this.smNav ? '#ffd200' : cache,
                );
                this.freeze(this.smNav);
            },
        }));
    });
</script>
