---
import { Icon } from 'astro-icon/components';
import Button from './ui/Button.astro';
---

<div
    class="fixed bottom-fl-space-m right-fl-space-m z-shortcuts flex flex-col items-center space-y-fl-space-2xs"
>
    <a
        x-data
        x-cloak
        :class="$store.cache.pageTop ? '' : 'translate-y-fl-space-xl md:translate-y-0 md:translate-x-fl-space-2xl'"
        href="#top"
        aria-hidden="true"
        class="scroll flex items-center justify-center rounded-full bg-accent p-fl-space-3xs text-white transition duration-700 hover:border-black/10 hover:bg-accent-light hover:shadow-inset focus:outline-none"
    >
        <Icon
            name="lucide:arrow-up-to-line"
            class="h-fl-space-s w-fl-space-s"
        />
    </a>

    <button
        class="group relative flex h-fl-space-xl w-fl-space-xl items-center justify-center rounded-full bg-accent p-0 shadow-floated hover:bg-accent-light focus:bg-accent-light lg:hidden"
        name="hamburger"
        type="button"
        aria-label="Mobile menu"
        :aria-label="isMobileNavOpen ? 'Close main menu' : 'Mobile menu'"
        :aria-expanded="isMobileNavOpen"
        x-data="hamburger"
        x-ref="button"
        x-on:click.prevent="toggle()"
    >
        <div class="grid justify-items-center gap-1">
            <span
                :class="isMobileNavOpen ? '-rotate-45 translate-y-2' : ''"
                class="h-1 w-5 rounded-full bg-white transition duration-1000"
            ></span>
            <span
                :class="isMobileNavOpen ? 'opacity-0' : ''"
                class="h-1 w-6 rounded-full bg-white transition duration-1000"
            ></span>
            <span
                :class="isMobileNavOpen ? 'rotate-45 -translate-y-2 ' : ''"
                class="h-1 w-5 rounded-full bg-white transition duration-1000"
            ></span>
        </div>
    </button>
</div>

<script>
    import Alpine from 'alpinejs';
    document.addEventListener('alpine:init', () => {
        Alpine.data('hamburger', () => ({
            // freeze(freezeState) {
            //     document.body.classList.toggle('overflow-hidden', freezeState);
            // },
            toggle() {
                const themeMeta = document.querySelector(
                    'meta[name="theme-color"]',
                );
                const cache =
                    this.$store.cache.theme ||
                    themeMeta?.getAttribute('content');
                this.$store.cache.theme = cache;

                this.isMobileNavOpen = !this.isMobileNavOpen;

                themeMeta?.setAttribute(
                    'content',
                    this.smNav ? '#ffd200' : cache,
                );
                // this.freeze(this.isMobileNavOpen);
            },
        }));
    });
</script>
