---
import { Icon } from 'astro-icon/components';
interface Props {
    name: string;
    url: string;
    platform: string;
    wrap?: string;
    css?: string;
    class?: string;
}
const {
    platform,
    url,
    name,
    wrap = 'mx-fl-space-2xs',
    css = 'w-fl-space-m h-fl-space-m fill-current',
    class: ClassName,
} = Astro.props;
---

<a
    href={`${url}`}
    rel="nofollow"
    class:list={[
        ClassName ? ClassName : 'text-content-light hover:text-brand',
        wrap && wrap,
    ]}
    title={platform}
>
    <Icon {name} class={css} />
</a>
