---
import { Icon } from 'astro-icon/components';
---

<span x-data="theme" x-cloak>
    <button
        type="button"
        @click="theme = 'light'"
        x-bind:class="{'hidden' : theme === 'light'}"
        ><Icon name="lucide:sun" class="h-6 w-6" /></button
    >
    <button
        type="button"
        @click="theme = 'dark'"
        x-bind:class="{'hidden' : theme === 'dark'}"
        ><Icon name="lucide:sun-moon" class="h-6 w-6" /></button
    >
</span>

<script>
    import Alpine from 'alpinejs';
    document.addEventListener('alpine:init', () => {
        Alpine.data('theme', () => ({
            theme: '',
            getTheme() {
                if (
                    typeof localStorage !== 'undefined' &&
                    localStorage.getItem('theme')
                ) {
                    return localStorage.getItem('theme');
                }
                if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
                    return 'dark';
                }
                return 'light';
            },
            init() {
                this.$watch('theme', (value, oldValue) => {
                    localStorage.setItem('theme', value);
                    document
                        .querySelector('html')
                        ?.setAttribute('data-theme', this.theme);
                });

                this.theme = this.getTheme();
            },
        }));
    });
</script>
