---
import { Icon } from 'astro-icon/components';
const { class: ClassList, isHeroDark = false } = Astro.props;
const legibility = isHeroDark
    ? ' group-data-[banner=start]:focus:text-menudark-active group-data-[banner=start]:text-menudark'
    : '';
---

<span
    x-data="theme"
    x-cloak
    class:list={[
        'relative flex h-6 w-6 items-center justify-center justify-self-end overflow-hidden text-right text-base/none md:justify-self-center md:text-center',
        legibility,
    ]}
    x-bind:class="{'' : theme === 'light'}"
>
    <button
        type="button"
        @click="theme = 'light'"
        class="absolute inset-0 block h-6 w-6 transform duration-300"
        x-bind:class="{'translate-y-full rotate-90  ' : theme === 'light'}"
        ><Icon name="lucide:sun" class="h-6 w-6" /></button
    >
    <button
        type="button"
        @click="theme = 'dark'"
        class="absolute inset-0 block h-6 w-6 rotate-0 transform duration-300"
        x-bind:class="{'translate-y-full -rotate-90' : theme === 'dark'}"
        ><Icon name="lucide:sun-moon" class="h-6 w-6" /></button
    >
</span>

<script>
    import Alpine from 'alpinejs';
    document.addEventListener('alpine:init', () => {
        Alpine.data('theme', () => ({
            theme: '',
            getTheme() {
                if (
                    typeof localStorage !== 'undefined' &&
                    localStorage.getItem('theme')
                ) {
                    return localStorage.getItem('theme');
                }
                if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
                    return 'dark';
                }
                return 'light';
            },

            setMetaTheme(value) {
                const meta = document.querySelector('meta[name="theme-color"]');
                if (value === 'dark') {
                    meta?.setAttribute('content', '#09090b');
                }
                if (value === 'light') {
                    meta?.setAttribute('content', '#ffffff');
                }
            },

            init() {
                this.$watch('theme', (value, oldValue) => {
                    localStorage.setItem('theme', value);
                    document
                        .querySelector('html')
                        ?.setAttribute('data-theme', this.theme);
                    this.setMetaTheme(value);
                });

                this.theme = this.getTheme();
            },
        }));
    });
</script>
