---
const { bg } = Astro.props;
---

<div
    class:list={[
        'pointer-events-none fixed left-1/2 top-screenSvh z-toast w-full -translate-x-1/2 -translate-y-full p-4 md:max-w-sm',
    ]}
>
    <div
        class:list={[
            'rounded-tight  shadow shadow-slate-900/75',
            bg || 'bg-gradient-to-b from-white to-neutral-200',
        ]}
    >
        <slot />
    </div>
</div>
