---
interface Props {
    headline: string;
}

const { headline } = Astro.props;
---

<div class="relative mx-auto max-w-container">
    <h1
        id="headline"
        class="relative mx-auto mb-fl-space-xl mt-fl-space-s max-w-3xl bg-gradient-to-br from-headline-start to-headline-end bg-clip-text text-center text-fl-step-6 text-transparent"
    >
        {headline}
    </h1>
</div>
