---
interface Props {
    class?: string;
}
const { class: className, ...attrs } = Astro.props;
---

<Fragment>
    <h2 {...attrs} class:list={['', className]}>
        <slot />
    </h2>
</Fragment>
