---
import { getCollection } from 'astro:content';
import Bento from '~/components/lightbox/Bento.astro';
import { Icon } from 'astro-icon/components';
interface CollectionItem {
    id: string;
    title?: string;
    description?: string;
}

interface Props {
    collections?: CollectionItem[];
    breakout: boolean;
}

const { collections = [], breakout = false } = Astro.props;

const allGalleries = await getCollection('galleries');

const galleries = allGalleries.filter((gallery) =>
    collections.some((item) => item.id === gallery.id),
);
---

{
    collections && (
        <div
            class:list={[
                'not-prose bg-surface-sunken p-fluid-s-m shadow-inset relative',
                !breakout ? '-mx-fluid-m my-fluid-xl @3xl:rounded' : 'breakout',
            ]}
        >
            <div class="grid grid-flow-row justify-between leading-snug md:grid-flow-col">
                <slot name="title" slot="title" />
                <div class="gap-fluid-2xs text-step--1 text-content-quiet pointer-events-none grid grid-cols-(--gtc-icon) md:max-w-[36ch]">
                    <Icon
                        name="lucide:zoom-in"
                        class="w-fluid-s inline-block h-auto"
                    />
                    <p>
                        Tap any image to view in more detail. Pinch or mouse
                        scroll to zoom in.
                    </p>
                </div>
            </div>

            <slot />

            {collections.map((item) => {
                const gallery = galleries.find((g) => g.id === item.id);
                return gallery ? (
                    <div class="mt-fluid-m">
                        {item.title && (
                            <h3 class="font-display" id={item.id}>
                                {item.title}
                            </h3>
                        )}
                        {item.description && (
                            <p class="mb-fluid-m" set:html={item.description} />
                        )}
                        <Bento {gallery} />
                    </div>
                ) : null;
            })}
        </div>
    )
}
