---
import { ViewTransitions } from 'astro:transitions';
// import Loader from "../components/Loader.astro";
import MainHead from '../components/MainHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Underlay from '../components/ui/Underlay.astro';
import CookieNotice from '../components/CookieNotice.astro';
import Shortcuts from '../components/Shortcuts.astro';
import Accessibility from '../components/Accessibility.astro';
import Overlay from '../components/ui/Overlay.astro';

import site from '../data/site.json';

export interface Props {
    title?: string;
    description?: string;
    image?: string;
    hero?: Partial<HeroKeys>;
}
interface HeroKeys {
    dark?: boolean;
    mode?: 'plain' | 'image' | 'custom';
}

const frontmatter = Astro.props.frontmatter || Astro.props;

const { title: defaultTitle, description: defaultDescription } = site;

const { title = defaultTitle, description = defaultDescription } =
    frontmatter as Props;

const { hero = {} } = frontmatter as Props;
console.log(hero);
const { dark: isHeroDark = false } = hero as HeroKeys;
// console.log(isHeroDark);
// import "../styles/global.css";
---

<html
    lang="en"
    class="relative h-full max-w-full scroll-pt-[var(--headerheight)] scroll-smooth"
>
    <head>
        <MainHead {title} {description} />
        <ViewTransitions />
    </head>
    <body
        class:list={[
            'relative flex min-h-screen max-w-full scroll-pt-[var(--headerheight)]  overflow-x-hidden bg-white font-Roboto text-gray-700 antialiased',
        ]}
        x-data="{ pageTop: false, smNav: false, showOverlay: false, showUnderlay: false, }"
        x-ref="body"
        id="top"
    >
        <Accessibility />
        <!-- <Loader /> -->
        <div
            id="wrapper"
            class="grid w-full grid-cols-1 grid-rows-[auto,1fr,auto]"
        >
            <Header isHeroDark={isHeroDark} />
            <div class="bg-white outline-none">
                <slot name="hero"> base hero</slot>

                <slot />
            </div>
            <Footer />
        </div>

        <Underlay isHeroDark={isHeroDark} />
        <CookieNotice />
        <Shortcuts />
        <Overlay class="bg-gray-800" />

        <style>
            /* Alpine.js
---------------------------------------------------------------------------------*/
            [x-cloak] {
                /* display: none !important; */
                visibility: hidden;
                opacity: 0;
            }
        </style>
        <style is:global>
            :root {
                --swiper-theme-color: theme('colors.accent.DEFAULT');
                /* --swiper-pagination-color: theme('colors.white'); */
                --swiper-pagination-bullet-inactive-color: white;
                --swiper-pagination-bullet-inactive-opacity: 1;
                --headerheight: 88px; /* 24px + 40px +24px */
                --smheaderheight: 88px; /* 24px + 40px +24px */
            }
        </style>
    </body>
</html>
