---
import { type Props as HeadProps } from '~/components/SEO/Main.astro';
import Hero, { type Props as HeroProps } from '~/components/Hero/Hero.astro';

import BaseLayout from './BaseLayout.astro';
import utilities from '~/data/utilities.json';

const fm = Astro.props.frontmatter || Astro.props;

const head: HeadProps = {
    title: fm.title,
    description: fm.description,
};

const heroConfig: HeroProps = {
    title: fm.title,
    hero: fm.hero,
};

const { title, isHeroDark = false, isWide = false } = fm;
---

<BaseLayout {...head} {isHeroDark}>
    <slot name="slothero">
        <Hero {...heroConfig} />
    </slot>

    <main
        id="main-content"
        class:list={[
            'relative mx-auto max-w-container ',
            utilities.headergap,
            utilities.tramline.double.b,
        ]}
    >
        {
            isWide ? (
                <slot />
            ) : (
                <div class="mx-auto max-w-3xl">
                    <slot />
                </div>
            )
        }
    </main>
</BaseLayout>
