---
import BaseLayout from './BaseLayout.astro';
import Hero from '~/components/Hero/Hero.astro';
import utilities from '~/data/utilities.json';

const props = Astro.props.frontmatter || Astro.props;
---

<BaseLayout {...props}>
    <slot name="hero" slot="hero">
        <Hero hero={props.hero} title={props.title} />
    </slot>

    <main
        id="main-content"
        class:list={[
            'relative mx-auto max-w-container ',
            utilities.headergap,
            utilities.tramline.double.b,
        ]}
    >
        <slot />
    </main>
</BaseLayout>
