---
import BaseLayout, { type Props } from './BaseLayout.astro';
import Hero from '~/components/Hero/Hero.astro';
import utilities from '~/data/utilities.json';
import type { MDXLayoutProps, MDXInstance } from 'astro';

const props = Astro.props;

const frontmatter = Astro.props.frontmatter || Astro.props;
// const { hero = {} } = frontmatter as Props;
console.log(frontmatter.hero);
console.log('frontmatter:', frontmatter);
// console.log('hero:', hero);
---

<BaseLayout>
    <slot name="hero" slot="hero">
        <Hero hero={frontmatter.hero} title={frontmatter.title} />
    </slot>

    <main
        id="main-content"
        class:list={[
            'relative mx-auto max-w-container ',
            utilities.headergap,
            utilities.tramline.double.b,
        ]}
    >
        <div class="rte prose mx-auto max-w-3xl lg:prose-lg">
            <slot />
        </div>
    </main>
</BaseLayout>
