---
import BaseLayout from './BaseLayout.astro';
import { type Props as HeadProps } from '~/components/SEO/Main.astro';
import Hero, { type Props as HeroProps } from '~/components/Hero/Hero.astro';
import TableOfContents from '~/components/ui/TableOfContents.astro';
import Breadcrumbs from '~/components/ui/Breadcrumbs.astro';

const fm = Astro.props.frontmatter || Astro.props;

const head: HeadProps = {
    title: fm.title,
    description: fm.description,
    ogTitle: fm.ogTitle || fm.title,
    ogDescription: fm?.ogDescription || '',
    ogImage: fm?.ogImage ?? undefined,
};

const heroConfig: HeroProps = {
    title: fm.title,
    hero: fm.hero,
};

const isHeroDark = (fm.isHeroDark || (fm.hero && fm.hero.dark)) ?? false;
const { headings, isWide = false, prose = true } = Astro.props;
---

<BaseLayout head={head} {isHeroDark}>
    <slot name="slothero">
        <Hero {...heroConfig} />
        <Breadcrumbs title={head.title} />
    </slot>

    <main
        id="main-content"
        class="relative mx-auto max-w-container py-fl-space-xl"
    >
        {
            (
                <div
                    class:list={[
                        'text-fl-step-0',
                        prose && 'rte prose ',
                        isWide ? 'w-full' : 'mx-auto  max-w-3xl',
                    ]}
                >
                    {headings && <TableOfContents headings={headings} />}
                    <slot />
                </div>
            )
        }
    </main>
</BaseLayout>
