---
import { type Props as HeadProps } from '~/components/SEO/Main.astro';
import BaseLayout from './BaseLayout.astro';

const fm = Astro.props.frontmatter || Astro.props;

const head: HeadProps = {
    title: fm.title,
    description: fm.description,
    ogTitle: fm.ogTitle || fm.title,
    ogDescription: fm?.opengraph?.description || '',
    ogImage: fm?.ogImage ?? undefined,
};

const isHeroDark = (fm.isHeroDark || (fm.hero && fm.hero.dark)) ?? false;
---

<BaseLayout head={head} {isHeroDark}>
    <main id="main-content">
        <slot />
    </main>
</BaseLayout>
