---
import { type Props as HeadProps } from '~/components/SEO/Main.astro';
import BaseLayout from './BaseLayout.astro';

const fm = Astro.props.frontmatter || Astro.props;
const head: HeadProps = {
    ...fm.head, // Spread any existing values in `fm.head`
    title: fm.title || fm.head?.title,
    description: fm.description || fm.head?.description,
    og: fm.og || fm.head?.og,
};

const isHeroDark =
    (fm.isHeroDark || (fm.heroConfig && fm.heroConfig.dark)) ?? false;
---

<BaseLayout head={head} {isHeroDark}>
    <main id="main-content">
        <slot />
    </main>
</BaseLayout>
