---
interface Link {
    anchor: string;
    label: string;
}

interface Props {
    a11yLinks: Link[];
}

const { a11yLinks } = Astro.props;
---

<h2 class="sr-only">Accessibility links</h2>

{
    a11yLinks.map((link) => (
        <a
            class="bg-attention p-fluid-2xs absolute left-1/2 -translate-x-1/2 -translate-y-full text-black transition focus:z-10000 focus:translate-y-0"
            href={link.anchor}
        >
            Skip to {link.label}
        </a>
    ))
}
