---
import { Icon } from 'astro-icon/components';
import Link from './Link.astro';
import siteInfo from '~/data/site';
const available = siteInfo.available;
interface Props {
    url: string;
}
const { url } = Astro.props;
---

{
    available ? (
        <>
            <Link
                theme="primary"
                size="sm"
                href={url}
                isIcon={true}
                class="not-prose mx-0.5"
            >
                <Icon
                    name="lucide:handshake"
                    class="inline h-fl-space-s w-fl-space-s"
                />
                available
            </Link>
        </>
    ) : (
        <span class="inline-block whitespace-nowrap px-1.5 py-1 align-middle leading-tight">
            unavailable
        </span>
    )
}
