---
import { Icon } from 'astro-icon/components';
import Button from '~/components/preact/Button.tsx';
import siteInfo from '~/data/site';
const available = siteInfo.available;
interface Props {
    url: string;
}
const { url } = Astro.props;
---

{
    available ? (
        <>
            <Button
                theme="action"
                size="sm"
                href={url}
                isIcon={true}
                class="not-prose not-rte mx-0.5"
            >
                <Icon
                    name="lucide:handshake"
                    class="inline h-fluid-s w-fluid-s"
                />
                available
            </Button>
        </>
    ) : (
        <span class="inline-block px-1.5 py-1 align-middle leading-tight whitespace-nowrap">
            unavailable
        </span>
    )
}
