---
import type { HTMLAttributes } from 'astro/types';
import { Icon } from 'astro-icon/components';

interface Props extends HTMLAttributes<'div'> {
    theme?: 'info' | 'note' | 'attention';
    class?: string;
    display?: 'inline-block' | 'block';
    type?: 'button' | 'submit' | 'reset';
    hasIcon?: boolean;
}

const {
    theme = 'note',
    class: className,
    display = 'inline-block',
    hasIcon = false,
    ...rest
} = Astro.props;

const themeSet = {
    note: {
        icon: 'mdi:notebook-outline',
        bg: 'bg-note',
        border: 'border-note',
        inset: 'shadow-note-shade',
        stroke: 'text-content-dark',
    },
    idea: {
        icon: 'lucide:lightbulb',
        bg: 'bg-note',
        border: 'border-note',
        inset: 'shadow-note-shade',
        stroke: 'text-content-dark',
    },
    info: {
        icon: 'lucide:info',
        bg: 'bg-info',
        border: 'border-note',
        inset: 'shadow-info-shade',
        stroke: 'text-content-light',
    },
    attention: {
        icon: 'lucide:alert-circle',
        bg: 'bg-attention',
        border: 'border-attention',
        inset: 'shadow-attention-shade',
        stroke: 'text-content-dark',
    },
};
---

<div
    class:list={[
        'not-prose overflow-hidden text-fl-step--1/snug',
        display,
        className
            ? className
            : 'items-center justify-center rounded-tight bg-surface-raised text-content shadow-raised',
    ]}
    {...rest}
>
    <div
        class:list={[
            'grid h-full grid-cols-icon items-center gap-fl-space-2xs',
        ]}
    >
        <div
            class:list={[
                ' h-full min-w-fl-space-2xs py-fl-space-2xs ',
                themeSet[theme].bg,
            ]}
        >
            {
                hasIcon && (
                    <span
                        class:list={[
                            'mx-fl-space-2xs flex items-center justify-center rounded-full p-fl-space-2xs shadow-icon',
                            themeSet[theme].inset,
                            themeSet[theme].stroke,
                        ]}
                    >
                        <Icon
                            name={themeSet[theme].icon}
                            class="h-auto w-fl-space-s"
                        />
                    </span>
                )
            }
        </div>
        <div class="rte p-fl-space-2xs pl-0">
            <slot />
        </div>
    </div>
</div>
