---
import type { HTMLAttributes } from 'astro/types';
import { Icon } from 'astro-icon/components';

interface Props extends HTMLAttributes<'div'> {
    theme?: 'info' | 'note' | 'attention';
    class?: string;
    display?: 'inline-block' | 'block';
    type?: 'button' | 'submit' | 'reset';
    hasIcon?: boolean;
}

const {
    theme = 'note',
    class: className,
    display = 'inline-block',
    hasIcon = false,
    ...rest
} = Astro.props;

const themeSet = {
    note: {
        icon: 'mdi:notebook-outline',
        bg: 'bg-note',
        border: 'border-note',
        inset: 'shadow-note-shade',
        stroke: 'text-content-dark',
    },
    idea: {
        icon: 'lucide:lightbulb',
        bg: 'bg-note',
        border: 'border-note',
        inset: 'shadow-note-shade',
        stroke: 'text-content-dark',
    },
    info: {
        icon: 'lucide:info',
        bg: 'bg-info',
        border: 'border-note',
        inset: 'shadow-info-shade',
        stroke: 'text-content-light',
    },
    attention: {
        icon: 'lucide:alert-circle',
        bg: 'bg-attention',
        border: 'border-attention',
        inset: 'shadow-attention-shade',
        stroke: 'text-content-dark',
    },
};
---

<div
    class:list={[
        'text-step--1/snug rounded-tight bg-surface-raised text-content shadow-raised items-center justify-center overflow-hidden',
        display,
        className && className,
    ]}
    {...rest}
>
    <div
        class:list={[
            'gap-fluid-xs grid h-full grid-cols-(--gtc-icon) items-center',
        ]}
    >
        <div
            class:list={[
                'min-w-fluid-2xs py-fluid-2xs h-full',
                themeSet[theme].bg,
            ]}
        >
            {
                hasIcon && (
                    <span
                        class:list={[
                            'mx-fluid-2xs p-fluid-2xs shadow-icon flex items-center justify-center rounded-full',
                            themeSet[theme].inset,
                            themeSet[theme].stroke,
                        ]}
                    >
                        <Icon
                            name={themeSet[theme].icon}
                            class="w-fluid-s h-auto"
                        />
                    </span>
                )
            }
        </div>
        <div class="rte p-fluid-xs pl-0">
            <slot />
        </div>
    </div>
</div>
