---
import type { HTMLAttributes } from 'astro/types';
import { Icon } from 'astro-icon/components';

interface Props extends HTMLAttributes<'div'> {
    theme?: 'note' | 'alert' | 'attention';
    class?: string;
    display?: 'inline-block' | 'block';
    type?: 'button' | 'submit' | 'reset';
    hasIcon?: boolean;
}

const {
    theme = 'note',
    class: className,
    display = 'inline-block',
    hasIcon = false,
    ...rest
} = Astro.props;

const themeSet = {
    note: {
        icon: 'mdi:notebook-outline',
        bg: 'bg-note',
        border: 'border-note',
        inset: 'shadow-note-shade',
        stroke: 'text-content-dark',
    },
    idea: {
        icon: 'lucide:lightbulb',
        bg: 'bg-note',
        border: 'border-note',
        inset: 'shadow-note-shade',
        stroke: 'text-content-dark',
    },
    info: {
        icon: 'lucide:info',
        bg: 'bg-info',
        border: 'border-note',
        inset: 'shadow-note-shade',
        stroke: 'text-content-light',
    },
    alert: {
        icon: 'lucide:alert-triangle',
        bg: 'bg-alert',
        border: 'border-alert',
        inset: 'shadow-alert-shade',
        stroke: 'text-content-light',
    },
    attention: {
        icon: 'lucide:alert-circle',
        bg: 'bg-attention',
        border: 'border-attention',
        inset: 'shadow-attention-shade',
        stroke: 'text-content-dark',
    },
};
---

<div
    class:list={[
        'not-prose text-sm/snug',
        display,
        className
            ? className
            : 'items-center justify-center rounded-tight bg-panel text-content shadow-d1 shadow-panel-shadow/10',
        themeSet[theme].border && `${themeSet[theme].border} border-l-4`,
    ]}
    {...rest}
>
    {
        hasIcon ? (
            <>
                <div
                    class:list={[
                        'grid  h-full grid-cols-icon items-center gap-x-1.5 ',
                    ]}
                >
                    <div
                        class:list={[
                            ' h-full border-r-2 border-outline/10 py-1.5 pl-1 pr-2',
                            themeSet[theme].bg,
                        ]}
                    >
                        <span class:list={['', themeSet[theme].bg]}>
                            <span
                                class:list={[
                                    'flex items-center justify-center rounded-full p-1.5 shadow-icon',
                                    themeSet[theme].inset,
                                    themeSet[theme].stroke,
                                ]}
                            >
                                <Icon
                                    name={themeSet[theme].icon}
                                    class="h-auto w-5"
                                />
                            </span>
                        </span>
                    </div>
                    <div class="p-1.5 pl-0">
                        <slot />
                    </div>
                </div>
            </>
        ) : (
            <div class="px-2 py-1">
                <slot />
            </div>
        )
    }
</div>
