---
interface Props {
    class?: string;
}
const { class: className } = Astro.props;
---

<div
    class:list={[
        'fixed inset-0 z-overlay hidden h-full min-h-screen bg-opacity-80 opacity-0 backdrop-blur-sm backdrop-grayscale',
        className,
    ]}
    id="overlay"
>
</div>
