---
interface Props {
    class?: string;
}
const { class: className } = Astro.props;
---

<div
    class:list={[
        'fixed inset-0 z-(--z-overlay) hidden h-full min-h-screen opacity-0 backdrop-blur-xs backdrop-grayscale',
        className,
    ]}
    id="overlay"
>
</div>
