---
import PageTop from '~/components/preact/navigation/PageTop';
---

<div
    class="sticky right-fluid-m bottom-0 z-[--z-shortcuts] mr-0 ml-auto flex w-auto max-w-fit justify-end"
>
    <div class="absolute right-0 bottom-0 -translate-y-fluid-m">
        <PageTop client:load />
    </div>
</div>
