---
import { type CollectionEntry } from 'astro:content';
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';

type Props = {
    post: CollectionEntry<'work'>;
    class?: string;
    preview?: 'prev' | 'next';
};

const { post, preview, class: ClassName } = Astro.props;
---

{
    post && (
        <a
            href={`/${post.collection}/${post.slug}/`}
            class:list={['group grid grid-cols-1 gap-fl-space-2xs', ClassName]}
        >
            <span
                class:list={[
                    'text-content-quiet flex w-full gap-fl-space-3xs text-fl-step--1',
                    preview === 'prev' && 'flex-row-reverse',
                ]}
            >
                <Icon
                    name={
                        preview === 'next'
                            ? 'lucide:chevron-left-square'
                            : 'lucide:chevron-right-square'
                    }
                    class="h-6 w-auto"
                />
                {preview === 'next' ? 'Next' : 'Previous'}
            </span>

            <span>
                <h2
                    set:html={post.data.title}
                    class:list={[
                        'text-fl-step-1/tight font-bold text-accent group-hover:text-accent-light',
                        preview === 'prev' && 'text-right',
                    ]}
                />
                <p class="text-fl-step--1 " set:html={post.data.excerpt} />
            </span>
        </a>
    )
}
