---
import { Icon } from 'astro-icon/components';
interface Props {
    class?: string;
    duration: string;
}
const {
    duration = '0 min',
    class: className = 'text-step--1 text-content-quiet',
} = Astro.props;
---

<div class:list={['flex items-center', className]}>
    <Icon name="lucide:timer" class="mr-fluid-3xs inline-block h-4 w-auto" />{
        duration
    }
</div>
