---
import { Icon } from 'astro-icon/components';
---

<div
    class="scrollPrompt flex items-center gap-fl-space-3xs text-fl-step--1 opacity-0"
>
    <span>Scroll</span>
    <Icon name="lucide:mouse" class="nudge size-fl-space-s" />
</div>

<script>
    import { animate, timeline, type TimelineDefinition, inView } from 'motion';

    import Lenis from '@studio-freight/lenis';
    const lenis = new Lenis();

    const raf = (time) => {
        lenis.raf(time);
        requestAnimationFrame(raf);
    };
    requestAnimationFrame(raf);

    const scrollers = document.querySelectorAll('.scrollPrompt');

    inView(
        scrollers,
        (el) => {
            const nudge = el.target.querySelector('.nudge');
            const sequence: TimelineDefinition = [
                [
                    el.target,
                    {
                        opacity: [0, 0.5, 1],
                        y: ['50%', '25%', '0%'],
                    },
                ],
            ];

            timeline(sequence, {
                duration: 0.75,
                delay: 1.5,
            }).finished.then(() => {
                animate(
                    nudge,
                    {
                        y: ['0%', '25%', '10%', '0%'],
                        skewY: ['0deg', '10deg', '0deg'],
                        rotate: ['0deg', '-5deg', '0deg'],
                    },
                    {
                        duration: [0.25],
                        delay: 2.5,
                        repeat: 1,
                        easing: 'ease-in',
                    },
                );
            });

            return (leave) => {
                if (leave) {
                    animate(el.target, { opacity: [0] }, { duration: 0.25 });
                }
            };
        },
        {
            margin: '-50% 0px 0px 0px',
        },
    );
</script>
