---
import type { HTMLAttributes } from 'astro/types';
import { remark } from 'remark';
import remarkHtml from 'remark-html';

interface Area {
    title: string;
    skills: string[];
    class?: string;
}

interface SkillsetProps {
    text?: string;
    icon?: string;
    heading?: string;
    shadow?: string;
    areas: Area[];
}

export interface Props extends HTMLAttributes<'div'> {
    breakout?: boolean;
    bg?: string;
    class?: string;
    skillset?: SkillsetProps;
}

const {
    breakout = false,
    class: className,
    bg = 'bg-slate-900',
    skillset,
    ...rest
} = Astro.props;

const { text, icon, heading, shadow, areas } = skillset as SkillsetProps;

// Function to parse markdown
async function parseMarkdown(content: string) {
    const result = await remark().use(remarkHtml).process(content);
    return String(result);
}

// Pre-process all skills markdown
const processedAreas = await Promise.all(
    areas.map(async (area) => ({
        ...area,
        processedSkills: await Promise.all(
            area.skills.map((skill) => parseMarkdown(skill)),
        ),
    })),
);
---

<div
    class:list={[
        'not-prose not-rte p-fluid-m relative',
        className
            ? className
            : `shadow-inset ${
                  !breakout
                      ? '-mx-fluid-m my-fluid-xl @3xl:rounded'
                      : 'breakout'
              }`,
        bg,
    ]}
    {...rest}
>
    <div
        class:list={[
            'relative mx-auto max-w-3xl',
            heading || 'permalink:text-white',
        ]}
    >
        <slot />
        <ul
            class:list={[
                'gap-fluid-m grid grid-cols-1 lg:grid-cols-2',
                text || 'text-content-light',
                shadow || 'text-shadow-emboss shadow-black/25',
            ]}
        >
            {
                areas.map((area) => (
                    <li class:list={['list-none', area?.class]}>
                        <h3>{area.title}</h3>
                        <ul
                            class:list={[
                                'space-y-fluid-2xs',
                                icon || '[&>li]:before:text-white!',
                            ]}
                        >
                            {area.skills.map((skill) => (
                                <li
                                    class="pl-fluid-m before:i-lucide-check-circle-2 before:top-tight before:h-fluid-s before:w-fluid-s relative leading-normal before:absolute before:left-0 before:leading-normal"
                                    set:html={parseMarkdown(skill)}
                                />
                            ))}
                        </ul>
                    </li>
                ))
            }
        </ul>
    </div>
</div>
