---
import type { HTMLAttributes } from 'astro/types';
interface Area {
    title: string;
    skills: string[];
    class?: string;
}

interface SkillsetProps {
    text?: string;
    icon?: string;
    heading?: string;
    shadow?: string;
    areas: Area[];
}

export interface Props extends HTMLAttributes<'div'> {
    breakout?: boolean;
    bg?: string;
    class?: string;
    skillset?: Partial<SkillsetProps>;
}

const {
    breakout = false,
    class: className,
    bg = 'bg-slate-900',
    skillset,
    ...rest
} = Astro.props;
const { text, icon, heading, shadow, areas } = skillset as SkillsetProps;
---

<div
    class:list={[
        'not-prose relative p-fl-space-m',
        className
            ? className
            : `shadow-inset   ${
                  !breakout
                      ? 'con3xlpad:rounded-tight -mx-fl-space-m my-fl-space-xl'
                      : 'breakout'
              }`,
        bg,
    ]}
    {...rest}
>
    <div
        class:list={[
            'relative mx-auto max-w-3xl',
            heading || 'permalink:text-white',
        ]}
    >
        <slot />
        <ul
            class:list={[
                'grid grid-cols-1 gap-fl-space-m lg:grid-cols-2',
                text || 'text-content-light',
                shadow || 'shadow-black/25 text-shadow-emboss',
            ]}
        >
            {
                areas.map((area) => (
                    <li class:list={['list-none ', area?.class]}>
                        <h3>{area.title}</h3>
                        <ul
                            class:list={[
                                'space-y-fl-space-2xs ',
                                icon || '[&>li]:before:!text-white',
                            ]}
                        >
                            {area.skills.map((skill) => (
                                <li class="relative pl-fl-space-m leading-normal before:icon-[lucide--check-circle-2] before:absolute before:left-0 before:top-tight before:h-fl-space-s before:w-fl-space-s before:leading-normal">
                                    {skill}
                                </li>
                            ))}
                        </ul>
                    </li>
                ))
            }
        </ul>
    </div>
</div>
