---
import { Icon } from 'astro-icon/components';

interface Props {
    url: string;
    platform: string;
    wrap?: string;
    css?: string;
    class?: string;
    icon: string;
}
const {
    platform,
    url,
    icon,
    wrap = 'mx-fluid-2xs',
    css = 'w-fluid-m h-fluid-m fill-current',
    class: ClassName,
} = Astro.props;
---

<a
    href={`${url}`}
    rel="nofollow"
    class:list={[
        ClassName ? ClassName : 'text-content hover:text-primary',
        wrap && wrap,
    ]}
    title={platform}
>
    <span class:list={[icon, css]}></span>
</a>
