---
import { Icon } from 'astro-icon/components';
---

<div
    x-data="{ scrolled: false }"
    x-cloak
    x-bind:class="scrolled ? 'opacity-0 transition delay-300 duration-300' : 'opacity-100'"
    @scroll.window="scrolled = ( window.pageYOffset > 25 ) ? true : false"
>
    <p class="m-0 flex gap-fl-space-3xs text-fl-step--1">
        <span>Swipe</span>
        <Icon
            name="lucide:arrow-right-left"
            class="h-4 w-auto animate-nudge-right"
        />
    </p>
</div>
