---
import { Icon } from "astro-icon/components";
---

<div class="swipePrompt gap-fluid-3xs text-step--1 flex opacity-0">
    <span>Swipe</span>
    <Icon name="lucide:arrow-right-left" class="nudge size-fluid-s" />
</div>
<script>
    import { animate, type AnimationSequence, inView } from 'motion';

    const swipePrompts = document.querySelectorAll('.swipePrompt');
    if (swipePrompts != null) {
        inView(
            swipePrompts,
            (el) => {
                const nudge = el.querySelector('.nudge');
                const sequence: AnimationSequence = [
                    [
                        el,
                        {
                            opacity: [0, 0.5, 1],
                            y: ['50%', '25%', '0%'],
                        },
                        {
                            duration: 0.75,
                            delay: 1.5,
                        },
                    ],
                ];

                animate(sequence, {}).then(() => {
                    if (nudge) {
                        // animate to allow repeat attribute
                        animate(
                            nudge,
                            {
                                x: ['0%', '25%', '0%'],
                                skewY: ['0deg', '10deg', '0deg'],
                                rotate: ['0deg', '-5deg', '0deg'],
                            },
                            {
                                duration: 0.25,
                                repeatDelay: 0.15,
                                repeat: 1,
                                ease: 'easeOut',
                            },
                        );
                    }
                });

                return (leave) => {
                    if (leave) {
                        animate(
                            el,
                            { opacity: [0] },
                            { duration: 0.25 },
                        );
                    }
                };
            },
            {
                margin: '-50% 0px 0px 0px',
            },
        );
    }
</script>
