---
import { buildToc } from '~/js/utils';
import TableOfContentsHeading from './TableOfContentsHeading.astro';

export interface Heading {
    depth: number;
    slug: string;
    text: string;
    subheadings: Heading[];
}

interface Props {
    headings: Heading;
    class?: string;
}

const { headings, class: className } = Astro.props;
const toc = buildToc(headings);
---

<nav
    id="toc"
    x-cloak
    x-data="toc()"
    @focusin.window="! $refs.toc.contains($event.target) && close()"
    x-ref="toc"
    x-id="['panel-toc']"
    aria-label="Content sections"
    data-off-canvas-sticky
    class:list={[
        'sticky-root sticky -top-px z-toc my-fl-space-l flex w-full transition-all duration-500 md:justify-center',
        className ? className : '',
    ]}
>
    <div
        id="tocWrapper"
        class="relative w-full max-w-2xl rounded-b shadow-raised transition-shadow md:w-auto"
        x-bind:class="open ? 'grow ' : ''"
        x-sticky-inactive="!translate-y-0"
    >
        <button
            @click="toggle()"
            x-ref="tocbutton"
            aria-label="Toggle page links"
            :aria-expanded="open"
            :aria-controls="$id('panel-toc')"
            class="group flex w-full items-center justify-between gap-x-fl-space-2xs rounded border border-line bg-surface-raised px-fl-space-s py-fl-space-2xs font-semibold"
            x-sticky.sticky-root="rounded-t-none"
            x-bind:class="open ? 'rounded-none ' : ''"
        >
            On this page <span
                class="block h-5 w-5 group-focus:ring-2"
                x-bind:class="open ? 'icon-[lucide--x-circle]': 'icon-[lucide--file-text]'"
            ></span>
        </button>

        <div class="relative z-10">
            <div
                x-cloak
                :id="$id('panel-toc')"
                x-show="open"
                x-transition:enter="transition ease-out duration-150 delay-300"
                x-transition:enter-start="opacity-0"
                x-transition:enter-end="opacity-100"
                x-transition:leave="transition ease-in duration-0"
                x-transition:leave-start="opacity-100"
                x-transition:leave-end="opacity-0"
                class="absolute left-0 top-0 block max-h-[calc(100dvh-var(--headerheight))] w-full grow overflow-y-scroll rounded-b border border-t-0 border-line bg-surface-overlay px-fl-space-s py-fl-space-2xs shadow-raised transition-all"
            >
                <ol class="m-0">
                    {
                        toc.map((heading) => (
                            <TableOfContentsHeading heading={heading} />
                        ))
                    }
                </ol>
            </div>
        </div>
    </div>
</nav>
<script>
    import sticky from 'alpinejs-sticky';

    document.addEventListener('alpine:init', () => {
        Alpine.plugin(sticky);

        Alpine.data('toc', () => ({
            open: false,
            toggle() {
                this.open = !this.open;
                if (this.open) {
                    this.$refs.tocbutton.focus();
                }
            },
            close(focusAfter) {
                if (focusAfter) {
                    focusAfter.focus();
                }
                setTimeout(() => {
                    this.open = false;
                }, 750);
            },
        }));
    });
    const setCurrent: IntersectionObserverCallback = (entries) => {
        for (let entry of entries) {
            const { id } = entry.target;
            const tocHeadingEl = document.querySelector(
                `#toc a[href="#${id}"]`,
            );
            if (!tocHeadingEl) return;
            if (entry.isIntersecting) {
                document
                    .querySelectorAll('#toc a')
                    .forEach((e) => e.setAttribute('data-state', ''));
                tocHeadingEl.setAttribute('data-state', 'active');
            }
        }
    };

    const observerOption: IntersectionObserverInit = {
        rootMargin: '0px 0px -66%',
        threshold: 1,
    };
    const headingObserver = new IntersectionObserver(
        setCurrent,
        observerOption,
    );
    document
        .querySelectorAll('#main-content :is(h2,h3,h4)')
        .forEach((heading) => headingObserver.observe(heading));
</script>
