---
import type { Heading } from '~/components/ui/TableOfContents.astro';
interface Props {
    heading: Heading;
}

const { heading } = Astro.props;
---

<li>
    <a
        href={`#${heading.slug}`}
        class="data-[state=active]:font-semibold data-[state=active]:text-content data-[state=active]:no-underline"
        data-state=""
        @click="close()"
    >
        {heading.text}
    </a>
    {
        heading.subheadings && heading.subheadings.length > 0 && (
            <ol>
                {heading.subheadings.map((subheading) => (
                    <Astro.self heading={subheading} />
                ))}
            </ol>
        )
    }
</li>
