---
import { Icon } from 'astro-icon/components';
interface Props {
    featured?: boolean;
    href?: string;
    isLink?: boolean;
}
const { featured = false, href, isLink = false } = Astro.props;
const common =
    'inline-flex items-center gap-x-fl-space-3xs whitespace-nowrap rounded-tight font-medium leading-none px-fl-space-3xs py-fl-space-3xs';
---

{
    isLink ? (
        <a
            href={href}
            class:list={[
                common,
                'hover:bg-tag-bg__hover border',
                featured
                    ? 'border-tag-featured bg-tag-featured text-content-featured'
                    : 'border-tag-link bg-tag-link text-content-tag ',
            ]}
        >
            {featured && (
                <div class="before:bookmarkclip pointer-events-none relative z-10 -my-fl-space-s  block pb-fl-space-2xs pt-fl-space-3xs text-center drop-shadow-sm before:absolute before:inset-0 before:h-full before:w-full before:bg-brand">
                    <div class="relative flex justify-center">
                        <Icon
                            name="mdi:star"
                            class="relative mx-auto h-fl-space-s w-fl-space-s text-white"
                        />
                        <Icon
                            name="mdi:star"
                            class="absolute mx-auto h-fl-space-s w-fl-space-s animate-ping text-white opacity-40"
                        />
                    </div>
                </div>
            )}
            <slot />
        </a>
    ) : (
        <span
            class:list={[
                common,
                'border',
                featured
                    ? 'border-tag-featured bg-tag-featured text-content-featured '
                    : 'border border-line',
            ]}
        >
            {featured && (
                <div class="before:bookmarkclip pointer-events-none relative z-10 -my-fl-space-s block pb-fl-space-2xs pt-fl-space-3xs text-center drop-shadow-sm before:absolute before:inset-0 before:h-full before:w-full before:bg-brand">
                    <div class="relative flex justify-center">
                        <Icon
                            name="mdi:star"
                            class="relative mx-auto h-fl-space-s w-fl-space-s text-white"
                        />
                        <Icon
                            name="mdi:star"
                            class="absolute mx-auto h-fl-space-s w-fl-space-s animate-ping text-white opacity-40"
                        />
                    </div>
                </div>
            )}
            <slot />
        </span>
    )
}
