---
import { Icon } from 'astro-icon/components';
import Tag from '~/components/ui/Tag.astro';
interface Props {
    tags: string[];
    url?: boolean;
    class?: string;
}
const { tags, url = false, class: className = ' ' } = Astro.props;
// Move 'featured' to the beginning of the array, if it exists
if (tags.includes('featured')) {
    tags.unshift(tags.splice(tags.indexOf('featured'), 1)[0]);
}
---

{
    tags && (
        <ul
            class:list={[
                'flex w-full flex-wrap items-center gap-fl-space-2xs text-fl-step--1 leading-none',
                className,
            ]}
        >
            {tags.map((tag) => (
                <li>
                    <Tag
                        href={`/tags/${tag}`}
                        isLink={url}
                        featured={tag.toLowerCase() === 'featured'}
                    >
                        {tag}
                    </Tag>
                </li>
            ))}
        </ul>
    )
}
