---
interface Props {
    tags: string[];
    url?: boolean;
    class?: string;
}
const { tags, url = false, class: className = ' ' } = Astro.props;

const common =
    'flex font-normal border relative gap-x-fluid-3xs whitespace-nowrap rounded-tight p-fluid-3xs  text-step--1/none -tracking-[0.125px]';
---

{
    tags && (
        <ul
            data-inview="tags"
            class:list={[
                'flex flex-wrap items-center gap-fluid-2xs',
                className,
            ]}
        >
            {tags.map((tag) => {
                return (
                    <li data-animate="tag">
                        {url ? (
                            <a
                                href={`/tags/${tag}/`}
                                class:list={[
                                    common,
                                    'border-[transparent] bg-surface-raised text-content drop-shadow-xl drop-shadow-shadow-dark/5 hover:border-primary hover:bg-primary hover:text-content-loud hover:no-underline hover:drop-shadow-shadow-light/25',
                                ]}
                            >
                                {tag}
                            </a>
                        ) : (
                            <span
                                class:list={[
                                    common,
                                    'border-surface/25 bg-surface/25 text-content',
                                ]}
                            >
                                {tag}
                            </span>
                        )}
                    </li>
                );
            })}
        </ul>
    )
}
<script>
    import { inView, animate, stagger } from 'motion';
    inView(
        "[data-inview='tags']",
        (info: Element) => {
            const queryElementsByAnimation = (animation: string) => {
                return info.querySelectorAll(`[data-animate="${animation}"]`);
            };
            const tag = queryElementsByAnimation('tag');

            if (tag.length > 0) {
                const animation = animate(
                    tag,
                    {
                        opacity: [0, 1],
                        transform: ['translateX(10px)', 'translateX(0px)'],
                    },
                    { duration: 0.2, delay: stagger(0.1) }
                );
                return () => (animation.speed = -1); // Reverse animation on exit
            }
        },
        { amount: 0.25 }
    );
</script>
