---
const {
    tags,
    url = false,
    class: className = 'flex w-full flex-wrap items-center gap-2 text-sm leading-none',
} = Astro.props;
const pathname = new URL(Astro.request.url).pathname;
import { Icon } from 'astro-icon/components';
---

{
    tags && Array.isArray(tags) && (
        <ul class={className}>
            {tags.map((tag) => (
                <li>
                    {url ? (
                        <a
                            href={`/tags/${tag}`}
                            class="flex items-center gap-x-1 whitespace-nowrap rounded-[12px] bg-yellow-300 px-2 py-5px text-2sm font-medium lowercase leading-none text-neutral-800 hover:bg-accent hover:text-white hover:ring-accent"
                        >
                            {tag === 'featured' && (
                                <Icon
                                    name="mdi:star"
                                    class="-my-2 -ml-0.5 h-4 w-4 text-yellow-500"
                                />
                            )}
                            {tag}
                        </a>
                    ) : (
                        <span class="flex items-center gap-x-1 whitespace-nowrap rounded-[12px] bg-yellow-300 px-2 py-1.5 text-2xs font-medium lowercase leading-none text-neutral-800">
                            {tag === 'featured' && (
                                <Icon
                                    name="mdi:star"
                                    class="-my-2 -ml-0.5 h-4 w-4 text-yellow-500"
                                />
                            )}
                            {tag}
                        </span>
                    )}
                </li>
            ))}
        </ul>
    )
}
