---
interface Props {
    tags: string[];
    url?: boolean;
    class?: string;
}
const {
    tags,
    url = false,
    class: className = 'flex w-full flex-wrap items-center gap-2 text-sm leading-none',
} = Astro.props;
import { Icon } from 'astro-icon/components';
---

{
    tags && (
        <ul class:list={[className]}>
            {tags.map((tag) => (
                <li>
                    {url ? (
                        <a
                            href={`/tags/${tag}`}
                            class=" inline-flex items-center gap-x-1 whitespace-nowrap rounded-tight bg-tag-bg__link px-2 py-5px text-sm font-medium lowercase leading-none text-tag hover:bg-tag-bg__hover hover:ring-accent"
                        >
                            {tag === 'featured' && (
                                <Icon
                                    name="mdi:star"
                                    class="-my-2 -ml-0.5 h-4 w-4 text-yellow-500"
                                />
                            )}
                            {tag}
                        </a>
                    ) : (
                        <span class="inline-flex items-center gap-x-1 whitespace-nowrap rounded-tight bg-tag-bg px-2 py-1.5 text-sm font-medium lowercase leading-none">
                            {tag === 'featured' && (
                                <Icon
                                    name="mdi:star"
                                    class="-my-2 -ml-0.5 h-4 w-4 text-yellow-500"
                                />
                            )}
                            {tag}
                        </span>
                    )}
                </li>
            ))}
        </ul>
    )
}
