---
interface Props {
    bg?: string;
}
const { bg } = Astro.props;
---

<div
    x-cloak
    class="pointer-events-none fixed left-1/2 top-screenSvh z-toast w-full -translate-x-1/2 -translate-y-full p-fl-space-xs md:max-w-sm"
>
    <div
        class:list={[
            'shadow-overlay rounded-tight',
            bg || 'from-surface-overlay to-surface bg-gradient-to-b',
        ]}
    >
        <slot />
    </div>
</div>
