---
interface Props {
    bg?: string;
    id?: string;
    hidden?: boolean;
}
const { id, bg, hidden = true } = Astro.props;
---

<div
    id={id}
    x-cloak
    class:list={[
        'pointer-events-auto rounded-tight shadow-overlay',
        bg || 'bg-gradient-to-b from-surface-overlay to-surface',
        hidden && 'hidden',
    ]}
>
    <slot />
</div>
